---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Donchian Width
AccordionID: chrt-ti-donchian-width
---

<p>The Donchian Width (DW) indicator measures the difference between the high and low bands of the <a href="chrt-ti-donchian-channel.html">Donchian Channel</a> indicator. The DW indicator rises when the width of the channel increases and descends when the width of the channel decreases, which indicates whether the volatility is increasing or descreasing.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>High Period</strong>: Number of bars to use for the highest high price.</li>
  <li><strong>Low Period</strong>: Number of bars to use for the lowest low price.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>
<p>\[ DW = DC_{upper} - DC_{lower} \]</p>
<p>where DC represents the bands of the Donchian Channel indicator.</p>
