---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Trade Volume Index (TVI)
AccordionID: chrt-ti-trade-volume-index
---

<p class="BodyOther">The Trade Volume Index (TVI) leverages intraday market data to show whether a security is being accumulated (purchased) or distributed (sold). The Trade Volume Index assumes that higher prices represent buy orders while lower prices are sell orders.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Min Tick Value</strong>: Minimum price movement required to include in the calculation.</li>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2 id="formula">Formula</h2>
<p>\[EMA1 = EMA1_\text{n-1} + \left ((\frac{2}{(n + 1)}) * (P_n - EMA1_\text{n-1}) \right)\]</p>
<p hidden>\(EMA2 = EMA2n-1 + ((2 / (n + 1)) * (EMA1n - EMA2n-1)))\</p>
<p>\[EMA2 = EMA2_\text{n-1} + \left ((\frac{2}{(n + 1)}) * (EMA1_n - EMA2_\text{n-1}) \right)\]</p>
<p hidden>\(EMA3 = EMA3n-1 + ((2 / (n + 1)) * (EMA2n - EMA3n-1)))\</p>
<p>\[EMA3 = EMA3_\text{n-1} + \left ((\frac{2}{(n + 1)}) * (EMA2_n - EMA3_\text{n-1}) \right)\]</p>
<p hidden>TRIX = (EMA3n - EMA3n-1 ) / EMA3n-1)\</p>
<p>\[ TRIX = \frac{(EMA3_n - EMA3_\text{n-1})}{EMA3_\text{n-1}} \]</p>
<p>where:</p>
<ul list-style-type="">
  <li>P<sub><i>n</i></sub> =the current price.</li>
  <li>EMA1<sub><i>n</i>-1</sub> = the exponential moving average value of <i>n</i> periods back</li>
  <li>EMA2<sub><i>n</i>-1</sub> = the exponential moving average value of <i>n</i> periods back</li>
  <li>EMA3<sub><i>n</i>-1</sub> = the exponential moving average value of <i>n</i> periods back</li>
</ul>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
  <img src="Content/Technical_Indicator_Definitions192.jpg">
  
  </img>
</p>-->