---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Volume Underlay
AccordionID: chrt-ti-volume-underlay
---

<p class="BodyOther">The Volume Underlay indicator simply displays the total volume as a bar chart beneath each of the chart's periods. Unlike other indicators that display in a sub-window, the Volume Underlay indicator displays within the actual chart.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2>Formula</h2>
<p>The Volume Underlay equals the total volume.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions158.jpg">
          
          </img>
        </p>-->
      