---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Chande Momentum Oscillator (CMO)
AccordionID: chrt-ti-chande-momentum-oscillator
---

<p>The Chande Momentum Oscillator (CMO) attempts to capture the momentum of the instrument.
	The indicator oscillates between -100 and 100 with overbought level
of 50 and oversold level of -50.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
	<li>{% include ti-color-selectors-blurb.html %}</li>
	{% include ti-over-zones-blurb.html %}
	<li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>
<p>\[CMO = \left (\frac{PosSum - NegSum}{PosSum + NegSum}  \right )\times 100\] </p>
<p>where:</p>
<p>\[PosSum = \sum (Close_{current}\;-\;Close_{previous})\;when\;(Close_{current}\;-\;Close_{previous}) > 0\]</p>
<p>\[NegSum = \sum \left | (Close_{current}\;-\;Close_{previous}) \right |\;when\;(Close_{current}\;-\;Close_{previous}) <  0\]</p>

<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions160.jpg">
	
	</img>
</p>-->