---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Performance Index
AccordionID: chrt-ti-performance-index
---
<p>The Performance Index indicator is used to compare the price trend of one instrument with the performnance of a benchmark index.</p>

<p><strong>Note</strong>: The Performance Index is valid only when comparing multiple instruments using either <a href="chrt-adding-a-comparison.html">Comparisons</a> or <a href="chrt-adding-a-series.html">Series</a>. When more that two instruments are used, each correlation indicator is compared to the chart's first instrument.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
	<li>Comparison Symbol: Instrument from the chart to compare.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
</ul>

<h2>Formula</h2>
<p>\[ PI = \frac {Instr\ Close}{Index\ Close} \times \frac {Index \ MA}{Instr \ MA} \]</p>
<p>where MA is the moving average.</p>