---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Moving Average Envelope (MAE)
AccordionID: chrt-ti-moving-average-envelope
---

<p class="BodyOther">The Moving Average Envelope creates an envelope around a moving average to find overbought or oversold conditions, to smooth the price trend and as an indicator of price breakouts. The moving average envelope uses a moving average as the center line with a lower and upper bands added a percetnage above and below the center line.</p>

<!--
<p>Moving average envelopes create a “crayon” approach to moving averages rather than a sharp point pen. As such, moves above the upper line or below the lower line are more meaningful that moves through average itself. Price action often moves through averages even as there are no changes in range or trend. This problem can be avoided with envelopes.</p>
-->

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
	<li>{% include ti-period-blurb.html %}</li>
  <li><strong>Shift Type</strong>: Type of offset (percent or points)</li>
  <li><strong>Shift</strong>: Percentage or number of points to offset above or below the average.</li>
	<li>{% include ti-moving-average-type-blurb.html %}</li>
	<li><strong>Channel Fill</strong>: Whether to shade the area between the top and bottom lines.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p>Envelopes start with any moving average type (see Moving Averages for formulas) and then creates an offset x% above or below the average or an offset Y points above or below the average.
</p>
<ul>
  <li>
    For percentage envelopes:
    <p></p>
    Upper band = moving average + x%(moving average)
    <br>Lower band = moving average – x%(moving average)
  </li>
  <li>
    For points envelopes:
    <p></p>
    Upper band = moving average + constant
    <br>Lower band =  moving average – constant </li>
</ul>

<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
          
          </img>
        </p>-->
      