---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Williams % R (WillR)
AccordionID: chrt-ti-williams-r
---

<p class="BodyOther">The %R indicator was developed by Larry Williams
  and introduced in his 1979 book How I Made $1,000,000 Trading Commodities
  Last Year. Williams %R is similar to a stochastic oscillator, as
  it normalizes the price as a percentage between 0 and 100. It is basically
an inverted version of the 'Raw %K' value of a Fast Stochastic.</p>

<p>Selecting the Williams %R indicator allows you to set the <b>Period</b> (as number of minutes) and the color of the result.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>\[ \%R = -100 \times \left ( \frac{( Highest\; High - Close)}{(Highest\; High - Lowest\; Low )} \right ) \]</p>
<p>Where:</p>
<ul>
  <li>Close = the current closing price</li>
  <li>Highest High = the highest high in the past <i>n</i> periods</li>
  <li>Lowest Low = the lowest low in the past  <i>n</i> periods</li>
</ul>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
  <img src="Content/Technical_Indicator_Definitions225.jpg">
  
  </img>
</p>-->