---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Fractal Chaos Oscillator (FCO)
AccordionID: chrt-ti-fractal-chaos-oscillator
---

<!--
<p> The chaotic nature of stock market movements explains why it is sometimes difficult to distinguish hourly charts from monthly charts if the time scale is not given. The patterns are similar regardless of the time resolution. To determine what is happening in the current level of resolution, the fractal chaos oscillator can be used to examine these patterns.</p>
-->

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-color-selectors-blurb.html %}</li>
	<li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<h2>Formula</h2>

<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions162.jpg">
	
	</img>
</p>-->