---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Mass Index (MI)
AccordionID: chrt-ti-mass-index
---

<p class="BodyOther">The Mass Index indicator, developed by Donald Dorsey, uses the bar range to identify trend reversals based on range expansions. It is more of a volatility indicator as it does not have a directional bias. It identifies trending and congession areas, which can occur before change in trend.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
  <li><strong>Bulge Threshold</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[EMA_{1} = 9-period\;EMA\;of\;the\;range\;(H-L)\]</p>
<p class="BodyOther">\[DEMA_{1} = 9-period\;EMA_{1}\]</p>
<p class="BodyOther">\[EMA Ratio = \frac{EMA_{1}}{DEMA_{1}}\]</p>
<p class="BodyOther">\[MI = 25-period\;sum\;of\;the\;EMA\;Ratio\]</p>
 
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
         
          </img>
        </p> -->
      