---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Median Price (MP)
AccordionID: chrt-ti-median-price
---

<p>The Median Price (MP) indicatior shows the median price for a range of prices by averaging the high and low values of the analyzed interval.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li><strong>Overlay</strong>: Whether to display the curve on top of the graph or in a separate bottom section.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[MP = \frac{High + Low}{2} \]</p>
 
