---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Price Momentum Oscillator
AccordionID: chrt-ti-price-momentum-oscillator
---
<p class="BodyOther">The Price Momentum Oscillator (PMO) indicator compares the
 current price with the previous price from a selected number of
 periods ago. This indicator is similar to the “Rate of Change” indicator,
 but the MOM does not normalize the price, so different instruments
 can have different indicator values based on their point values.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
  <li><strong>Smoothing Period</strong>: TBD</li>
  <li><strong>Double Smoothing Period</strong>: TBD</li>
  <li><strong>Signal Period</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>TBD</p>
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->