---
widget: chrt
layout: desc-tab
list: technicalindicators
title: ATR Trailing Stops
AccordionID: chrt-ti-atr-trailing-stops
---
<p>The ATR Trailing Stops indicator sets trailing stops to close positions based on the average true range. Wider stops indicate more volatility, while narrower stops indicate less volatility.</p>

{% include chrt-ti-images.html %}

<ul>
	<li><strong>Multiplier</strong>: Multiples vary between 2.5 and 3.5 ATR, with 3 being the default.</li>
  <li>{% include ti-period-blurb.html %} ATR typically uses between a 5- and 21-period span.</li>
  <li>
  	<strong>Plot Type</strong>: Format for the stop, which can be set by setting the plot type to:
  	<ul>
  	  <li>Points</li>
  	  <li>Squarwave</li>
  	</ul>
  </li>
  <li><strong>HighLow</strong>: The High/Low option bases the stop on the previous period’s high for up trends and previous period’s low for down trends.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>
<p>TR (True Range) is defined as the greatest of the following:</p>
<ul>
  <li>Current high minus the current low</li>
  <li>Current high minus the previous close (absolute value)</li>
  <li>Current low minus the previous close (absolute value)</li>
</ul>

<p>ATR = simple moving average of TR</p>

<!--
<p>ATR Trailing Stop in a rising trend is highest price over the user-defined span minus (multiplier * ATR). If prices continue to rise, the stop will continue to rise. However, if prices flatten out or pull back the stop will be flat. Only when price dips below the flat stop line will it flip to the inverse with the stop above prices.</p>

<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->