---
widget: chrt
layout: desc-tab
list: technicalindicators
title: RSI
AccordionID: chrt-ti-rsi
---

<p class="BodyOther">The Relative Strength Index (RSI) is used to measure underlying strength of a market move. RSI uses the prior bar's close to current bar's close change. The current price is normalized as a percentage
between 0 and 100. </p>

<!--
<p>Prices are generally considered to be elastic in that they can move only so far from a mean price before reacting or retracing. The slope and values of the RSI are directly proportional to the velocity and magnitude of the price move and are extremely helpful in identifying overbought and oversold situations.</p>
<p>The RSI value itself ranges from 0 to 100 and support, resistance and trends can be found on the RSI plot. An RSI value above 80 indicates a possible overbought situation and a value below 20 indicates a possible oversold condition. This does not mean, however, that a market will immediately reverse once either of these levels is reached. It is more likely that the market will pause to consolidate, resulting in a more neutral RSI value.</p>
-->


<p>Relatively high RSIs (60-80) normally accompany a rising trend and relatively low RSIs (20-40) normally accompany a declining price trend. If price makes a higher high and RSI makes a lower high, the divergence between the two could signal bearish market reversals. Conversely, a lower low in price and higher low in RSI could signal a bullish market reversal.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[RSI = 100 - \frac{100}{(1 + RS)}\]</p>
<p class="BodyChapterLevel">Where:</p>
<!--
RS = ratio of smoothed average of n-period gains divided by the
absolute value of the smoothed average of n-period losses.</p>
-->
<p>\[ RS = \frac{(Average\;of\;the\;up\;closes\;over\; n\;periods)}{(Average\; of\; the\; down\; closes\; over\; n\;periods)} \]</p>

<p>The average of the “up closes” refers to the total changes higher over the past <i>n</i> periods (not the last <i>n</i> up-periods) divided by <i>n</i>. The average of “down closes” refers to the total changes lower over the same span.</p>

<p>RSI values are smoothed in an exponential manner after the initial calculation whereby the averages of up closes and down closes are each divided by n-1 and the new period’s up or down close is added. The result is then divided by n.  As follows:</p>
<ul>
  <p>\[ Average\; up\; close = \frac{(previous\; average\; up\; close * (n-1) + current\; up\; close)}{n} \]</p>
  <p>\[ Average\; down\; close = \frac{(previous\; average\; down\; close * (n-1) + current\; down\; close)}{n} \]</p>
</ul>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions142.jpg">
            
          </img>
        </p>-->
