---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Volume on the Bid (BVol)
AccordionID: chrt-ti-volume-on-the-bid
---

<p class="BodyOther">The Bid Volume (BVol) study displays the
total amount of transactions occurring on the Bid in a given interval.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">Bid Volume = Number of contracts traded at
the Bid.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions158.jpg">
           
          </img>
        </p>-->
      