---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Gopalakrishnan Range Index (GAPO)
AccordionID: chrt-ti-gopalakrishnan-range-index
---

<p class="BodyOther">Gopalakrishnan Range Index, developed by Jayanthi Gopalakrishnan, attempts to determine the variability of price data based on the log of the price range over a user defined n-periods.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther"></p>
 <p class="BodyChapterLevel">\[GRI = \frac{log(HighestHigh_{n-periods} - LowestLow_{n-periods})}{log(n-periods)}\]</p>
  
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
           
          </img>
        </p>-->
      