---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Williams Accumulation Distribution (ACC Dist)
AccordionID: chrt-ti-williams-accumulation-distribution
---

<p class="BodyOther">The Williams Accumulation Distribution indicator was developed by Larry Williams. This indicator is calculated by finding the True Range High and True Range Low values for the day with:
<p>True Range High = the higher value between yesterday's close and the day's high price.</p>
<p>True Range Low = the lowest value between yesterday's close and the day's low price.</p>
    . These values are the highest/lowest between yesterday's close and the day's opening prices.</p>
<p>Selecting the Williams Accumulation Distribution indicator allows you to set the <b>Period</b> (as number of minutes) and the color of the result.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Use Volume</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
        <p>If today's close is greater than yesterday's close:<p>
            <p>then the Accumlation/Distribution will equal the today's close minus the True Range Low.</p> 

        <p>If today's close is less than yesterday's close:<p>
            <p>then the Accumlation/Distribution will equal the today's close minus the True Range High.</p> 

<p>The Williams' Accumulation/Distribution indicator is a cummulative total of today's Accumulation/Distribution and the Accumulation/Distribution from the previous day.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions225.jpg">
            
          </img>
        </p>-->
