---
widget: chrt
layout: task-tab
title: Entering orders on a chart
AccordionID: chrt-entering-orders-on-a-chart
---


 <div>
    <!--   <h3 id="chart-order">Entering orders on a chart</h3> -->
    <h3>To enter orders on a chart:</h3>

 
      <ol>
        <li><p>Click <img src="Content/icon-menu.png"> </img> (the chart menu icon) in the top left corner of the chart and click <img src="Content/icon-chart-trading.png"> </img> (the enable trading icon) in the Chart menu.

      

           <p><b>Note</b>: The <b>Show Working Orders</b> setting in the Chart settings is enabled by default when you enable trading.</p>
      </li>

        <li><p>In the order pane, select an account, order type, and order restriction (TIF) . You can also use the default settings for each.</p>

         <p>
            <img class="img-responsive" src="Content/chrt-chart-enter-order2.png"> </img>
        </p>

        </li>
            <li><p>Enter an order quantity. You can type in a value, use
                your <a href="chrt-chart-trading.html#chart-default">default order quantity</a>, or click one of the quantity buttons. You can use the <b>CLR</b> button to clear the quantity field.</p>
               <p>
            <img class="img-responsive" src="Content/chrt-chart-enter-order-qty.png"> </img>
              </p> </li>

            <li><p>Click a cell in either the Bids (blue) or Asks (red) column next to a price level to enter the order.</p>

                 <p>When you hover on a cell, both the price in the price axis and the cell where the cursor is hovering are highlighted to provide you with a clear indication of whether you will be entering a buy or a sell order by displaying the price in blue (buy) or red (sell). When you click the cell to enter the order, the buy or sell price at which you entered the order remains highlighted.</p>

         <p>
            <img class="img-responsive" src="Content/chrt-chart-enter-order3.png"> </img>
        </p>
      </li>
     


<div>
 <h2>Customizing order quantity buttons</h2>


  {% include custom1.html %}

<p><img class="img-responsive" src="Content/trade-custom-chrt-button1.png"></p>
  {% include custom2.html %}
<p><img class="img-responsive" src="Content/trade-custom-chrt-button2.png"></p>

  {% include custom3.html %}


</div> 

</div>