---
widget: chrt
layout: desc-tab
list: technicalindicators
title: ZigZag
AccordionID: chrt-ti-zigzag
---
<p class="BodyOther">The ZigZag indicator can be used to determine a reversing market trend. 
	The indicator determines support and resistance levels on the chart based on a percentage of reversing price movements. The percentage of price movement is user-defined and the value can be used to filter out smaller price fluctuations.</p>


{% include chrt-ti-images.html %}

<ul>
  <li><strong>Distance (%)</strong>: Minimum price fluctuation threshold to display in the chart.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>TBD</p>
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->