---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Schaff Trend Cycle (STC)
AccordionID: chrt-ti-schaff-trend-cycle
---

<p class="BodyOther">The Schaff Trend Cycle (STC) indicator is an oscillator that provides buy and sell signals for trading and identifies market trends. Buy and sell points are typically set at 25 levels upward (buy) and 75 levels downward (sell).</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
	<li>{% include ti-period-blurb.html %}</li>
  <li><strong>Short Cycle</strong>: Length of the long-moving average period.</li>
  <li><strong>Long Cycle</strong>: Length for the short-moving average period.</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
        <p>TBD</p>
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions142.jpg">
            
          </img>
        </p>-->
