---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Standard Deviation
AccordionID: chrt-ti-standard-deviation
---

<p class="BodyOther">The Standard Deviation indicator is a statistical calculation used to measure the variability. In trading this value is known as volatility. A low standard deviation indicates that the data points tend to be very close to the mean, whereas high standard deviation indicates that the data points are spread out over a large range of values.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-field-blurb.html %}</li>
  <li><strong>Standard Deviations</strong>: TBD</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>\[ s = \sqrt \frac{\sum (X -\bar X)^2}{(N-1)} \]</p>
<p>where:</p>
<ul>
  <li>s = Standard deviation</li>
  <li>X = Each value in the sample</li>
  <li><span style="text-decoration:overline;">X</span> = Mean of the values</li>
  <li>N = Number of values (sample size)</li>
</ul>

<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
  <img src="Content/Technical_Indicator_Definitions142.jpg">
  
  </img>
</p>-->