---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Volume
AccordionID: chrt-ti-volume
---

<p class="BodyOther">The Volume indicator simply displays the total volume as a bar chart aligned with each of the chart's periods. The red indicates when the close price is lower than the open price and the green represents when the close is higher than the open price for that interval.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2>Formula</h2>
<p>The Volume indicator equals the total volume.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions158.jpg">
            
          </img>
        </p>-->
      