---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Correlation Coefficient
AccordionID: chrt-ti-correlation-coefficient
---
<p>The Correlation Coefficient indicator helps identify the level of correlation between multiple instruments. When two instruments trend in the same direction, whether higher or lower, a stronger positive correlation is indicated. Likewisem, when the prices of the instruments trend in opposite directions, a stronger negative correlation is indicated. The correlation fluctuates between -1 and 1, with 0 meaning no correlation exists between the instruments.</p>

<p><strong>Note</strong>: The Correlation Coefficient indicator is valid only when comparing multiple instruments using either <a href="chrt-adding-a-comparison.html">Comparisons</a> or <a href="chrt-adding-a-series.html">Series</a>. When more that two instruments are used, each correlation indicator is compared to the chart's first instrument.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
</ul>

<!--
<h2>Formula</h2>
-->
