---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Chande Forecast Oscillator (CFO)
AccordionID: chrt-ti-chande-forecast-oscillator
---

<p class="BodyOther">The Chande Forecast Oscillator plots the percentage difference between the closing price and the n-period linear regression forecasted price. The oscillator is above zero when the forecast price is greater than the closing price and less than zero if it is below.</p>

{% include chrt-ti-images.html %}

<ul>
    <li>{% include ti-field-blurb.html %}</li>
      <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[CFO_{i} = \frac{(Close_{i} - Linear\;Regression)\times 100}{Close_{i}} \] </p>
<p class="BodyOther">where linear regresion is calcualted as</p>
<p class="BodyOther">\[slope\;=\;m\;=\;\frac{\sum_{i=1}^{n}(x_{i} - \bar{x})(y_{i} - \bar{y})}{\sum_{i=1}^{n}(x_{i} - \bar{x})^{2}}\]</p>
<p class="BodyOther">\[intercept\;=\;b\;=\;\bar{y} - m\bar{x}\]</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions160.jpg">
            
          </img>
        </p>-->
      