---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Klinger Volume Oscillator (KVO)
AccordionID: chrt-ti-klinger-volume-oscillator
---

<p class="BodyOther">Klinger Volume Oscillator, developed by Stephen Klinger, uses the key price compared to the prior bar's key price to assign volume as positive or negative value.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Signal Periods</strong>: TBD</li>
  <li><strong>Short Cycle</strong>: Number of periods to include in the short cyle.</li>
  <li><strong>Long Cycle</strong>: Number of periods to include in the long cycle.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[Key\;Price_{t} = \frac{High_{t} + Low_{t} + Close_{t}}{3}  \]</p>
<p class="BodyOther">\[Key\;Price_{t-1} = \frac{High_{t-1} + Low_{t-1} + Close_{t-1}}{3}  \]</p>
<p class="BodyOther">\[ Trend = \begin{pmatrix}
if\;Key\;Price_{t} > Key\;Price_{t-1}, & Volume \\ 
if\;Key\;Price_{t} < Key\;Price_{t-1}, & -Volume & 
\end{pmatrix} \]</p>
<p class="BodyOther"></p>
<p class="BodyOther">\[KVO = EMA_{short-period}(Trend) - EMA_{long-period}(Trend) \]</p>
<p class="BodyOther">\[KVO\;Signal = EMA_{signal}(KVO)\]</p>
<p class="BodyOther">where</p>
<p class="BodyOther">\[EMA = exponential\;moving\;average\;of\;user\;defined\;lengths\;of\;short-period,\;long-period,\;and\;signal.\]</p>

<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions163.jpg">
          
          </img>
        </p>-->
      