---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Rainbow Moving Average
AccordionID: chrt-ti-rainbow-moving-average
---
<p class="BodyOther">The Rainbow Moving Average indicator shows multiple simple moving averages (SMAs) all at once for a specific time period. Each SMA is calculated based on the previous SMA and is color-coded in the chart.</p>


{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
	<li>{% include ti-period-blurb.html %}</li>
  <li><strong>Underlay</strong>: Whether to display the curve behind the graph.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[Simple = MA = \frac{\sum_{i=1}^{n} Close_{i}}{n}\]</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->