---
widget: chrt
layout: desc-tab
list: technicalindicators
title: ATR Bands
AccordionID: chrt-ti-atr-bands
---
<p class="BodyOther">The ATR Bands indicator shows trends in price movements. Based on the average true range (ATR), the ATR bands are plotted around the ATR values to indicate the direction of movements in price.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li><strong>Shift</strong>: Number of ATR multiples to draw the bands above and below the ATR.</li>
  <li>{% include ti-field-blurb.html %}</li>
  <li><strong>Channel Fill</strong>: Whether to shade the area between the bands.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>ATR Bands take multiples of the ATR and plot them as bands above and below the ATR line.</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->