---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Lowest Low Value (LL)
AccordionID: chrt-ti-lowest-low-value
---

<p class="BodyOther">The Lowest Low Value indicator simply returns the lowest low price over a user defined n-periods.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[LL = Min(Low)_{n-periods}\]</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions163.jpg">
            
          </img>
        </p>-->
      