---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Donchian Channel
AccordionID: chrt-ti-donchian-channel
---

<p>The Dochian Channel indicator creates a channel between the highest high price and lowest low price for the previous user-defined number of bars. The width of the channel helps visualize the volatility of the market price. If the price fluctuates a lot, the channel will be wider. Converely, when the price moves less, the channel will be narrower. The center line tracks the midpoint between the bands.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>High Period</strong>: Number of bars to use for the highest high price.</li>
  <li><strong>Low Period</strong>: Number of bars to use for the lowest low price.</li>
  <li><strong>Channel Fill</strong>: Whether to shade the region between the upper and lower bands.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
  <li><strong>Include In Auto Scale</strong>:</li>
</ul>

<h2>Formula</h2>
<p>The Donchian Channel uses the following formulas:</p>
<ul>
	<li>\( DC_{upper} = High_{n-periods} \)</li>
	<li>\( DC_{lower} = Low_{n-periods} \)</li>
	<li>\( DC_{middle} = \frac {DC_{upper} + DC_{lower}}{2} \)</li>
</ul>
