---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Intraday Momentum Index (IMI)
AccordionID: chrt-ti-intraday-momentum-index
---

<p>The Intraday Momentum Index (IMI) indicator is similar to the Relative Strength Index (RSI) indicator. It is used to measure underlying strength of a market move. IMI measures the change between the current bar's open and close prices, while RSI uses the prior bar's close to current bar's close change. The current price is normalized as a percentage
between 0 and 100. /p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

        
<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">For each period an upward and downward change is calculated as follows:</p>
<p class="BodyOther">\[Upward =  if\;Close_{t} - Open_{t} > 0\;then\;Close_{t} - Open_{t},\;else\;0 \]</p>
<p class="BodyOther">\[Downward = if\;Close_{t} - Open_{t} < 0\;then\;Open_{t} - Close_{t},\;else\;0 \]</p>
<p class="BodyOther">\[IMI = \frac{\sum_{i=1}^{n} Upward}{\left ( \sum_{i=1}^{n} Upward + \sum_{i=1}^{n} Downward \right )} \times 100\]

<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions162.jpg">
     
          </img>
        </p>-->
  