---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Chaikin Volatility (CV)
AccordionID: chrt-ti-chaikin-volatility
---

<p class="BodyOther">The Chaikin Volatility, developed by Marc Chaikin, uses the bar range to measure volatility by comparing the differences between the high and low prices using a standard rate of change formula. The Chaikin curve oscillated -100% and +100% of the difference, with values below 0 indicating lower volatility and values above 0 indicating higher volatility.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li><strong>Rate Of Change</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[Chaikin\;Volatility = \left ( \frac{\left (High-Low\;Average)_{current} - (High-Low\;Average)_{n-periods\;ago} \right )}{(High-Low\;Average)_{n-periods\;ago}} \right )\times 100\]</p>
<p class="BodyOther">where:</p>
<p class="BodyOther">\[(High-Low\;Average)= Exponential\;moving\;average\;of\;(High - Low)\; for\;n\text{-}periods\]</p>

<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
           
          </img>
        </p>-->
    
