---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Price Rate of Change
AccordionID: chrt-ti-price-rate-of-change
---
<p>The Price Rate of Change indicator is used to identify overbought or oversold conditions. It compares the current price with the previous price from a selected number of periods ago. The current price is divided by the previous price and expressed as a percentage. The rate increases until it reaches a market specific level. Extreme rates of increase could mean that the market is overheated and in need of a pause.</p>
{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
	<li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>

<p>\[PROC = \frac{CurrentPrice - Price_{n-periods\ ago} * 100}{Price_{n-periods\ ago}} -1 \]</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->