---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Shinohara Intensity Ratio
AccordionID: chrt-ti-shinohara-intensity-ratio
---
<p class="BodyOther">The Shinohara Intensity Ratio indicator...</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>TBD</p>
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->