---
widget: chrt
layout: desc-tab
list: technicalindicators
title: RAVI
AccordionID: chrt-ti-ravi
---

<p class="BodyOther">The RAVI indicator shows the percentage difference between current prices and past prices to identify market trends. It is calculated based on moving averages of different lengths.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li><strong>Short Cycle</strong>: Length of the long-moving average period.</li>
  <li><strong>Long Cycle</strong>: Length for the short-moving average period.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2 class="Blurb">Formula</h2>
<p>\[ RAVI = \frac{100 * (n{\text -}period\;short\;moving\;average - n{\text -}period\;long\;moving\;average)}{n{\text -}period\;long\;moving\;average} \]</p>


<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
  <img src="Content/Technical_Indicator_Definitions142.jpg">
  
  </img>
</p>-->