---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Absolute Price Oscillator
AccordionID: chrt-ti-absolute-price-oscillator
---

<p class="BodyOther">The Absolute Price Oscillator is based
 on the absolute differences between two moving averages of different
 lengths: a ‘Fast’ and a ‘Slow’ moving average.</p>


{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-field-blurb.html %}</li>
  <li><strong>Long Cycle</strong>: Number of periods to use for the slow moving average.</li>
  <li><strong>Short Cycle</strong>: Number of periods to use for the fast moving average.</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li><strong>Points or Percent</strong>: Whether to display the curve as a point difference or percent difference.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

        <h2 class="Blurb">Formula</h2>
        <p>APO = Long Cycle (Slow Moving Avg) - Short Cycle (Fast Moving Average)</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
           
          </img>
        </p>-->
    
