---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Pring's Know Sure Thing (KST)
AccordionID: chrt-ti-prings-know-sure-thing
---
<p class="BodyOther">The Pring's Know Sure Thing (KST) indicator is a momentum oscillator based on the smoothed rate-of-change for four different timeframes. Pring frequently applied trend lines to KST. Although trend line signals do not occur often, Pring notes that such breaks reinforce signal line crossovers.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-field-blurb.html %}</li>
  <li><strong>Lightest Rate of Change Period</strong>: TBD</li>
  <li><strong>Lightest SMA Period</strong>: TBD</li>
  <li><strong>Light Rate of Change Period</strong>: TBD</li>
  <li><strong>Light SMA Period</strong>: TBD</li>
  <li><strong>Heavy Rate of Change Period</strong>: TBD</li>
  <li><strong>Heavy SMA Period</strong>: TBD</li>
  <li><strong>Heaviest Rate of Change Period</strong>: TBD</li>
  <li><strong>Heaviest SMA Period</strong>: TBD</li>
  <li><strong>Signal Period</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>The indicator formula utilizes four different time frames to show overall momentum, and not just momentum over one specific timeframe:</p>

<ul>
  <li>ROCMA1 = 10-Period SMA of 10-Period Rate-of-Change </li>
  <li>ROCMA2 = 10-Period SMA of 15-Period Rate-of-Change</li>
  <li>ROCMA3 = 10-Period SMA of 20-Period Rate-of-Change</li>
  <li>ROCMA4 = 15-Period SMA of 30-Period Rate-of-Change</li>
</ul>

<p>\[ KST Line = (RoCMA1 \times 1) + (RoCMA2 \times 2) + (RoCMA3 \times 3) + (RoCMA4 \times 4) \]</p>
<p>Signal Line = 9-period SMA of KST</p>
 
 <p>where, SMA stands for Simple Moving Average and ROC stands for Rate-of-Change.</p>

<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->