---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Linear Regression Intercept (LRI)
AccordionID: chrt-ti-linear-regression-intercept
---

<p class="BodyOther">Linear regression is a statistical tool used
to help predict future values from past values. It is commonly used
as a quantitative way to determine the underlying trend and when
prices are overextended. A linear regression trendline uses the
least squares method to plot a straight line through prices so as
to minimize the distances between the prices and the resulting trendline.
This linear regression intercept indicator plots the intercept for
the trendline for each data point.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">The best fit line associated with the n points
(x1, y1), (x2, y2), . . . , (x<sub>n</sub>, y<sub>n</sub>) has the
form y = mx + b</p>
<p class="BodyOther">\[slope\;=\;m\;=\;\frac{\sum_{i=1}^{n}(x_{i} - \bar{x})(y_{i} - \bar{y})}{\sum_{i=1}^{n}(x_{i} - \bar{x})^{2}}\]</p>
<p class="BodyOther">\[intercept\;=\;b\;=\;\bar{y} - m\bar{x}\]</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions174.jpg">
            
          </img>
        </p>-->
      