---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Darvas Box
AccordionID: chrt-ti-darvas-box
---
<p class="BodyOther">The Darvas Box indicator is essentially a momentum strategy. It creates boxes when the price of an instrument rises above the previous high but falls back to a price not far from that high. Its purpose is to help traders determine when to enter or exit a market. When the price breaks out of the box, it is a sign of a breakout. The Darvas Box helps traders determine at what price to enter and exit the market.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>ATH Lookback Period</strong>: </li>
  <li><strong>Exit Field</strong>: </li>
  <li><strong>Ghost Boxes</strong>: </li>
  <li><strong>Stop Levels</strong>: </li>
  <li><strong>Level Offset</strong>: </li>
  <li><strong>Price Minimum</strong>: </li>
  <li><strong>Volume Spike</strong>: </li>
  <li><strong>Volume % of Avg</strong>: </li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<!--
<h2>Formula</h2>
<p>TBD</p>
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->