---
widget: chrt
layout: desc-tab
list: technicalindicators
title: On Balance Volume (OBV)
AccordionID: chrt-ti-on-balance-volume
---

<p class="BodyOther">On Balance Volume (OBV) maintains a cumulative
running total of the amount of volume occurring on up periods compared
to down periods.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[ OBV = Cumulative(Up\;Volume - Down\;Volume) \]</p>
 <p class="BodyChapterLevel">Where:</p> 
<ul list-style-type="">
	<!--
<li>Volume = Actual, Tick</li>
-->
<li>Up Volume = Quantity
of volume occurring on up price change</li>
<li>Down Volume = Quantity
of volume occurring on down price change</li>
        </ul>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions195.jpg">
            
          </img>
        </p>-->
      