---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Ulcer Index
AccordionID: chrt-ti-ulcer-index
---
<p class="BodyOther">The Ulcer Index (UI) indicator can be used to determine downside risk by displaying the depth and duration of price declines from their earlier highs. A high UI value is generally an indication that the instrument's price has moved further away from its previous high and may take longer to return to this value.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>The indicator is calculated in three steps:</p>
<ul>
	<p>\[ Percentage\; Drawdown = \frac{Close - (n\text{-}period\; High\; Close)}{n\text{-}period\; High\; Close} \times 100 \]</p>
	<p>\[ Squared\;Average = \frac{\sum_{n=1}^{n\text{-}period} (Percentage\;Drawdown)^2}{n\text{-}period} \]</p>
	<p>\[ Ulcer\;Index = \sqrt{Squared\;Average} \]</p>
</ul>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->