---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Market Facilitation Index
AccordionID: chrt-ti-market-facilitation-index
---

<p class="BodyOther">The Market Facilitation Index indicator measures the strength or weakness behind movements in an asset's price. It helps you decide whether a trend is strong enough to justify trading it and when a new trend may be about to start.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Scale Factor</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>To calculate Market Facilitation Index you need to subtract the lowest bar price from the highest bar price and divide it by the volume.</p>
<p>\[BW\ MFI = \frac{(HIGH - LOW)}{VOLUME} \]</p>
<p>where:</p>
<ul>
  <li>HIGH = the highest price of the bar</li>
  <li>LOW = the lowest price of the bar</li>
  <li>VOLUME = volume of the current bar</li>
</ul>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->