---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Volume At Price (VAP)
AccordionID: chrt-ti-volume-at-price
---

<p class="BodyOther">The Volume at Price indicator displays the total volume for each price level as a bar chart on the right side of the chart. The Volume at Price indicator allows you to add the following indicator styles:
	<ul>
		<li>Volume at Price Stacked: displays the buy volume as a separate bar on top of the sell volume.</li>
		<li>Volume at Price Side by Side: both the buy and sell volume appear on the same bar.</li>
	</ul>

{% include chrt-ti-images.html %}

<ul>
	<li><strong>Max Bar Percentage</strong>: Kaximum length of the volume bars. A value of <b>1</b> means the longest volume bar will cover the entire length of the chart.</li>
	<li><strong>Bar Alpha</strong>: TBD</li>
	<li><strong>Display Volume</strong>: Whether to display the volume as an integer at the end of each bar.</li>
	<li><strong>Enable Tooltip</strong>: Whether to display information when hovering over a spot in the curve.,</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">Each horizontal bar is centered on the price
level and represents the relative total volume traded at that price.</p>
<p class="BodyOther">The longest bar on the VAP technical indicator
extends to the percentage as defined in the <b>Max Bar Percentage</b> 
setting. All other bars are in lengths proportional to the longest
bar.</p>
