---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Ehler Fisher Transformation (EFT)
AccordionID: chrt-ti-ehler-fisher-transformation
---

<p class="BodyOther">Ehler Fisher Transformation indicator tries to identify significant price reversals by normalizing prices over a user-specified number of periods. A reversal signal is suggested when the the two lines cross.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
	<li>{% include ti-color-selectors-blurb.html %}</li>
	<li>{% include ti-display-axis-blurb.html %}</li>
</ul>


<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p class="BodyOther"></p>
<p class="BodyChapterLevel">\[MidPoint = MP = \frac{High - Low)}{2}\]</p>
<p class="BodyChapterLevel">\[Intermediate = I = 2 \times \frac{MP - LowestLow_{n-periods}}{HighestHigh_{n-periods}-LowestLow_{n-periods}}\]</p>
<p class="BodyOther">The intermediate term I is then smoothed by a 5-period exponential moving average (EMA) then transformed to a log form (fisher transform) before a final 3-period exponential moving average (EMA) smoothing:</p>

<p class="BodyOther">\[I_{smoothed} = EMA_{5-period}\;of\;I\]</p>
<p class="BodyOther">\[EFT = EMA_{3-period}\;of\;log \left ( \frac{1+I_{smoothed}}{1-I_{smoothed}} \right )\]</p>

<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="">
	
	</img>
</p>-->