---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Relative Strength Indicator (RSI)
AccordionID: chrt-ti-relative-strength-indicator
---

<p class="BodyOther">The Relative Strength Index (RSI) was published
by J. Welles Wilder. The current price is normalized as a percentage
between 0 and 100. The name of this oscillator is misleading because
it does not compare the instrument relative to another instrument
or set of instruments, but rather represents the current price relative
to other recent pieces within the selected lookback window length.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>TBD</strong>: TBD</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[RSI = 100 - \frac{100}{(1 + RS)}\]</p>
<p class="BodyChapterLevel">Where:
RS = ratio of smoothed average of n-period gains divided by the
absolute value of the smoothed average of n-period losses.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions205.jpg">
         
          </img>
        </p>-->
      