---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Supertrend
AccordionID: chrt-ti-supertrend
---
<p class="BodyOther">The Supertrend indicator is used for timing when to buy and sell based on changes in the trend indicator. Typically, a buy signal is when the indicator value closes below the closing price for an instrument, and a sell signal is when the indicator closes above the closing price.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
  <li><strong>Mulitplier</strong>: Volatility-based mulitplier</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>\[  Upper = \frac{(high + low)}{2} + (Mulitplier * ATR) \]</p>
<p>\[  Lower = \frac{(high + low)}{2} - (Mulitplier * ATR) \]</p>
<p hidden>Upper = ((high + low / 2) + Multiplier * ATR (Only if price &lt; upper)</p>
<p hidden>Lower = ((high + low / 2) – Multiplier * ATR (Only if price &gt; lower)</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->