---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Negative Volume Index
AccordionID: chrt-ti-negative-volume-index
---

<!--
<p class="BodyOther">The Negative Volume Index indicator tracks price data on days when trading volumes (total number of transactions in an asset) show declines when compared to the previous day.  The central idea behind the indicator is that when volume is high, the “uninformed” majority is pushing the current trend higher in a bull market (or lower during a bear market). This activity from the unsophisticated section of the market is a reversal signal as the trend is likely to be at its exhaustion point. Conversely, during days of low volume, the “smart” money is thought to be moving into positions that will define the next wave of trend activity.</p>
-->

<p>The Negative Volume Index (NVI), as well as the <a href="chrt-ti-positive-volume-index.html">Positive Value Index (PVI</a>), indicator tracks the changes in the number of transactions, or trading volume, of an instrument. Price changes on decreasing trading volume are considered to be a positive indicator, while price changes during periods of increased trading volume are considered to be a negative indicator. The idea behid the indicator is that well-informed traders are involved when trading volumes decrease, while increasing trading volumes can indicate a follow-the-crowd mentality.</p>

<p>The MVI displays what the "smart money" is doing; while the PVI tracks what the "not-so-smart money" is doing.</p>


{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>
<p hidden><img src="Content/technical-indicators/pvi-formula.gif" alt=""></p>
<p>Negative volume index is calculated as follows:</p>
<ul>
  <li>
    If today's volume is less than yesterday's volume:

    \[ NVI =  NVI_\text{yesterday} + \left( \frac {FieldPrice - FieldPrice_\text{yesterday}}{FieldPrice_\text{yesterday}} \times NVI_\text{yesterday} \right )\]
  </li>
  <li>
    Otherwise:

    \[ NVI = NVI_\text{yesterday} \]
  </li>
</ul>

<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions142.jpg">
            
          </img>
        </p>-->
