---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Volume on the Ask (AVol)
AccordionID: chrt-ti-volume-on-the-ask
---

<p class="BodyOther">The Ask Volume (AVol) study displays the
total amount of transactions occurring on the Ask in a given interval.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">Ask Volume = Number of contracts traded at
the Ask.</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions158.jpg">
            
          </img>
        </p>
      </div>
</section>