---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Vortex Indicator
AccordionID: chrt-ti-vortex-indicator
---
<p class="BodyOther">The Vortex Indicator consists of two oscillators (VI+ and VI-) used for identifying the start and direction of a market trend. When the VI+ and VI- cross, it generally indicates a market trend. The trend is up when VI+ stays above VI-, and the market trend is down when VI- crosses below VI+.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  {% include ti-over-zones-blurb.html %}
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p>The calculation for the indicator is divided into three parts:</p>

<ol>
    <li>
    	Uptrend and downtrend movement: 
    	<ul>
    	  <li>\( VM+ = {Current High} - {Prior Low} \)</li>
    	  <li>\( VM- = CurrentLow - PriorHigh \)</li>
        <li>\( \sum_{n=1}^{x} VM\verb "+" \)</li>
        <li>\( \sum_{n=1}^{x} {VM\verb "-"} \)</li>
    	</ul>
    	Where "x" is the number of price bars or periods the indicator will look at (between 14 and 30 is common).
    </li>
    <li>
    	True Range (TR) is the greatest of:
    	<ul>
        <li>\( CurrentHigh - CurrentLow \)</li>
        <li>\( \left | CurrentHigh - PrevioiusClose \right | \)</li>
       <li>\( \left | CurrentHigh - CurrentLow \right | \)</li>
         <li>\( \left | CurrentHigh - CurrentLow \right | \)</li>
    	</ul>
    </li>
    <li>
    	Normalize uptrend downtrend movement:
    	<ul>
    	  <li>\( VIx+ = \frac{VMx+}{TRx} \)</li>
        <li>\( VIx- = \frac{VMx-}{TRx} \)</li>
    	</ul>
    </li>
</ol>
<!--
1. Uptrend and downtrend movement: 
 
VM+ = Current high minus prior low
VM- = Current low minus prior high
VMx+ = x-period Sum of VM+
VMx- = x-period Sum of VM-
Where "x" is the number of price bars or periods the indicator will look at (between 14 and 30 is common).
 
2. True Range (TR) is the greatest of:
 
  Current high minus current low
  Current high minus previous close (absolute value)
  Current low minus previous close (absolute value)
 
TRx = x-period Sum of TR
 
3. Normalize uptrend downtrend movement:
 
VIx+ = VMx+/TRx
VIx- = VMx-/TRx
-->
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions142.jpg">
	
	</img>
</p>-->