---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Ichimoku Clouds (ICH)
AccordionID: chrt-ti-ichimoku-clouds
---

<p class="BodyOther">The Ichimoku Clouds study was developed by Goichi
Hosoda pre-World War II as a forecasting model for financial markets.
The study is a trend following indicator that identifies mid-points
of historical highs and lows at different lengths of time and generates
trading signals similar to that of moving averages or <a href="chrt-ti-macd.html">MACD</a>. A key difference
between Ichimoku and moving averages is Ichimoku charts lines are
shifted forward in time creating wider support/resistance areas
mitigating the risk of false breakouts.</p>

<!--
<p>There are five components:</p>
<ul>
  <li>Conversion Line: Sum of the highest high over the past nine periods and the lowest low divided by two</li>
  <li>Base Line: Sum of the highest high over the past 22 periods and the lowest low divided by two.</li>
  <li>Leading Span A: Sum of the Tenkan Sen and the Kijun Sen divided by two. The calculation is then plotted 26 time periods ahead of the current price action.</li>
  <li>Leading Span B: Sum of the highest high and the lowest low over the past 52 periods divided by two. It is also plotted 26 periods ahead.</li>
  <li>Lagging Span: Leading Span B, but plotted 26 periods in the past.</li>
</ul>
-->

<p>The area between the two span lines forms the cloud. It is a thicker version of normal support and resistance lines that takes volatility into account. A break through the cloud and a subsequent move above or below it can indicate that the trend will continue in that direction.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Conversion Line Period</strong>: Number of periods to use for the conversion line calculations.</li>
  <li><strong>Base Line Period</strong>: Number of periods to use for the base line calculations.</li>
  <li><strong>Leading Span B Period</strong>: Number of periods to use for the leading span calculations.</li>
  <li><strong>Laggins Span Period</strong>: Number of periods to use for the lagging line calculations.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

        <h2>Formula</h2>
<p>\[Conversion\;Line = \frac{( Highest High_{cl-periods} + Lowest Low_{cl-periods} )}{2}\;for\;the\;past\;cl-periods\]</p>
<p class="BodyOther">\[Base\;Line = \frac{( Highest High_{bl-periods} + Lowest Low_{bl-periods} )}{2}\;for\;the\;past\;bl-periods\]</p>
<p class="BodyOther">\[Leading\;Span\;A = \frac{( Base\;Line + Conversion\;Line )}{2} \;plotted\;n-periods\;ahead\;of\;the\;current\;bar\]</p>
<p class="BodyOther">\[Leading\;Span\;B = \frac{( Highest High + Lowest Low )}{2}\; for\;the\;past\;b-periods,\;plotted \\ \;m-periods\;ahead\;of\;current\;bar\]</p>
<p class="BodyOther">\[Cloud = Shaded\;Area\;between\;Span\;A\;and\;Span\;B\]</p>
<p class="BodyOther">\[Lagging\;Span = EMA_{x}\;plotted\; \frac{x}{2} \;periods\;behind\]</p>
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions163.jpg">
        
          </img>
        </p>-->
      