---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Accumulation Distribution (ACC Dist)
AccordionID: chrt-ti-accumulation-distribution
---

<p>The Accumulation/Distribution (AD) indicator attempts to quantify the amount of volume flowing into or out of an instrument by identifying the position of the close of the period in relation to that period’s high/low range. The volume for the period is then included in a running continuous total.</p>

{% include chrt-ti-images.html %}

<ul>
  <li><strong>Use Volume</strong>: Whether to use trade volume in the formula calculation.</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<h2>Formula</h2>

<p>\[AD = cumulative \left ( \frac{(Close - Low) - (High -Close)}{(High - Low)} \times Volume \right )\]</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
  <img src="Content/Technical_Indicator_Definitions225.jpg">
  
  </img>
</p>
-->