---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Ease of Movement (EOM)
AccordionID: chrt-ti-ease-of-movement
---
<p class="BodyOther">Ease of Movement, developed by Richard W. Arms, Jr., relates price change to volume and is particularly useful for assessing the strength of a trend. High positive values indicate the price is increasing on low volume and strong negative values indicate the price is dropping on low volume.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-moving-average-type-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">The four calculation below are required for Ease of Movement indicator:</p>
 <p class="BodyChapterLevel">\[Distance\;Moved = DM = \left(\frac{High_{current} - Low_{current}}{2}\right) - \left(\frac{High_{previous} - Low_{previous}}{2}\right) \]</p>
 <p class="BodyChapterLevel">\[Box Ratio = BR = \left(\frac{\frac{Volume_{current}}{1,000,000,000}}{High_{current} - Low_{current}}\right) \]</p>
 <p class="BodyOther">Calculate a one period EOM: </p>
<p class="BodyOther">\[EOM_{1} = \frac{DM}{BR}\]</p>
<p class="BodyChapterLevel">Calculate the moving average where the user can pick from various moving average types:</p> 
 <p class="BodyChapterLevel">\[EOM_{n-period MA} = MA(EOM_{1})\]</p> 
 
<!--
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="">
           
          </img>
        </p>-->
     