---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Time Series Forecast (TSF)
AccordionID: chrt-ti-time-series-forecast
---

<p class="BodyOther">The Time Series Forecast (TSF) is a linear
regression calculation that plots each bar's current regression
value using the least square fit method. This indicator is sometimes
referred to as a moving linear regression similar to a moving average.
For example, the TSF value that covers 10 days will have the same
value as a 10-day Time Series Forecast. This differs slightly from
the Linear Regression indicator in that the Linear Regression indicator
does not add the slope to the ending value of the regression line.</p>

{% include chrt-ti-images.html %}

<ul>
  <li>{% include ti-period-blurb.html %}</li>
  <li>{% include ti-field-blurb.html %}</li>
  <li>{% include ti-color-selectors-blurb.html %}</li>
  <li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
        <h2 class="Blurb">Formula</h2>
<p class="BodyOther">The best fit line associated with the n points
(x1, y1), (x2, y2), . . . , (xn, yn) has the form</p>

<p class="BodyOther">y = mx + b</p>
<!--
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions214.jpg">
          </img>
        </p>
<p class="BodyOther">
          <img src="Content/Technical_Indicator_Definitions215.jpg">
          </img>
        </p>
<a name="Example"></a>
        <h5 class="Blurb">Example</h5>
<p class="">
          <img src="Content/Technical_Indicator_Definitions216.jpg">
            
          </img>
        </p>-->
      