---
widget: chrt
layout: desc-tab
list: technicalindicators
title: Elder Ray Index
AccordionID: chrt-ti-elder-ray-index
---
<p class="BodyOther">The Elder Ray indicator measures buying and selling pressures to determine which group is driving the market.  Bull Power measures whether the high is above or below an exponential moving average; while Bear Power measures whether the low is above or below an estimated moving average.</p>

{% include chrt-ti-images.html %}

<ul>
	<li>{% include ti-period-blurb.html %}</li>
	<li>{% include ti-color-selectors-blurb.html %}</li>
	<li>{% include ti-display-axis-blurb.html %}</li>
</ul>

<a name="Formula"></a>
<h2 class="Blurb">Formula</h2>
<p class="BodyOther">\[Bull\;Power = High - EMA_{n-period}\]</p>
<p class="BodyOther">\[Bear\;Power = Low - EMA_{n-period}\]</p>
<!--
<a name="Example"></a>
<h5 class="Blurb">Example</h5>
<p class="">
	<img src="Content/Technical_Indicator_Definitions162.jpg">
	
	</img>
</p>-->