---
widget: fls
layout: reference-tab
title: Fills Reference
AccordionID: fls-reference
---
<div>
    <h2>Context menu items</h2>
    <p>Right-click in the widget to open the context menu and select the following items:</p>
    <ul>
        <li><b>Request download</b>: Sends a request for spreadsheet containing a range of fills.</li>
        <li><strong>Set as default alert view</strong>: Saves the current view style as the default style.</li>
        <li><b>Export Rows as...</b>: Exports data to a <b>.csv</b> or <b>.xlsx</b> file for the rows you select in the Fills widget. Use Shift-click to select multiple rows.</li>
        <li><b>Print</b>: Prints fills based on the filtered content of the widget.</li>


        <li><b>Clear all filters</b>: Turns off all filters you may have set for each column. </li>
        <li><b>Go to date:</b>  Displays historical fill data. Click <a href="#date">here</a> for more details.</li>
        <li><strong>Zoom</strong>: <a href="wgt-zooming-the-view-in-or-out.html">Zooms</a> the view of the selected widget.</li>
        <li><b>Fills settings</b>: Allows you to customize settings for the widget.</li>
    </ul>
</div>
<div>
    <h2>Available settings</h2>
    <p>These settings affect only the selected Fills widget. To update the default settings with these value for newly-opened Fills widgets, or to apply them to existing opened widgets, click <b>Defaults</b>.</p>
    <p><img class="img-responsive" src="Content/fls-settings.png"></p>
    
    {% include settings/fills-settings-local.html %}

       {% include filtering-columns.html %}
</div>