---
layout: category-page
title: Trade
AccordionID: index
---

<div class="container-fluid ttdoc-maincontent-container ttdoc-category-list-container">
	<div class="ttdoc-category-list-wrapper">
			  	 
		{% for category in site.data.titles.categories %}
			{% assign currentCategory = category[1].categorytitle %}
			{% assign currenturl = category[1].categoryurl %}
			{% assign index = forloop.index %}
			{% assign indexCheck = index | modulo: 3 %}
				    
			{% if indexCheck == 1 %}
			<div class="row ttdoc-maincontent-row">
			{% endif %} 
			  	<div class="col-sm-4 col-md-4 col-lg-4 ttdoc-category-group">
			  	 
				    <ul id="{{ currenturl }}" class="ttdoc-category-list"><div class="ttdoc-category-header">{{ currentCategory }}</div>
				     {% if currentCategory == "Options" or currentCategory == "Order Management" %}
					    <ul>
					{% endif %}

				    {% for widget in site.data.titles.categories[currenturl].topics %}
				    	
					    	<li class="ttdoc-list-item"><a href="{{ site.data.titles[widget].DescAccordions[0].ID }}.html">{{ site.data.titles[widget].pagetitle }}</a></li>

				    {% endfor %}

				    {% if currentCategory == "Options" or currentCategory == "Order Management" %}
					    </ul>
					{% endif %}

				    </ul>
				    
			  	</div> <!-- /.ttdoc-category-group -->
	  		{% if indexCheck == 0 %}
	  		</div> <!-- /.row .ttdoc-maincontent-row -->
	  		{% endif %}
		{% endfor %}
	</div> <!-- /.ttdoc-category-list-wrapper  -->
</div> <!-- /.container-fluid .ttdoc-category-list-container  --> 
</div> <!-- /.container-fluid .ttdoc-category-list-container  -->