---
widget: mdt
layout: desc-tab
title: Market Data in MD Trader
AccordionID: mdt-market-data-in-mdtrader
---

<p>MD Trader is the industry-leading interface that provides single-click order entry for an instrument while displaying market depth against a static, vertical price axis. The static price display gives you a visual sense of market movement over a period of time or relative to other markets.</p>
<p>In addition to the market data displayed for an instrument in the <a href="mdt-mdtrader-display.html">MD Trader
header pane</a>, you can view your average price of open position, estimated position in queue (EPIQ), last traded quantity (LTQ), and volume-at-price (VAP) in the MD Trader columns.</p>
<p>
  <img class="img-responsive" src="Content/mdt-market-data1.png"> </img>
</p>

<h2>Static Price Display</h2>
  
  <p>MD Trader displays bid and ask quantities and market depth along a static price display in the <strong>Price</strong> column. As the best bid and ask prices change, the price display remains static.</p>
  <p>
    <img class="img-responsive" src="Content/mdt-static.png"> </img>
  </p>

  <h3>Center Bar</h3>
    
    <p>To make it easier to identify the midpoint of the inside market, MD Trader places a black center bar across the width of its grid. The center bar appears between the best bid and ask prices in the static price display. As the best bid and ask prices move up or down, the center bar remains static until you <a href="mdt-recentering-mdtrader.html">recenter the market</a> to its midpoint.</p>
    
    <p>
      <img class="img-responsive" src="Content/mdt-center-bar.png"> </img>
    </p>
    
  <h3>Relative Price movement</h3>
  
    <p>In MD Trader, bid and ask quantities and market depth move up or down along the static <strong>Price</strong> column to indicate price movement. This allows you to view the price movement in one instrument relative to the price movement in other instruments. In the following example, the CL Dec16 contract is up two ticks from its previous midpoint, in relation to the CL Jan17 contract that is up one tick and the CL Feb17 contract that is down one tick from its midpoint.</p>
    
    <p>
      <img class="img-responsive" src="Content/mdt-price-move2.png"> </img>
    </p>





<h2>Floating price display</h2>

 


    {% include floating-price-display.html %}




<h2>LTQ Display</h2>

  <p>MD Trader displays the last trade quantity (LTQ) in the LTQ column at the best bid or ask price. The LTQ column is shown by default, but you can show/hide the column using the <strong>Show Last Traded Quantity</strong> option in the local <strong>MD Trader: Settings</strong>.</p>
    
  <p>
    <img class="img-responsive" src="Content/mdt-ltq.png"> </img>
  </p>
    
  <p>The LTQ value is color-coded to indicate if the trade occurred at a price that was higher, lower, or the same as the last traded
  price (LTP):</p>
    
  <ul>
    <li>Black text with white background <img src="Content/icon-ltq-same.png"> </img> &mdash; Indicates a trade at the same price.</li>
    <li>White text with a green background <img src="Content/icon-ltq-high1.png"> </img> &mdash; Indicates a trade at a higher price.</li>
    <li>White text with a red background <img src="Content/icon-ltq-low1.png"> </img> &mdash; Indicates a trade at a lower price.</li>
  </ul>


<p><b>Note</b>: The LTQ column shows the indicative quantity for indicative or theoretical open prices that are provided by the exchange during Pre-Open or Auction market states.</p>

 
<h2>LTP Display</h2>

  <p>Optionally, you can highlight the Last Traded Price (LTP) in the static price display by using the <strong>Highlight Last Traded Price (LTP) on price column</strong> option in the local <strong>MD Trader: Settings</strong>.</p>

  <p>The highlighted LTP value is color-coded to indicate if the trade occurred at a price that was higher, lower, or the same as the previous LTP. MD Trader highlights the price column cell with the default LTP <a href="mdt-configuring-mdtrader.html#mdt-colors">color settings</a> or your customized settings:</p>

  <ul>
    <li>A trade at the same price uses the LTP Column "Stable" colors</li>
    <li>A trade at a higher price uses the LTP Column "Uptick" colors</li>
    <li>A trade at a lower price, uses the LTP Column "Downtick" colors.</li>
  </ul>

  <p>
    <img class="img-responsive" src="Content/mdt-ltp-highlight2.png"> </img>
  </p>
  
  
  
<h2 id="vap">Volume-at-price (VAP) data</h2>
    
  <p>From the <a href="mdt-reference.html">context menu</a>, you can also expose an additional <strong>VAP</strong> column in MD Trader to display the total trade volume at each price level as a gray bar. By default, showing VAP displays the combined volume for buy and sell orders. You can select options to split the volume bar into buy (blue) and sell (red) quantities, to display the total quantity as a number and to reset (and restore) the VAP counter to show only volume that occurs after the reset. You can also hide the bars and show only the numeric values.</p>
    
  <p>
    <img class="img-responsive" src="Content/view-mkt-mdt-vap2.png">
  </p>

  <p><strong>Tip</strong>: When you hover on a bar or cell in the VAP column, the VAP value at that price is displayed in a tooltip.</p>
    
  <p>
    <img class="img-responsive" src="Content/trade-mdt-vap-hover.png">
  </p>

  <p>By default, VAP displays the trade volume since the start of the session. If you want to start showing only recent volume, you can reset the VAP counter to display only trade volume that occurs from that moment on. At any time, you can switch back to the total session volume by restoring the VAP counter. To simplify resetting and restoring the VAP counter, MD Trader supports the following shortcuts in addition to the context menu items:</p>

  <ul>
    <li>Double-click anywhere in the VAP column.</li>
    <li>Press the <strong>Shift+R</strong> <a href="win-reference.html#widget">hotkey</a>.</li>
  </ul>









<h2>Direct Prices</h2>
    {% include settings/direct-prices.html %}

<h2>Indicative Prices</h2>
  
  <p>MD Trader displays indicative or theoretical open prices that are provided by the exchange during Pre-Open or Auction market states. During these market states, the indicative price is used for calculating the net change displayed in MD Trader and your P/L displayed in the Positions widget. If you <a href="mdt-recentering-mdtrader.html">recenter MD Trader</a>, the indicative open price is used as the reference price for recentering the market. </p>
  
  <p>If an exchange provides an indicative open (matched) price, MD Trader highlights the price column cell with the default LTP Column <a href="mdt-configuring-mdtrader.html#mdt-colors">color settings</a> (or your customized settings):</p>
  
  <ul>
    <li>The initial indicative price uses the Last Trade Price "Stable" colors.</li>
    <li>If the indicative price is higher than the previous indicative price, MD Trader highlights the price using the Last Traded Price "Uptick" colors</li>
    <li>If the indicative price is lower than the previous indicative price, MD Trader highlights the price using the Last Traded Price "Downtick" colors.</li>
  </ul>
    
  <p>
    <img class="img-responsive" src="Content/trade-mdt-indicative-price2.png" />
  </p>
  
  <p>If the indicative Bid and Ask prices do not cross or match during the Pre-open or Auction states, a yellow border displays in the corresponding <strong>Bids</strong> and <strong>Asks</strong> columns:</p>

  <p>
    <img class="img-responsive" src="Content/trade-mdt-indicative-open1.png" />
  </p>


<p>Upon receiving a new price update during an open trading market state, MD Trader restores any previously highlighted indicative price cells in the price column to the <b>Price Column</b> default colors defined in <b>Settings: MD Trader</b>.</p>


<h2 id="theo">Theoretical Prices</h2>

<p>For <a href="https://library.tradingtechnologies.com/trade/aop-overview.html">Advanced Options</a> users, the theoretical value of an option or strategy instrument is displayed as a laser line in the Price column.</p>


  <p>
    <img class="img-responsive" src="Content/trade-mdt-theo-price.png" />
  </p>


<h2 id="detailed">Detailed depth in MD Trader</h2>


<p>Some exchanges provide detailed depth allowing you to see every order at a price level.</p>

  {% include detailed-depth.html %}

  <p>You can view detailed depth in MD Trader by checking the <b>Show detailed depth on hover</b> checkbox in <a href="mdt-configuring-mdtrader.html">Settings: MD Trader</a>. When this option is enabled, you can see the quantity of each individual order at a price level for an instrument that supports detailed depth.</p>

  <p>To display detailed depth, hover on the total number of bids in the <b>Bids</b> column or total number of asks in the <b>Asks</b> column at each level of depth in the price ladder. In the depth column that appears, the top row shows the quantity of the order that is best in queue at that price.</p>

    <p><img class="img-responsive" src="Content/trade-mdt-detailed-float.png" /></p>


<p>Up to ten levels of detailed depth are displayed at once. You can scroll through the column to view any additional levels that may be provided. To close the display, click away from the Bids or Asks column.</p>



<h2 id="implied-quantities">Implied Quantities</h2>
<p>MD Trader can display an asterisk in the Bids and Asks price levels to indicate that all or part of the displayed quantity at a price level includes implied quantities. To help visualize the implied quantities, you can enable the <strong>Show implieds with an asterisk (*)</strong> widget <a href="mdt-reference.html">setting</a>, which will display an asterisk next to quantities that are partially or completely implied, as shown.</p>

<p><img class="img-responsive" src="Content/mdt-implied-quantites.png" /></p>

   
   <h2 id="resting-market-orders">Resting Market Orders</h2>

 
<p>If provided by the exchange, quantities of resting Buy/Sell pre-open Market orders, as well as "On Auction" and "On Close" Market orders during Auction states are displayed in the top right of the header panel in MD Trader. The <b>B:</b> field displays the total quantity of resting Buy Market orders, and the <b>A:</b> field displays the total quantity of resting Sell Market orders.</p>

  <p><img class="img-responsive" src="Content/mdt-resting-quantity.png"></p> 
