---
widget: mdt
layout: task-tab
title: Configuring MD Trader
AccordionID: mdt-configuring-mdtrader
---



<!-- <h2 id="mdt-order-set">MD Trader Settings: Order Entry (local only)</h2> -->

<p>To configure MD Trader:</p>

<ol>
  
  <li>Right-click anywhere in the MD Trader widget outside of the price ladder to open the context menu and select <b>Settings...</b>.
    <p></p>
    The <b>Settings: MD Trader</b> screen opens.
    
    <p><img class="img-responsive" src="Content/mdt-settings.png" alt=""></p>
    
  </li>
  
  <li><p>In the <b>Settings: MD Trader</b> screen,
    
  configure the following settings:</p>
  <ul>
    <li><a href="mdt-reference.html#display">Display</a>
  </li>
  <li><a href="mdt-reference.html#order-local">Order Entry (Local only)</a></li>
  <li><a href="#buttons">Set custom action buttons</a></li>
</ul>

<li>
  <p>Click <b>Apply</b> and <b>Save</b>.</p>
  <p>Note: To make an MD Trader widget's settings the new defaults for subsequently opened MD Trader widgets, click <b>Save as default</b> before saving.</p>
</li>
</ol>

<h2 id="contextmenu">Setting context menu options</h2>

<p>To set context menu options:</p>

<ol>
<li>Right-click the Order Entry Panel, Header Panel, or Column Headers in the MD Trader widget to open the context menu.
 <!-- <p>
    <img class="img-responsive" src="Content/mdt-context.png"> </img>
  </p> -->

  <p>For a description of each setting, refer to <a href="mdt-reference.html#contextmenu">MD Trader Reference</a>.</p>
</li>

</ol>

          

<div>
  
  <h2 id="buttons">Adding custom action buttons</h2>
  <p>If you frequently use one or more order types, you can add buttons to an MD Trader widget that automatically set the order type or TIF in place of selecting it from the order type drop-down. You can add buttons for:</p>
  <ul>
    <li>Exchange order types</li>
    <li>TT order types</li>
    <li>User-defined Order Ticket Algos</li>
    <li>User-defined Synthetic Order Algos</li>
    <li>Time-in-Force (TIF)</li>
  </ul>
  
  <p>For example, if you frequently submit Stop Limit orders and TT Time Sliced orders and use a Good-Til-Cancel TIF, you can add custom action buttons as shown below.</p>
  
  <p><img class="img-responsive" src="Content/mdt-custom-action-buttons.png" alt=""></p>
  
  <p>When you click a custom order type button, it automatically sets the order type and disables the drop-down. It remains active until you de-select the button or select a different order type, so you can quickly place multiple orders without having to select the order type.</p>
  
  <p>Adding a TIF button lets you quickly set the time-in-force instead of selecting one from the drop-down.</p>
  
  
  
  <p>To add a custom action button:</p>
  
  <ol>
    <li>
      Right-click in the MD Trader Order Entry Panel and select <strong>Edit custom action buttons</strong>.
      <p></p>
      The custom action buttons pop-up dialog opens. These settings allow you to add or remove buttons on the MD Trader widget for commonly used order types, algos and time-in-force (TIF) settings. You can add a maximum of 20 custom action buttons.
      <p><img class="img-responsive" src="Content/mdt-custom-action-open.png" alt=""/></p>
      <table class="table table-striped table-bordered" border="1">
        <thead>
          <tr>
            <th>Button</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>+</td>
            <td>Adds a new custom button.</td>
          </tr>
          <tr>
            <td>X</td>
            <td>Removes a new custom button.</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>Selects the order type or TIF to associate with the button.</td>
          </tr>
          <tr>
            <td>Template</td>
            <td>For algos and TT order types, sets the pre-defined template settings.</td>
          </tr>
          <tr>
            <td>Label</td>
            <td>Sets the to display on the button.</td>
          </tr>
          <tr>
            <td>Preview</td>
            <td>Shows what the button will look like. Note the width of the <strong>Preview</strong> column matches the width of the Order Entry Panel when the dialog is opened.</td>
          </tr>
          <tr>
            <td>Columns</td>
            <td>Sets the number of columns for custom action buttons.</td>
          </tr>
          <tr>
            <td>Auto-wrap</td>
            <td>Sets whether to try to fit the custom action buttons in the specified number of columns.</td>
          </tr>
        </tr>
      </tbody>
    </table>
  </li>
  
  
  <li>
    Click "+" and click the drop-down arrow in the <strong>Type</strong> field to select an order type, algo or TIF.
    <p>
      <img class="img-responsive" src="Content/mdt-custom-button1.png"> </img>
    </p>
  </li>
  <li>
    Click the <strong>Label</strong> field to customize the button name. Check the <strong>Preview</strong> column to verify how the title will appear on the button in MD Trader.
    <p>
      <img class="img-responsive" src="Content/mdt-custom-button2.png"> </img>
    </p>
  </li>
  
  
  <li>
    Click "+" and click the drop-down arrow in the <strong>Type</strong> field to select an order type or TIF.
    <p>
      <img class="img-responsive" src="Content/mdt-custom-button1.png"> </img>
    </p>
  </li>
  <li>Click the <strong>Label</strong> field to customize the button name. Check the <strong>Preview</strong> column to verify how the title will appear on the button in MD Trader.
    <p>
      <img class="img-responsive" src="Content/mdt-custom-button2.png"> </img>
    </p>
    
  </li>
  <li>
    If you have created <a href="tto-order-types-overview.html#order-templates">order templates</a> for a TT Order Type or custom algo, you can select the template to assign to the button. When the button is clicked, the order will automatically use the values defined in the template, and will not display the fly-out.
    <p><img class="img-responsive" src="Content/mdt-custom-button3.png" alt=""></p>
  </li>
  
  <li>
    You can also define how many columns you want to use to display the buttons in the <strong>Order Entry Panel</strong>. For example:
    <ul>
      <li>
        To use two columns, enter <strong>2</strong> (which is also the default). The <strong>Preview</strong> column would looks similar to the following.
        <p><img class="img-responsive" src="Content/mdt-custom-button-2col.png" alt=""/></p>
      </li>
      <li>
        To use one column, enter <strong>1</strong>. The <strong>Preview</strong> column would looks similar to the following.
        <p><img class="img-responsive" src="Content/mdt-custom-button-1col.png" alt=""/></p>
      </li>
      <li>
        To automatically wrap buttons based on the length of button text across two columns, enter <strong>2</strong>, rename some of the buttons to make the buttons more narrow and then select <strong>Auto-wrap</strong>. The <strong>Preview</strong> column would looks similar to the following.
        <p><img class="img-responsive" src="Content/mdt-custom-button-wrapcol.png" alt=""/></p>
      </li>
    </ul>
  </li>
  
  
  <li>
    When finished adding and arranging buttons, click <strong>OK</strong> and <strong>Apply</strong>.
    <p></p>
    The custom buttons appear in the MD Trader <strong>Order Entry Panel</strong>. Click <b>Save</b> to exit settings and save the changes.
    <p><img class="img-responsive" src="Content/mdt-custom-button-4.png" alt=""/></p>
  </li>
  
  <li>
    To save the buttons as defaults for existing or future instances of MD Trader, set <a href="mdt-reference.html#selective-defaults">Selective defaults</a> in the MD Trader Settings.
  </li>
</ol>



</div>

<h2 id="row-height">Configuring row height in MD Trader</h2>

<p>You can customize the row height in MD Trader by dragging the price ladder column with the left mouse click while holding down the Shift key.</p>
<p> To restore the default row height, right-click in MD Trader to open the Settings menu and click the <b>Reset</b> | <b>Apply</b> buttons.</p>


<p>
<img class="img-responsive" src="Content/trade-mdt-adjust-row.png"> </img>
</p>



  <h2 id="order-quantity-buttons">Customizing order quantity buttons</h2>

  {% include custom1.html %}
<p><img class="img-responsive" src="Content/trade-custom-button1.png"></p>
  {% include custom2.html %}
  <p><img class="img-responsive" src="Content/trade-custom-button2.png"></p>

  {% include custom3.html %}







<h2 id="columns">Configuring MD Trader columns</h2>
<p>You can choose which columns you want to display from the MD Trader <a href="mdt-reference.html">Settings</a>, or you can use the context menu from the column headings. You can also set the bold font and text alignment for each column.</p>

<p><b>Note:</b> If the widget level bold setting is enabled, the column-level bold option is not available.</p>

<p>To configure the columns you want to show:</p>
<ol>
<li>
  Click the right-mouse button in the title of a column and select <strong>Edit columns</strong> from the context menu.
  <p></p>
  The available columns dialog appears.
  <p><img class="img-responsive" src="Content/mdt-config-columns.png" alt=""></p>
</li>
<li>
  Select the columns you want to display.
</li>
<li>
  To set bold font for a column, click <img src="Content/wgt-bold.png" alt=""> next to a column in the context menu. When bold is active for a column, the button will be highlighted (<img src="Content/wgt-bold-on.png" alt="">).
</li>
<li>
  To set the text alignment for a column, click <img src="Content/wgt-align.png" alt=""> to the right of the column name to cycle through the left, centered, and right text alignment settings. You can also adjust the arrangement of your columns by clicking and dragging each column name.
</li>
<li>
  Click <strong>OK</strong>
</li>
</ol>


<h2 id="resize">Resizing the MD Trader Order Pane</h2>



<p>You can resize the Order Entry Panel in MD Trader by dragging the right edge of the panel with a left mouse drag. When you release the left mouse button, the price ladder resizes to accommodate the resized Order Entry Panel.</p>
<p> To restore the default Order Entry Panel width, right-click in MD Trader to open the Settings menu and click the <b>Reset</b> | <b>Apply</b> buttons.</p>

<p>
<img class="img-responsive" src="Content/trade-mdt-adjust-order-pane.png"> </img>
</p>



   <h2 id="font">Scrolling the Order Entry Panel in MD Trader</h2>

      <p>Using the mouse scroll wheel, you can scroll up/down in the MD Trader Order Entry Panel.</p>
   


<p>
<img class="img-responsive" src="Content/mdt-scroll-order-panel.png"> </img>
</p>


    <h2 id="panel">Show/Hide Order Entry Panel buttons and controls</h2>

        <p>To show/hide the buttons and controls in the MD Trader Order Entry Panel, right-click in the panel and click <b>Show/hide</b> to select a button or control. Check the checkbox next to a button or control to show it, or uncheck to hide it.</p>

<p>
<img class="img-responsive" src="Content/mdt-show-hide-panel-buttons.png"> </img>
</p>





<h2 id="font">Adjusting font size in MD Trader</h2>

<p>To adjust the font size of the MD Trader columns, press and hold the Shift+Ctrl keys while dragging the mouse up or down in the price ladder.</li>


<p>
<img class="img-responsive" src="Content/trade-mdt-adjust-font.png"> </img>
</p>



<h2 id="highlight">Highlighting the inside market in MD Trader</h2>

<p>To highlight the inside market, right-click in MD Trader to select <b>Settings: MD Trader</b> and click the <b>Highlight Inside Market</b> setting. When this setting is checked, the best Bid and Ask price cells in the price column are highlighted based on the color settings for the widget. The default color is red for the best Ask price, and blue for the best Bid.</li>


<p>
<img class="img-responsive" src="Content/mdt-highlight-inside.png"> </img>

</p>




<h2 id="highlight">Showing separate working order columns</h2>


<p>You can optionally separate the <b>Work</b> column into two separate columns for working Buy and Sell orders. To show the separate columns, right-click on the MD Trader column headers, select <b>Edit columns...</b>, and check the <b>Work Asks</b> column.</p>

<p>When this column is shown, the <b>Work</b> column (that normally displays both working Buy and Sell orders) displays only working bids and its header changes to <b>WorkB</b>. Working Sell orders are displayed separately in
the <b>WorkA</b> column. </p>

<p> <img class="img-responsive" src="Content/mdt-separate-work-2.png"> </img> </p>



<h2 id="move">Moving the cancel buttons and order quantity in MD Trader</h2>

<p>In MD Trader, you can move the cancel buttons and order quantity field from the side order entry panel to the bottom of the MD Trader grid. You can then hide the side panel to save screen space.</p>

<p>To move the buttons and order quantity, right-click and select <a href="mdt-reference.html">Settings: MD Trader...</a> to open the widget settings. In the <b>Display</b> section, scroll down to select the <b>Show order qty and scroll buttons on bottom
</b> option and click <b>Save</b>.

<p>
<img class="img-responsive" src="Content/mdt-move-cancel-buttons.png"> </img>
</p>


<h2 id="mark">Marking price levels in MD Trader</h2>

<p>In the MD Trader price column, you can easily mark specific price cells to indicate levels of technical indicators, support/resistance levels, or reminders of important price points.</p>

<p>To mark a price level, use <b>Alt + left-click</b> on a price cell in the column. To set the color, use the <b>Colors</b> | <b>Background (Marked Price)</b> option in MD Trader Settings. The default color is yellow. Use "Alt + left-click" on a marked price cell to clear it.</p>


<p>
<img class="img-responsive" src="Content/mdt-mark-ladder-prices.png"> </img>
</p>