---
widget: mdt
layout: reference-tab
title: MD Trader Reference
AccordionID: mdt-reference
---
<h2 id="mdt-settings">Available settings</h2>
<p>These settings affect only the selected MD Trader widget. To update the default settings with these value for newly-opened MD Trader widgets, or to apply them to existing opened widgets, click <b>Defaults</b>.</p>


<p><img class="img-responsive" src="Content/mdt-settings.png" alt=""></p>
<!--
Display settings
-->
<h3 id="display">Display</h3>
<h4>Display settings</h4>
<table class="table table-striped table-bordered" border=1>
    <thead>
        <tr>
            <th>Setting</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <!--
        <tr>
            <td>Window Size</td>
            <td>Click to select the size of the widget.
            </td>
        </tr>
    -->
        <tr>
            <td>Colors</td>
            <td>{% include settings/colors.html %}</td>
        </tr>
        <tr>
            <td>Highlight midpoint of last recenter</td>
            <td>Sets whether to show the midpoint (white line) after the ladder is re-centered.</td>
        </tr>
           
        <tr>
            <td>Price increment per row</td>
            <td>Sets the multiplier for the tick size at each price in the ladder.  For example, if an instrument tick size is .25 and you set <b>Price increment per row</b> to "2", each price in the ladder would tick by .50. This setting consolidates the display of prices in the price ladder and displays a greater range of prices while still showing the total quantity
                available. If you click the checkbox to enable this setting, the <b>Increment</b> field appears in the MD Trader widget with the tick interval value that you entered.
            </td>
        </tr>
        <tr>
          <td>Show only available prices</td>
          <td>Displays a floating price ladder by only showing price levels where there is available 
            liquidity.</td>
        </tr>
        <tr>
            <td id="recenter-seconds">Auto recenter grid (seconds)</td>
            <td>Sets how many seconds before MD Trader automatically re-centers the price ladder.
            </td>
        </tr>
        <tr>
            <td id="recenter-ticks">Recenter when market has moved (ticks)</td>
            <td>Sets whether to automatically recenter the trading ladder when the market moves a specified number of ticks since the last time it was re-centered.</td>
        </tr>
        <tr>
            <td>Highlight Last Traded Price (LTP) on price column</td>
            <td>Sets whether to highlight the price level in the <strong>Price</strong> column whether the last trade occurred.</td>
        </tr>
             <td>Highlight Inside Market</td>
            <td>Sets whether to highlight the best Bid and Ask cells in the <strong>Price</strong> column.</td>
        </tr>

    
        <tr>
            <td>Aggregate positions across accounts</td>
            <td>Sets whether to display an aggregate net position for the contract across multiple accounts when the account filter is unchecked.</td>
        </tr>
       
            <tr>
                <td>Show free-form text fields</td>
                <td>Sets whether to show the <strong>Text A</strong>, <strong>Text B</strong> and <strong>Text TT</strong> <a href="mdt-trading-with-mdtrader.html#free-form-text">free-form text fields</a> in the Order Pane.</td>
            </tr>
             <tr>
            <td id="held">Show held-order toggle</td>
            <td>Sets whether to show/hide the "Hold" button in the MD Trader order panel. This button is used to submit new orders as held orders.</td>
        </tr>
        <tr>
            <td>Reset order type to Limit after each order</td>
            <td>Sets whether to reset the <strong>Order Type</strong> drop-down to <strong>Limit</strong> automatically after an order with another order type is submitted.</td>
        </tr>
            <tr>
                <td>Color bid/ask cells by side and price</td>
                <td>Sets whether to display the background color of cells in the Bids and Asks columns for price levels on the opposite market side.</td>
            </tr>
            <tr>
                <td>Ignore global Account List broadcasts</td>
                <td>{% include settings/ignore-acct-list.html %}</td>
            </tr>
            <tr>
                <td>Display algo flyout panel based on mouse location</td>
                <td>Sets whether to display the algo flyouts at the top of the widget or parallel to the mouse location when selecting a TT Order Type or algo from the <strong>Order Type</strong> dropdown,</td>
            </tr>
            <tr>
                <td>Display only the working qty for orders</td>
                <td>Sets whether to display only the total working quantity of orders at each price level instead of the <a href="mdt-trading-with-mdtrader.html#working_orders">detailed view</a> for working orders.</td>
            </tr>
        <tr>
            <td>Show LTQ on VAP column</td>
            <td>Shows the last-traded quantity (LTQ) in the VAP column.</td>
        </tr>
        <tr>
            <td>Show aggregated leg columns</td>
            <td>If trading an aggregated instrument and you enable this setting, MD Trader will open the corresponding legs of the instrument in separate MD Trader widgets.</td>
        </tr>
    

         <tr>
            <td>Show detailed depth on hover</td>
            <td>Sets whether to show detailed depth when hovering on the total number of bids in the <b>Bids</b> column or total number of asks in the <b>Asks</b> column at each level of depth in the price ladder.</td>
        </tr>


         <tr>
            <td>Show order qty and cancel buttons on bottom</td>
            <td>Sets whether to display the order quantity field and cancel buttons in the side Order Entry panel or at the bottom of the ladder.</td>
        </tr>


         <tr>
            <td>Show order entry panel on right</td>
            <td>Displays the Order Entry panel on the right side of MD Trader.</td>
        </tr>

        <tr>
            <td>Invert price axis</td>
            <td>Inverts the price ladder so that Bids are at the top and Asks are at the bottom of the ladder. This can be useful when displaying prices in yield and for some foreign exchange instruments, such as Yen (6J).</td>
        </tr>
        <tr>
            <td>Bold font</td>
            <td>Sets whether to use bold font in the MD Trader display.</td>
        </tr>
        <tr>
            <td>Show tabs</td>
            <td>Sets whether to display tabs at the bottom of the widget for the instruments used in the widget.</td>
        </tr>
         <tr>
            <td>Do not accumulate last traded qty</td>
            <td>Sets whether to show LTQ as the total traded quantity at a price level or as the quantity of the last executed trade. When enabled, the value in the <strong>LTQ</strong> column is the quantity of the last trade. By default, this setting is disabled and LTQ is an accumulation of last traded quantities at the current price until it changes.</td>
        </tr>
    </tbody>
</table>

<!-- moved to configure task 
<h4 id="ot-buttons-desc">Set custom action buttons</h4>
<p>These settings allow you to add or remove buttons on the MD Trader widget for commonly used order types and time-in-force (TIF) settings.</p>
<table class="table table-striped table-bordered" border="1">
    <thead>
        <tr>
            <th>Button</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>+</td>
            <td>Adds a new custom button</td>
        </tr>
        <tr>
            <td>X</td>
            <td>Removes a new custom button</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>Selects the order type or TIF to associate with the button</td>
        </tr>
        <tr>
            <td>Template</td>
            <td>For algos and TT order types, sets the pre-defined template settings</td>
        </tr>
        <tr>
            <td>Label</td>
            <td>Sets the to display on the button</td>
        </tr>
        <tr>
            <td>Preview</td>
            <td>Shows what the button will look like</td>
        </tr>
    </tbody>
</table>
-->

<h4 id="columns">Set MD Trader columns</h4>
<p>These settings allow you to add or remove columns on the MD Trader widget.</p>
<table class="table table-striped table-bordered" border="1">
    <thead>
        <tr>
            <th>Column</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Work</td>
            <td>Shows/hides the Work column, which shows your working orders.</td>
        </tr>
        <tr>
            <td>PIQ</td>
            <td>Shows/hides the PIQ column, which displays how many contracts are in front of your order at any given price.

                <br><br>
                Showing this column also enables the <strong>Enable Position in Queue (PIQ)</strong> setting in the <a href="win-reference.html#orders">Preferences</a>. If this preference is disabled when the PIQ column is shown in MD Trader, each cell in the column will be blank.
                <br><br><strong>Note</strong>: Position In Queue values are estimated on non-CME markets.
            </td>
        </tr>
        <tr>
            <td>BCnt</td>
            <td>Shows/hides the <b>BCnt</b> <a href="mdt-trading-with-mdtrader.html#headcount"> column</a>. Check this option to show the columns; uncheck to hide the column. The <b>BCnt</b> column shows the number of orders comprising the total bid quantity at a price level.</td>
        </tr>
        <tr>
            <td>Bids</td>
            <td>Shows/hides the Bids column, which shows the total bid quantity at each price level.</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>Shows/hides the Price column.</td>
        </tr>
        <tr>
            <td>Asks</td>
            <td>Shows/hides the Asks column, which shows the total ask quantity at each price level.</td>
        </tr>
        <tr>
            <td>ACnt</td>
            <td>Shows/hides the <b>ACnt</b> <a href="mdt-trading-with-mdtrader.html#headcount"> column</a>. Check this option to show the columns; uncheck to hide the columns. The <b>ACnt</b> column shows the number of orders comprising the total ask quantity at a price level.</td>
        </tr>
        <tr id="vap-column">
            <td>Volume at Price (VAP)</td>
            <td>Show/hide the VAP column to display <a href="mdt-market-data-in-mdtrader.html#vap">volume-at-price</a> data.
            <br><br>Note: Enabling this setting also adds the <a href="#vap-item">VAP sub-menu</a> to the MD Trader context menu.
            </td>
        </tr>
        <tr>
            <td>Last Traded Qty (LTQ)</td>
            <td>Sets whether to show the <a href="mdt-market-data-in-mdtrader#ltq-display">LTQ column</a></td>
        </tr>
    </tbody>
</table>
    <p>You can also choose which columns to display from the <a href="mdt-configuring-mdtrader.html#columns">column heading context menu</a>.</p>


<!-- 
    Market Data settings
-->
<h3 id="market-data">Market Data settings</h3>
<table class="table table-striped table-bordered" border=1>
    <thead>
        <tr>
            <td>Setting</td>
            <td>Description</td>
        </tr>
    </thead> 
    <tbody>
        <tr>
            <td>Show price as net change</td>
            <td>{% include settings/show-price-as-net-change.html %}</td>
        </tr>
        <tr>
            <td id="only-direct-prices">Only show direct prices</td>
            <td>{% include settings/only-show-direct-prices.html %}</td>
        </tr>
        <tr>
            <td id="implied-asterisk">Show implieds with asterisk (*)</td>
            <td>{% include settings/show-implieds-with-asterisk.html %}</td>
        </tr>
    </tbody>   
</table>

<!-- 
    Columns settings
<h3 id="columns">Columns settings</h3>
<table class="table table-striped table-bordered" border=1>
    <thead>
        <tr>
            <td>Setting</td>
            <td>Description</td>
        </tr>
    </thead> 
    <tbody>
        <tr>
            <td>Last Traded Qty (LTQ)</td>
            <td>Sets whether to show the <a href="mdt-market-data-iin-mdtrader#ltq-display">LTQ column</a></td>
        </tr>
        <tr id="vap-column">
            <td>Volume at Price (VAP)</td>
            <td>Sets whether to show the VAP column to display <a href="mdt-market-data-in-mdtrader.htmle#vap">volume-at-price</a> data.
            <br><br>Note: Enabling this setting also adds the <a href="#vap-item">VAP sub-menu</a> to the MD Trader context menu.
            </td>
        </tr>
        <tr>
            <td>Show LTQ on VAP</td>
            <td>Shows the last-traded quantity (LTQ) in the VAP column.</td>
        </tr>
        <tr>
            <td>Place in Queue (PIQ)</td>
            <td>
                Displays how many contracts are in front of your order at any given price. Click (check) the checkbox to enable and display PIQ values when the <a href="mdt-trading-with-mdtrader.html#enable-piq">PIQ column</a> is shown in MD Trader®. The Enable Position in Queue (PIQ) checkbox is unchecked (disabled) by default. If this preference is disabled when the PIQ column is shown in MD Trader, each cell in the column will be blank.
                <br><br><strong>Note</strong>: Position In Queue values are estimated on non-CME markets.
            </td>
        </tr>
        <tr>
            <td>Order headcount</td>
            <td>Shows/hides the <b>BCnt</b> and <b>ACnt</b><a href="mdt-trading-with-mdtrader.html#headcount"> columns</a>. Check this option to show both columns. Uncheck to hide the columns. The <b>BCnt</b> column shows the number of orders comprising the total bid quantity at a price level. The <b>ACnt</b> column shows the number of orders comprising the total ask quantity at a price level.</td>
        </tr>
        <tr>
            <td>Aggregated legs</td>
            <td>If trading an aggregated instrument and you enable this setting, MD Trader will open the corresponding legs of the instrument in separate MD Trader widgets.</td>
        </tr>
    </tbody>   
</table>
-->

<h3 id="trade-sounds">Trade Sounds</h3>

    <p><img class="img-responsive" src="Content/mdt-settings-trade-sounds.png" alt=""></p>


    {% include settings/trade-sounds.html %}



<h3 id="order-local">Order Entry (local only)</h3>
<p> The settings in the  <b>Order Entry (local only)</b> section affect only the current MD Trader widget.</p>
    <table class="table table-striped table-bordered" border=1>
        <thead>
            <tr>
                <th>Setting</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maximum order quantity</td>
                <td>Sets the maximum quantity allowed per
                    order.
                </td>
            </tr>
            <tr>
                <td>2nd default order quantity</td>
                <td>Provides the ability to right-click in the <b>Bids</b> and <b>Asks</b> column at a price level to submit an order with a different default order quantity. To enable this feature, you must check the checkbox and type a quantity in the box to the right of this option.
                </td>
            </tr>
            <!--
            <tr>
                <td>Iceberg display quantity</td>
                <td>Sets the disclosed quantity to display when entering natively supported or TT Iceberg orders.
                </td>
            </tr>
            <tr>
                <td>Stop Limit payup (ticks)</td>
                <td>Sets the maximum number of  ticks away from the Stop trigger price to enter the Limit order.
                </td>
            </tr>
        -->
            <tr>
                <td>Save as default</td>
                <td>
                    <p>The settings in this section apply only to the current widget. To change the default settings for all MD Trader widgets, click <b>Save as default</b>.</p>
                </td>
            </tr>
        </tbody>
    </table>


<h2 id="selective-defaults">Selective defaults</h2>
<p>MD Trader lets you select individual customizations to save as default MD Trader settings and to update existing MD Trader widgets, while applying other customizations the current widget. Checking either of the <strong>Save as MD Trader defaults</strong> or <strong>Updating existing MD Trader widgets</strong> settings enables the <strong>Selectively update properties</strong> setting. You can choose the individual widget attributes to you want to save.</p>
<p><img class="img-responsive" src="Content/mdt-settings-defaults.png" alt=""></p>

<!--
    Context menu
-->
<h2 id="contextmenu">Context menu options</h2>


<p>Right-click the MD Trader widget Price column, Order Entry panel, Header panel, or Column headers to open the 
    MD Trader context menus. Options vary based on which context menu was opened. On this menu, you can select the following options:</p>

<ul>
    <li><b>Edit custom action buttons...</b> &mdash; Allows you to add custom order type and TIF buttons to the Order Entry panel.</li>

    <li><b>Edit quantity buttons...</b> &mdash; Allows you to customize the values of the quantity buttons.

     <li><b>Show/hide</b> &mdash; Shows or hides the following in the widget:
        <ul>
    <li>
        <b>Order Entry Panel</b> &mdash; Toggles the order pane, which contains all order entry options for the widget.
      <p></p>
      <strong>Note</strong>: After hiding the order pane the first time, you can quickly toggle the display by left-clicking anywhere in the upper header area.
    </li>
    <li><b>Header Panel</b> &mdash; Toggles the header pane, which contains market data for the selected instrument in the widget.<br><strong>Note</strong>: When this pane is hidden, the Net Change is displayed in the Order Pane below the TIF dropdown.</li>

    <li><b>Column Headers</b> &mdash; Toggles the headings of each column shown in the widget.</li>

    <p>Order Entry panel options include:</p>
    <ul>

    <li><b>Account</b> &mdash; Toggles the account selector.</li> 
        <li><b>Order Type</b> &mdash; Toggles the order type selector.</li>
         <li><b>TIF</b> &mdash; Toggles the TIF selector.</li>
         <li><b>Position</b> &mdash; Toggles the position field.</li>
         <li><b>Net Change</b> &mdash; Toggles the net change field.</li>
         <li><b>Default Quantity</b> &mdash; Toggles the default quantity field.</li>
         <li><b>Quantity Buttons</b> &mdash; Shows/hides the quantity buttons.
         <li><b>CXL Buttons</b> &mdash; Shows/hides the order cancel buttons.
         <li><b>Order Text Fields</b> &mdash; Shows/hides the free-form text fields.
         <li><b>Liquidate Button</b> &mdash; Toggles the Liquidate Button.</li>
         <li><b>Current Time</b> &mdash; Shows the current time based on your workstation clock.</li>
         <li><b>Filter User Button</b> &mdash; Toggles the Filter User Button.</li>
     </ul>
 </li>
</ul>

    <li><b>Open</b> &mdash; Launches additional widgets for the instrument:
        <ul>
            <li><b>Time &amp; Sales</b> &mdash; Open the Time &amp; Sales widget for the selected instrument. For multiple instruments in MD Trader, click the tab for the instrument, first, then select <b>Time &amp; Sales</b> from the context menu.</li>
            <li><b>Chart</b> &mdash; Opens a chart for the selected instrument.  For multiple instruments in MD Trader, click the tab for the instrument, first, then select <b>Chart</b> from the context menu.</li>
        </ul>
    </li>
    <li><b>Columns</b> &mdash; Diplays or hides additional columns:
        <ul>
            <li><b>VAP</b> &mdash; Volume at price data</li>
            <li><b>PIQ</b> &mdash; Number of contracts in front of your order at a price level</li>
            <li><b>LTQ</b> &mdash; Quantity of the last trade</li>
            <li><b>Order headcount</b> &mdash; Number of orders comprising the total bid and ask quantities</li>
        </ul>
    </li>

   

    <li id="vap-item"><b>VAP</b> &mdash; Provides ways to customize the VAP display:
        <ul>
            <li><b>Show/Hide VAP</b> &mdash; Shows or hides the column</li>
            <li><b>Show bars</b> &mdash;  Shows or hides the VAP bars when VAP is shown</li>
            <li><b>Split bid/ask volume</b> &mdash; Displays the bar with blue and red to indicate the relative bid and ask quantities</li>
            <li><b>Show values</b> &mdash; Displays the total VAP as a number</li>
            <li><b>Overlay LTQ values</b> &mdash; Displays the last-traded quantity at the price level in the VAP column</li>
            <li><strong>Reset VAP</strong> &mdash;  Resets the VAP counter for the widget and starts displaying VAP data that occurs after the reset. The VAP column header is hightlighted to indicate that the widget is displaying partial VAP data.</li>
            <li><strong>Restore VAP</strong> &mdash;  Cancels the effect of a VAP reset and restores the display of VAP data to include historical values. Restoring VAP also clears the column heading highlighting.</li>
        </ul>
        <strong>Note</strong>: The VAP sub-menu is visible only if the <a href="#vap-column">Volume at Price (VAP) column</a> is enabled.
    </li>
    <li>
        <strong>Refresh instrument definition</strong> &mdash; Re-downloads the instrument defintion. You typically need to use this option only if the instrument details, such as ticking size, changed since you started the Trade application.
    </li>
    <li>
        <strong>Zoom...</strong>: <a href="wgt-zooming-the-view-in-or-out.html">Zooms</a> the view of the widget.
    </li>
    <!--
    <li><b>Show/Hide PIQ</b> &mdash; Shows or hides the PIQ column.
    </li>
    <li>
        <b>View my orders only</b>: Whether to display the working orders only for the current user when multiple users share an account.
        <p><b>Note</b>: This setting does not affect the account position displayed in MD Trader.</p>
    </li>
-->
    <li><b>Settings:" MD Trader...</b> &mdash; Opens the <a href="#mdt-settings">MD Trader settings</a> menu.</li>
</ul>
<!-- update from hotkeys <h2>Keyboard shortcuts in MD Trader</h2>
<p>With focus in the current instrument or tab, you can use the following keyboard shortcuts in
MD Trader:</p>
<ul>
    <li>Backslash key <b>\</b> &mdash; Show/hide the order panel.</li>
    <li>Accent key <b>`</b> &mdash; Open and populate a chart.</li>
    <li><b>Ctrl + Alt + T</b> &mdash; Open and populate Time and Sales. For Mac OS X, press <b>fn + alt + T</b>.</li>
</ul> -->
<h2 id="fft-table">Free-form text fields</h2>
<p>The following table provides descriptions of the free-form text fields on the MD Trader order pane for exchanges supported by the TT platform.</p>
{% include fft-table.html %}
