---
widget: ob
layout: task-tab
title: Modifying an order in the Order Book
AccordionID: ob-modifying-an-order-in-the-order-book
---
<p>Using the Order Book widget, you can change the price, quantity, account, order type, or
time-in-force of a working order. Simply select an order, modify the order as desired, and click <img src="Content/btn-change.png" alt="the Change button">.</p>
<p>
  <img class="img-responsive" src="Content/ob-change-order.png" />
</p>
<p>You can also raise or lower the price on an order by ticks by clicking the <img src="Content/btn-tick-up.png" alt="Tick Up"> and <img src="Content/btn-tick-down.png" alt="Tick Down"> buttons. When you use these buttons, the changes happen immediately. When using the <b>Change</b> or <b>Tick</b> buttons, the order's position in queue is retained.</p>

<p><strong>Note</strong>: If you select multiple orders, you can reprice them all by increasing or decreasing the price by the same number of ticks. No other options are available.</p>


<p>If the modification requires that you cancel/replace the working order, the Change button displays as <img src="Content/btn-cxl-replace.png" > and indicates the order will lose its position in queue. The <b>Cxl/Replace</b> button is displayed when you modify the following:
	<ul>
		<li>account
			<li>order type
	</ul>

<p>
  <img class="img-responsive" src="Content/ob-change-order-cxl-replace.png" />
</p>

<p>When selecting a working parent order for a TT Order Type, you can make changes to the parameters for the selected order type directly from the Order Book.</p>

<p>
  <img class="img-responsive" src="Content/ob-change-order-tt.png" />
</p>


<h2>Modifying an order in a grouped Order Book</h2>

<p>When an Order Book is part of a widget group, the <img src="Content/of-view-button.png" alt=""> toggle button is displayed in the "view" column for each order row. The button is used for "viewing" filled and partially filled orders in a grouped widget. When the toggle button is displayed, the checkbox is used for "selecting" an order to modify or cancel in the grouped Order Book.</p>

<p>
  <img class="img-responsive" src="Content/ob-change-order-group.png" />
</p>


<h2 id="change-user">Changing the current user on an order</h2>
<p>The <strong>CurrentUser</strong> field displays the the user name of the person who is monitoring an order while it is working in the market and, when orders are entered by multiple users sharing the same account, identifies the person who has "last touched" an order. To identify yourself as the monitor of manual or automated orders, you can update the <strong>CurrentUser</strong> field of an order in the Order Book:</p><!--on an order without modifying the order parameters.</p>-->

<p><img class="img-responsive" src="Content/ob-change-order-user1.png" /></p>

	<ol>
		<li>Select one or more orders by clicking the order in the Order Book or the check box at the front of the row.</li>
		<li>Click the <strong>Change</strong> button.</li>
	</ol>
	<p>You should now see your user name in the <strong>CurrentUser</strong> field.</p>

<p><img class="img-responsive" src="Content/ob-change-order-user2.png" /></p>



<h2>Customizing order quantity buttons</h2>
{% include custom1.html %}

<p><img class="img-responsive" src="Content/trade-custom-ob-button1.png" /></p>
{% include custom2.html %}
<p><img class="img-responsive" src="Content/trade-custom-ob-button2.png" /></p>

{% include custom3.html %}