---
widget: oee
layout: reference-tab
title: Electronic Eye reference
AccordionID: NA
---
<div>
  <p>This reference describes the <a href="#settings">settings</a> available for the Electronic Eye widget and the <a href="#filter-fields">fields</a> you can use to create filters.</p>
  <p><img class="img-responsive" src="Content/oee-settings.png" alt=""></p>
  <!-- settings -->
  {% include settings/oee-settings.html %}

  <!-- Filter fields -->
  {% include settings/oee-filter-fields.html %}
</div>