---
widget: or
layout: desc-tab
title: Options Risk Display
AccordionID: or-options-risk-display
---

<div>
 <p>The Options Risk widget consists of the following:</p>

<!--<p><img class="img-responsive" src="Content/trade-options-risk-display.png"> </img> </p> 
<p><img class="img-responsive" src="Content/trade-options-risk-display1.png"> </img> </p> -->
<!-- <p><img class="img-responsive" src="Content/trade-options-risk-display2.png"> </img> </p> -->
<!-- <p><img class="img-responsive" src="Content/trade-options-risk-display3a.png"> </img> </p>  -->
 <p><img class="img-responsive" src="Content/trade-options-risk-display-combined.png"> </img> </p>

<p>In the above image, the following is shown:</p>
<ol>
	<li>Account selector &mdash; Allows you to check your open position in the selected account.</li>
	<li>Underlying &mdash; Text field for entering a price adjustment for the underlying futures contract.</li>
	<!-- <li>Unit of measure (Underlying) &mdash; Sets the underlying adjustment as a percentage or an absolute value based on your Options Risk widget settings.</li> -->
	<li>Vol &mdash; Text field for entering a global volatility adjustment for options risk.</li>
	<!-- <li>Unit of measure (Vol) &mdash; Sets the Vol adjustment as a percentage or an absolute value based on your Options Risk widget settings.</li> -->
    <li>Refresh &mdash; Button that updates your position in the options and underlying futures contracts, and recalculates your position and options risk based on any underlying or global volatility adjustments entered in the widget.</li>
      <li>Reset &mdash; Button that resets the Underlying and Vol adjustment values to zero.</li>
	<li><a href="#bucket">Bucket</a> &mdash; {% include columns/col-bucket.html %}
		
	</li>
	<li>Position &mdash; {% include columns/col-position.html %}</li>
	<li>P/L &mdash; {% include columns/col-pnl-or.html %}</li>
	<li>Mark to Theo &mdash; Displays open P/L calculated with the theoretical options value.</li>
	<li>Options risk columns &mdash; Includes columns for the following options Greeks: Delta, Gamma, Vega, Theta, and Rho.</li>
 </ol>


<h2 id="bucket">Bucket column in Options Risk</h2>

<p>The P/L and position for each options and futures contract in the Bucket column rolls up into their corresponding expiry and product family as follows:
</p>

<p><img class="img-responsive" src="Content/trade-options-risk-bucket-combined.png"> </img> </p> 

         <ol>
			<li>Product family &mdash; Shows aggregate P/L and Greek calculations for all expiries with open positions for this product family.</li>
			<li>Contract expiry &mdash; Displays your position in the underlying futures contract, and shows aggregate P/L and Greek calculations at each level for all options contracts and underlying futures contracts with open positions for a specific expiry.</li>
		<!--	<li>Underlying futures contract &mdash; Displays P/L, position, and Greek calculations for a specific futures contract.</li> -->
			<li>Options contract expiry &mdash; Shows the aggregate P/L and Greek calculations for all options contracts with open positions for a specific expiry.</li>
			<li>Options contract(s) &mdash; Displays P/L, position, and Greek calculations for a specific options contract. </li>
		</ol>

<h2 id="total">Total row in Options Risk</h2>

<p>You can show the total P/L for an entire account using the <b>Show Total P/L and Mark to Theo</b> setting in the <b>Settings: Options Risk</b> settings menu. When shown, this row displays the <b>P/L</b> and <b>Mark to Theo</b> totals for all product families with open positions in the account.</p>

<p><img class="img-responsive" src="Content/trade-options-risk-total-1.png"> </img> </p> 



</div>