---
widget: ot
layout: desc-tab
title: Order entry from Order Ticket
AccordionID: ot-order-entry-from-order-ticket
---
<div>
  <p>Order Ticket provides a compact widget for entering orders for a single, pre-selected instrument. From an Order Ticket, you can supply all of the information for an order and easily submit the order by clicking the appropriate action button.</p>
  <p><img class="img-responsive" src="Content/ot-order-entry-overview.png"></p>
</div>

<h2>Account selection</h2>
<p>The account selector shows all accounts that have been assigned to you by your company administrator and have active connections to the exchange. Click the drop-down to select an account, which is required for submitting orders on TT.</p>

{% include change-clearing-account.html %}

<p>
  <img class="img-responsive" src="Content/ot-account-change.png"> </img>
</p>

{% include change-clearing-account2.html %}



<h2 id="order-types">Order type and third-party algo selection</h2>
<p>The Order Ticket automatically lists all order types available for the associated instrument. The order types drop-down lists all of the <a href="ot-order-types.html">order types</a> natively supported for the instrument by the exchange and the available <a href="tto-order-types-overview.html">TT order types</a> you can use. Additionally, if you have created your own algos or are associated with a third-party algo provider, those algos are also displayed as valid order types.</p>

<p><img class="img-responsive" src="Content/ot-overview-order-types1.png"></p>
<p>Note: The list includes only ADL algos and Order Ticket Algos (OTAs) you have permission to run.</p>

<p>If you select a <a href="tto-order-types-overview.html">TT Order type</a> or custom algo order type, you can enter the additional information in the embedded panel. Based on the TT Order type, the panel might include tabs for additional parameters. For example, the following shows a fly-out dialog for a TT Bracket order type.</p>
<p><img class="img-responsive" src="Content/tto-param-flyout-ot.png"></p>
<p><strong>Note</strong>: You can click <img src="Content/ot-tto-hamburger-icon.png" alt=""> to display the available <a href="tto-tt-order-type-templates.html" target="_blank">templates</a> and <img src="Content/ot-tto-flyout-icon.png" alt=""> to display all of the parameters in a <a href="tto-order-types-overview.html#tto-parameters" target="_blank" a>flyout</a>.</p>

<p>For quicker access to order templates, you can display the template selector by enabling <strong>Algo templates</strong> from the <strong>Show/Hide</strong> context menu.</p>

<p><img class="img-responsive" src="Content/ot-template-selector.png" alt=""/></p>

<h2 id="tif">TIF order restriction selection</h2>

<p>The order restrictions or time-in-force (TIF) options that the exchange supports for the instrument are also automatically listed in the TIF drop-down.</p>

<p><img class="img-responsive" src="Content/ot-restrictions-overview.png"></p>


<h2 id="free-form">Free-form text fields</h2>
<p><a href="ot-reference.html#fft-table">Free-form text fields</a> allow you to send optional or additional information with an order.</p>
<p><img class="img-responsive" src="Content/ot-free-form-overview.png"></p>




<h2 id="free-form">Reset</h2>

<p>The reset icon allows you to reset the order ticket to the product defaults displayed when the ticket was opened.</p>

<p><img class="img-responsive" src="Content/ot-reset.png"></p>





<div>
  <h2>Cross trades support</h2>
  <p>You can submit cross trades using the Order Ticket window in the Market Grid widget. In the Order Ticket window, the <b>Cross</b> Order Type is only available for exchanges (e.g., EEX) and accounts that support <a href="ot-submitting-a-cross-trade.html">Cross Orders</a>.</p>

  <h4>Exchanges supporting cross trades</h4>

  <!-- <p>If the cross orders are natively supported by an exchange, the <b>Cross</b> order type appears in the Order Types field in the Order Ticket. -->

  <p>The TT platform supports cross trades at the following exchanges:</p>

  <ul>

    <li>Eurex</li>
    <li>EEX</li>
  </ul>
</div>

<!--

Staged section
-->
<div>
  <h2 id="staged-order">Staged order support</h2>



  <p>Using the Order Ticket, you can stage a care order that can be claimed by another user for order management and order execution.</p>

  <p><img class="img-responsive" src="Content/trade-stage-submit1.png"></p>


  <p>For more information about care orders, refer to <a href="co-staged-orders-overview.html">Care Orders Overview</a>.
  </p>


  <!--
Broker mode section

-->

  <div>
    <h2 id="broker-support">Broker mode support</h2>
    <p>When <b>Enable broker mode</b> is enabled in the <a href="ot-reference.html">Order Ticket settings</a>, the Order Ticket displays a single Buy or Sell button based on whether you are entering a bid or ask. Click the <b>Flip for Sell/Buy</b> toggle button to quickly switch the direction of the main Buy/Sell button.</p>

    <p><img class="img-responsive" src="Content/ot-broker-mode-overview.png"></p>

  </div>

  <h2 id="open">Open and Close button</h2>

  {% include open-and-close-button.html %}



  <p><img class="img-responsive" src="Content/ot-open-close.png"></p>


  {% include confirm-orders.html %}


  <h2 id="min-vol">Minimum Volume orders</h2>


  {% include minimum-volume-orders.html %}


  <p>To enter a Minimum Volume order using the Order Ticket, select "MinVol" as the natively supported order type. When selected, an additional order entry field called <b>Minimum Qty</b> is shown. Enter the minimum quantity amount for the order in this field.</p>

  <p><img class="img-responsive" src="Content/ot-min-vol.png"></p>


</div>