---
widget: pm
layout: reference-tab
title: CSV file format for uploading fills
AccordionID: pm-csv-file-format-for-uploading-fills
---

<p>When <a href="pm-uploading-fills-to-tt.html">uploading fills to TT</a>, the CSV file must adhere to the following rules:
</p>
<ul>
  <li>Files must be saved as plain text format.</li>
  <li>The filename must use a <strong>.csv</strong> file extension.</li>
  <li>Data fields must be comma delimited.</li>
  <li>Spaces after commas (for readability) are allowed.</li>
</ul>


<h3>Sample CSV file</h3>
<pre>
Contract,B/S,FillQty,Price,Account,User
CL Mar20,B,2,57.94,AB Parent,Joe Trader
CL Mar20,B,2,57.94,AB Parent,Joe Trader
CL Mar20,B,2,57.39,AB Parent,Joe Trader
CL Mar20,B,10,57.39,AB Parent,Joe Trader
CL Mar20,S,5,57.37,AB Parent,Joe Trader
CL Mar20,S,1,57.29,AB Parent,Joe Trader
</pre>

<h3>File structure</h3>
<p>The CSV file can contain a maximum of 1000 order rows, as follows:</p>
<ul>
 
  <li>
    Row 1 contains the header fields, as follows:
    <ul>
      <li>
        The row must contain columns for all fields used by any of the fills.
      </li>
      <li>
        The header column names must exactly match the field names, including capitalization.
      </li>
      <li>
        The field columns can be arranged in any order, but the data within a column must match the value expected by the column header.
      </li>
    </ul>
  </li>
  <li>
    Rows 2-<i>n</i> (up to 1003) contain the values for a single order per row.
  </li>
</ul>


<h2>Supported field names for fills</h2>
<p>All uploaded fills can use the following fields.</p>

<table class="table table-striped table-bordered" border="1">
  <thead>
    <tr>
      <th>Field name</th>
      <th>Required or Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Exch</td>
      <td>Required</td>
      <td>The exchange name. Dependent on the contract selected.</td>
    </tr>
    <tr>
      <td>Account</td>
      <td>Required</td>
      <td>{% include columns/col-account.html %}</td>
    </tr>
  
    <tr>
      <td>B/S</td>
      <td>Required</td>
      <td>{% include columns/col-bs.html %}</td>
    </tr>
   
      <td>Contract</td>
      <td>Required</td>
      <td>
        {% include columns/col-contract.html %}
        <p></p>
        The contract name must use the short-form name, such as ESZ8.
        <p></p>
        <strong>Note</strong>: Optional if InstrumentID is present.
      </td>
    </tr>
   
    
    <tr>
      <td>OrdQty</td>
      <td>Required</td>
      <td>{% include columns/col-ord-qty.html %}</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>Required</td>
      <td>{% include columns/col-price.html %}</td>
    </tr>
  
  </tbody>
</table>

