---
widget: rfq
layout: desc-tab
title: RFQ Viewer Display
AccordionID: rfq-viewer-display
---
<div>

	
      <p>The RFQ Viewer display consists of the following:</p>

      <p> <img class="img-responsive" src="Content/rfq-viewer-display1.png"> </img></p>


      <ol>
        <li><b>Pin</b> column &mdash; {% include columns/col-pin.html %}</li>
          <li><b>Re-RFQ</b> column &mdash; {% include columns/col-rerfq.html %}</li>
          <li><b>Time</b> column &mdash; {% include columns/col-time-rfq.html %}</li>
          <li><b>Elapsed</b> column &mdash; {% include columns/col-elapsed.html %}</li>
          <li><b>Contract</b> and <b>Type</b> columns &mdash; Displays the options or strategies contract and instrument type for which RFQs have been submitted to the exchange.</li>
          <li>Best bid and quantity columns &mdash; Displays the best bid and quantity for the contract with a 
            submitted RFQ.</li>
          <li><b>TV</b> column &mdash; {% include columns/col-tv.html %}</li>
          <li><b>Best ask and quantity columns</b> &mdash; Displays the best ask and quantity for the contract with a submitted RFQ.
          </li>
          <li>Volatility and Greek calculations columns &mdash; Shows implied and user-calculated volatility values. Columns for options Greeks can also be shown.</li>
          <li>Widget columns &mdash; Allow you to open MD Trader, Strategy Creation, and Blocktrader widgets seeded with data for the selected instrument. <b>Note</b>: Blocktrader support for CME is planned for an upcoming release.</li>
          <li>Tabs &mdash; Allow you to monitor RFQs for multiple instruments in a single RFQ Viewer.</li>

            
          
        </ol>

<div>

<h2>New RFQ Notifications</h2>

  <p>When using multiple tabs in the RFQ Viewer, the tabs for the products you are not currently viewing will be highlighted yellow to indicate when new RFQs have been received. These tabs will also display the number of new RFQs received since you last viewed the products on those tabs.</p>
  
 <p> <img class="img-responsive" src="Content/rfq-tab1.png"> </img></p>
</div>

<div>


</div>