---
widget: ta
layout: reference-tab
title: Trader Analytics Reference
AccordionID: ta-reference
---
<h2 id="settings">Available settings</h2>
<p>To access settings, right-click in Trader Analytics to open the context menu and select <b>Settings: Trader Analytics</b>.</p>

<p>These settings affect only the selected Trader Analytics widget. To update the default settings with these value for newly-opened Trader Analytics widgets, or to apply them to existing opened widgets, click <b>Defaults</b>.</p>
<p>
    <img class="img-responsive" src="Content/ta-settings.png"> </img>
</p>
<ul>
    <li><b>Colors</b> &mdash; {% include settings/colors.html %}</li>
    <li><b>Specific currency</b> &mdash; Allows you to select a currency, which automatically recalculates the values displayed in the Trader Analytics grid based on the currency selection.</li>
    <li><b>Set Trader Analytics Rows</b> &mdash; Allows you to show/hide each <a href="#stats">row</a> of performance statistics.</li>
    <li><b>Set Trader Analytics Columns</b> &mdash; Allows you to show/hide each <a href="#stats">column</a> in Trader Analytics.</li>
</ul>
<div id="stats">
    <h3>Trader Analytics row and column descriptions</h3>
    <p>The following tables describe the trading performance statistics columns and rows displayed in Trader Analytics:</p>
    {% include settings/ta-settings.html %}
</div>