---
widget: ts
layout: reference-tab
title: Time &amp; Sales reference
AccordionID: ts-reference
---
<div>
	<h2 id="ts-settings">Available settings</h2>
	<p>These settings affect only the selected Time &amp; Sales widget. To update the default settings with these value for newly-opened Time &amp; Sales widgets, or to apply them to existing opened widgets, click <b>Defaults</b>.</p>
	<p><img class="img-responsive" src="Content/ts-settings.png"></p>


	{% include settings/time-sales-settings.html %}



<h3 id="trade-sounds">Trade Sounds</h3>

	<p><img class="img-responsive" src="Content/ts-trade-sounds.png"></p>

	
	{% include settings/trade-sounds.html %}


</div>