---
widget: tto
layout: desc-tab
title: TT Trailing Limit order
AccordionID: tto-trailing-limit-order
tto-name: TT Trailing Limit
---

<section id="overview">
<!-- <h3 id="tt-trailing-limit">TT Trailing Limit order</h3> -->
<p>A TT Trailing Limit order submits a native limit exchange order into the market then dynamically adjusts the price to stay within a specified distance of the market if it moves away. This means:</p>
<ul>
  <li>
    A Buy Trailing Limit sets the price a fixed amount below the market price. The order moves higher if the market moves above the highest recent price. The order will not adjust if the market moves lower.
  </li>
  <li>
    A Sell Trailing Limit sets the price a fixed amount above the market price. The order moves lower if the market moves below the lowest recent price. The order does not adjust if the market moves up.
  </li>
</ul>

<!--
<p>For example, if you want to create Trailing Limit order priced three ticks away from last traded price, you would specify the following TT Trailing Limit order parameters.</p>
<p><img class="img-responsive" src="Content/tto-tt-trailing-limit-config.png"></p>
-->

<p>The following describes the life cycle of a TT Trailing Limit order:</p>
<ul>
  <li>A TT Trailing Limit order submitted with a Start Date/Time is in the Waiting state.</li>
  
  <li>A TT Trailing Limit order goes into the Working state when the Start Time is reached or when the order is entered without a Start Date/Time. A single child order is placed in the market. The
  trailing parameters dynamically re‐price the child order as the market moves.</li>
</ul>
</section>

<section id="behaviors">
  <h2>Behaviors</h2>
  <p>The following examples illustrate how you can configure a {{page.title}} order with different behaviors for the child and parent orders. Also, each example shows how the order will appear in MD Trader.</p>

  <ul>
    <li>
      Specifying the price at when child orders are entered
      <ul>
        <li>
          <a href="#trigger">Triggering a TT Trailing Limit parent order at a price level that trails the market</a>
        </li>
      </ul>
    </li>
    <li>
      Setting preconditions for the parent order
      <ul>
        <li>
          <a href="#times">Setting start and end times for a {{ page.title }} parent order</a>
        </li>
      </ul>
    </li>
  </ul>
  

</section>

<section id="trigger">
  <h2>Triggering a TT Trailing Limit parent order at a price level that trails the market</h2>
  <p>To enter a trailing limit order:</p>
  <ol>
    <li>
      From the <strong>Trail Price Type</strong> dropdown, select the price off which you want to trigger.
    </li>
    <li>
      For <strong>Trail (ticks)</strong>, enter the number of ticks to trail the selected price type.
      <p><img class="img-responsive" src="Content/tto-trailing-limit-config.png" alt=""/></p>
      If you clicked somewhere on the Sell side, the TT Trailing Limit parent order would resemble the following.
      <p><img class="img-responsive" src="Content/tto-trailing-limit-mdt.png" alt=""/></p>
    </li>
  </ol>
  
</section>


{% include tto-time-params.html %}


<h2 id="tt-trailing-limit-params">TT Trailing Limit order parameters</h2>
<h3 id="details-params">Trailing Limit details parameters</h3>
<ul>
  <li>{% include Parameters/TrailPriceType_Details.html %}</li>
  <li>{% include Parameters/TrailOffset.html %}</li>
  <li>{% include Parameters/AutoResubmit_Details.html %}</li>
</ul>

<h3 id="timing-params">Precondition details parameters</h3>
<ul>
  <li>{% include Parameters/StartTime_Details.html %}</li>
  <li>{% include Parameters/EndTime_Details.html %}</li>
  <li>{% include Parameters/EndTimeAction_Details.html %}</li>
</ul>