---
widget: tto
layout: desc-tab
title: TT Time Sliced order
AccordionID: tto-time-sliced-order
tto-name: TT Time Sliced
---

<section id="overview">
  <p>A TT Time Sliced order slices a large quantity order into smaller disclosed quantity orders. Child order portions are sent to the market at fixed time intervals. The resting portion might not be filled before it is time to disclose the next portion.</p>

  <p><img class="img-responsive" src="Content/tto-tt-time-sliced-illustration.jpg" alt="" /></p>

</section>

<section id="behaviors-section">
  <h2 id="behaviors">Behaviors</h2>
  <p>The following examples illustrate how you can configure a TT Time Sliced order with different behaviors for the child and parent orders. Also, each example shows how the order will appear in MD Trader.</p>
  
  <ul id="behaviors-list">
    <li>
      Defining the behavior of each child order slice
      <ul>
        <li>
          <a href="#slice-details">Setting the interval and quantity for each child order</a>
        </li>
        <li>
          <a href="#variable-qty">Varying the quantities of child orders</a>
        </li>
      </ul>
    </li>
    <li>
      Specifying the price at when child orders are entered
      <ul>
        <li>
          <a href="#child-order-type">Setting the type and price of each child order</a>
        </li>
        <li>
          <a href="#leftover-action">Setting a leftover action to handle unfilled orders when a slice ends</a>
        </li>
        <li>
          <a href="#wat">Aggressing the price of a working child based on market conditions</a>
        </li>
      </ul>
    </li>
    <li>
      Setting preconditions for the parent order
      <ul>
        <li>
          <a href="#static-trigger">Triggering the parent order at a specific price level</a>
        </li>
        <li>
          <a href="#trailing-trigger">Using Stop and If-Touched trailing triggers to enter a TT Time Sliced parent order at a price level that trails the market</a>
        </li>
        <li>
          <a href="#times">Setting start and end times for a parent order</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="slice-details">
  <h2>Setting the interval and quantity for each child order</h2>
  <p>When configuring a TT Time Sliced order, you need specify how frequently you want the parent order to submit a child order and at what quantity. Based on the specified interval, display quantity and the parent order quantity, the TT Time Sliced parent order, calculates the number of child order slices it will need to submit. It divides the total parent order quantity by the slice display quantity to determine the number of slices; then it submits each sliced order at the specified interval.</p>

  <p>To specify the inverval and quantities of child orders:</p>
  <ol>
    <li>
      Enter the length of time for each interval and select the time unit from the dropdown. You can chose the following time units:
      <ul>
        <li>
          <strong>Min</strong> (minutes)
        </li>
        <li>
          <strong>Sec</strong> (seconds)
        </li>
        <li>
          <strong>ms</strong> (milliseconds)
        </li>
      </ul>
      
    </li>
    <li>
      Enter the <strong>Display</strong> quantity and select the type of quantity (<strong>Qty</strong> or <strong>%</strong>) from the dropdown.
      <p><img class="img-responsive" src="Content/tto-time-sliced-child-slice-config.png" alt=""/></p>
      If you entered a 50-lot order with these settings, the TT Time Sliced parent order would submit one 5-lot order every 30-seconds for a total of 10 order slices.
    </li>
  </ol>
  
</section>

<section id="variable-qty">
  <h2>Varying the quantities of the child order</h2>
  <p>Instead of submitting a fixed quantity for every child order you can use a variance to increase or reduce the quantity of each child order by a random amount. This amount uses a percentage of the disclosed quantity as its threshold.</p>

  <p>To vary the disclosed quantity by a percentage of the order size:</p>
  <ol>
    <li>
      Set the desired <strong>Display</strong> quantity. This quantity becomes the base quantity for calculating variance.
    </li>
    <li>
      Set the <strong>Variance</strong> and select <strong>%</strong> from the dropdown. This example sets the variance to 50%, so each child order could have an order quantity within 50% (+/- 5) of the base disclosed quantity.
      <img class="img-responsive" src="Content/tto-time-sliced-variable-qty-config.png" alt="Add PIC" />
    </li>
    <li>
      To see a proposed distribution of the child orders, click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button">. <strong>Note</strong>: You must specify the order quantity to see the distribution.
      <p></p>
      A flyout shows the quantity of each child order that will be sent when you submit the parent order.
      <p><img class="img-responsive" src="Content/tto-time-sliced-variable-qty-config-show-1.png" alt="TBD" /></p>
      If you want to change the proposed distribution, you can continue to click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button"> until you see a distribution you like.
      <p><img class="img-responsive" src="Content/tto-time-sliced-variable-qty-config-2.png" alt="TBD" /></p>

      <strong>Note</strong>: If you do not display the variance, or if you make any order change after displaying the variance distribution, the TT Iceberg parent order will submit its child orders with random quantities within the specified variance until the total order quantity has been filled.
    </li>
    <li>
      Submit the order at the desired side and price.
      <p></p>
      If you entered a 100 lot oder with these settings, the TT Time Sliced parent order would submit an order for the first quantity (10). Then, a new child order would be entered at the indicated time and quantity until all of the slices were submitted.
    </li>
  </ol>
</section>

<section id="#child-order-type">
  <h2>Setting the type and price of the child order</h2>
  <p>At the specified intervals, the TT Time Sliced parent order will submit native child orders to the market at a specified type and price. You can choose the following types of native order to use when entering child orders at the specified interval.</p>
  <ul>
    <li>
      Market order
    </li>
    <li>
      Limit order
      <p></p>
      You can choose to use same price as the parent order for each child order or to use a price offset based on the market at the time each child order is entered.
    </li>
    <li>
      Market Limit Market (MLM) order
    </li>
  </ul>

  <p>To configure the type and price of each child order:</p>
  <ol>
    <li>
      In the <strong>Slice details</strong> section, configure the slices as desired.
    </li>
    <li>
      In the <strong>Order Type</strong> dropdown, select the desired order type for the child orders.
      <p></p>
      If you select <strong>Limit</strong>, you can optionally specify enter a child order at a relative price using an offset.
      <p><img class="img-responsive" src="Content/tto-time-sliced-child-limit-config.png" alt=""/></p>
      With this setting, each child order will be entered at a price level three ticks away from the LTP at the beginning of the slice interval.
    </li>
  </ol>
  

</section>

<section id="leftover-action">
  <h2>Setting a leftover action to handle unfilled orders when a slice ends</h2>
  <p>When it is time to enter the next child order slice, the TT Time Sliced parent order needs to know what to do if the current child order slice is not fully filled. When you submit child orders with the Limit order type, you can specify a leftover action, which lets you either reprice the resting order using payup ticks or leave the resting child order portion in the market.</p>

  <ol>
    <li>
      Configure the <strong>Slice details</strong> as desired.
    </li>
    <li>
      From the <strong>Order Type</strong> dropdown, select <strong>Limit</strong>.
      <p></p>
      The <strong>Leftover Action</strong> section is exposed in the flyout.
      <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-action-config.png" alt=""/></p>
    </li>
    <li>
      Choose one of the following:
      <ul>
        <li>
          <strong>Leave</strong>
        </li>
        <li>
          <strong>Payup</strong>; then specify a positive or negative number of <strong>Payup Ticks</strong>.
          <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-payup-config.png" alt=""/></p>
          The following example illustrates using payup ticks.
          <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-payup-mdt.png" alt=""/></p>
        </li>
      </ul>
    </li>
  </ol>
  
</section>

<section id="wat-hidden" hidden>
  <h2>Aggressing the price of a working child order based on market conditions</h2>
  <p>You can also apply <a href="tto-with-a-tick-order.html">With-A-Tick</a> functionality to the child orders. This feature automatically gives traders the ability to work an order at one price and automatically pay up one tick based on changes in market liquidity. It re-prices the child order one tick toward the market when the quantity available at the opposite drops below a user-defined threshold.</p>

  <p>To configure each child order to pay-up one tick if the available quantity on the opposite side of the market drops below 10, you would use the With a Tick feature as follows.</p>

  <ol>
    <li>
      Specify the desired quantity and price settings.
    </li>
    <li>
      Enable <strong>With a Tick</strong>, set the value to <strong>10</strong> and select <strong>Qty</strong> from the dropdown.
      <p><img class="img-responsive" src="Content/tto-time-sliced-wat-qty-config.png" alt="" /></p>
    </li>
    <!--
    <li>
      Enter an order at the desired price.
      <p></p>
      If you entered a Buy order at 2947.50, the TT Iceberg parent order would resemble the following.
      <p><img class="img-responsive" src="Content/tto-iceberg-wat-mdt.png" alt="" /></p>
      <ol type="A">
        <li>
          The child order is entered at the 2947.50.
        </li>
        <li>
          If the quantity at 2947.75 falls below 10, the child order will automatically be repriced to 2947.75.
        </li>
      </ol>
    </li>
    -->
  </ol>

</section>

{% include tto-wat-params.html %}

{% include tto-static-trigger-params.html %}

{% include tto-trailing-trigger-params.html %}

{% include tto-time-params.html %}


<section id="parameters-section">

  <h2 id="tt-time-sliced-params">TT Time Sliced order parameters</h2>
  <h3 id="details-params">Slice details parameters</h3>
  <ul>
    <li>{% include Parameters/Interval_Details.html %}</li>
    <li>{% include Parameters/DisplayedQuantity_Details.html%}</li>
  </ul>

  <h3 id="child-params">Child order details</h3>
  <ul>
    <li>{% include Parameters/ChildOrderType_Details.html%}</li>
    <li>{% include Parameters/OffsetTicks_Details.html %}</li>
    <li>{% include Parameters/WithATick.html %}</li>
    <li>{% include Parameters/LeftoverAction_Details.html%}</li>
    <li>{% include Parameters/PayupTicks_Details.html%}</li>
    <li>{% include Parameters/AutoResubmit_Details.html %}</li>
  </ul>

  <h3 id="preconditions">Precondition details</h3>
  <ul>
    <li>{% include Parameters/TriggerType_Details.html%}</li>
    <li>{% include Parameters/TriggerPrice_Details.html%}</li>
    <li>{% include Parameters/TriggerType_Details.html%}</li>
    <li>{% include Parameters/TrailOffset.html%}</li>
    <li>{% include Parameters/StartTime_Details.html %}</li>
    <li>{% include Parameters/EndTime_Details.html %}</li>
    <li>{% include Parameters/EndTimeAction_Details.html %}</li>
  </ul>
</section>