---
widget: tto
layout: desc-tab
title: TT OCO order
AccordionID: tto-oco-order
tto-name: TT OCO
---

<!-- <h3 id="tt-oco">TT OCO order</h3> -->
<p>A TT OCO (one-cancels-other) order submits two orders of the same quantity at different price levels on the same side of the market. This order allows you to potentially lock in profits with a favorable move or prevent a downside loss without having to constantly monitor the position.</p>

<p><img class="img-responsive" src="Content/tto-tt-oco.png"></p>


<p>A TT OCO submits a profit order and a Stop protective order by combining Limit and Stop order types. If you are buying, the Limit order (profit order) is submitted at a low target price, and the Stop order (protective order) is placed at a higher price. If you are selling, the Limit order is placed at a high target price, and the Stop order is placed at a lower price. Both orders are placed on the same side of the market.</p>

<p> When an OCO is entered and the orders are working in the market, a fill in the Limit order decreases the quantity of the Stop order by the filled quantity. When the Limit order is completely filled, the Stop order will be canceled. However, if the Stop order is triggered and filled, the Limit order will be canceled. </p>

<p><b>Note</b>: If you "change" the quantity of one of the TT OCO child orders, it will not automatically change the quantity of the other order. </p>

<!--<p><b>Tip</b>: When you hover on an OCO child order in MD Trader<sup><small>&reg;</small></sup>, it will highlight to show the related working OCO child order:</p>

<p><img class="img-responsive" src="Content/tt-oco-mdt.png"></p> -->


<h2>TT OCO Behaviors</h2>

<p>You can configure the following TT OCO behaviors:</p>

<ul>
<Li>Stop child order behavior after the TT OCO parent order is triggered
    <ul>
      <li> <a href="#basic">Set the order type of the Stop child order</a>
        <Li> <a href="#price">Set the price for the Stop child order</a>
            <li><a href="#wat">Change the price of a working child order based on market conditions</a></li>

</ul>
</li>

<li>TT OCO parent order behavior based on preconditions
  <ul>
    <li> <a href="#parent">Trigger the TT OCO based on a specific price</a>
      <li> <a href="#parent2">Using Stop and If-Touched trailing triggers to enter a TT OCO parent orderat a price level that trails the market</a>
    <li> <a href="#start">Set when to start and end the TT OCO</a>
    </ul>
</li>
</ul>



<h2 id="basic">Setting the order type of the Stop child order</h2>



  <p>A basic TT OCO order is configured for how the Stop child order will be submitted in the market when the parent OCO is triggered and the child Limit (profit) order is submitted. The child order can be submitted as a:</p>
    <ul>
      <li>Stop Limit</li>
      <li>Stop Market</li>
      <li>TT Stop</li>
    </ul>


  <p>By default, the Stop order is submitted as a Stop Limit order and uses the default "Payup" setting of "1", which  submits the child order one tick away from our Limit price.</p>


<p><img class="img-responsive" src="Content/tto-tt-oco-config.png"></p>

    <p><strong>Note</strong>: For a TT Stop child order submitted as part of a TT OCO parent order, 
      you can override/select the TIF of the native child order submitted by the TT Stop. When TT Stop is selected, the TIF selector is displayed in the flyout.
<p><img class="img-responsive" src="Content/tto-tt-oco-stop-tif.png"></p>

<p>The following TIFs can be selected if natively supported by the exchange:</p>

<ul>
<li>Day
<li>GTC
<li>FOK
<li>GTDate
<li>IOC
</ul>




<p>In the following example, a TT OCO is submitted as a Buy order using the default configuration:</p>
<ol>
    <li>The TT OCO is triggered immediately at 2923.50 and submits a Limit order at this price level.
    </li>
    <li>The cursor is placed at a price above the first order on the same side of the market and indicates that a valid Stop Limit order can be entered at that price. The Stop Limit order is entered at 2924.75.

      <p><img class="img-responsive" src="Content/tto-tt-oco-stop-limit-mdt.png"></p>

    </li>
  
</ol>


<p>The Audit Trail shows that the Stop Limit order (protective Stop order) was actually submitted at 2925.00, which is one tick away based on the Payup setting. When the Stop Limit was triggered, the order was filled at 2924.75 and the first Limit order (profit order) was canceled. The parent TT OCO order was filled at 2924.75.</p>

<!-- <p><img class="img-responsive" src="Content/tto-tt-oco-example-audit.png"></p> -->
<p><img class="img-responsive" src="Content/tto-tt-oco-stop-limit.png"></p>



 <p>For this next configuration, the TT OCO is configured to submit a Stop Market order. However, the Payup setting is ignored for Market orders.</p>


<p><img class="img-responsive" src="Content/tto-tt-oco-config-sm.png"></p>


<p>The following example shows a TT OCO submitted as a Buy order using this configuration:</p>
<ol>
    <li>The TT OCO is triggered immediately at 2923.50 and submits a Limit order at this price.
    </li>
    <li>The cursor is placed at a price above the first order on the same side of the market and indicates that a valid Stop Market order can be entered at 2925.25.

      <p><img class="img-responsive" src="Content/tto-tt-oco-stop-market-mdt.png"></p>

    </li>
  
</ol>


<p>The Audit Trail shows that the Stop Market order (protective Stop order) was triggered and filled at the market price of 2925.25 and the first Limit order (profit order) was canceled. The parent TT OCO order is filled at 2925.25.</p>

<p><img class="img-responsive" src="Content/tto-tt-oco-stop-market.png"></p>





  <h2 id="price">Setting the price of the Stop child order</h2>

  <p>The TT OCO can be configured to execute the Stop child order at a specific price level. You can set the child order based on market conditions (WAT) or a set number of ticks from the market (Payup). In this example, we'll use a Payup of "-3".</p>

<p><img class="img-responsive" src="Content/tto-tt-oco-payup-sell.png"></p>

<p>To submit the TT OCO order:</p>
<ol>
    <li>
      Click the price level of the profit order. In this example, The TT OCO is submitted as a Sell order, which is triggered immediately at 2954.50 and submits a Limit order.
    </li>
    <li>
      Click the price level of the protective Stop Limit order on the same side of the market, but at the lower price of 
      2952.75.

      <p>The Stop Limit order is triggered at 2952.75 and a child Limit order is submitted at 2953.50, three ticks away from the market based on the <strong>Payup</strong> setting of "-3".</p>

        <p><img class="img-responsive" src="Content/tto-tt-oco-payup-sell-triggered.png"></p>

    </li>
  
</ol>

<p>The Audit Trail shows that the child Limit order was activated and filled at 2953.50, and the profit order of 2954.50 was canceled. The parent TT OCO order is filled at 2953.50.</p>

          <p><img class="img-responsive" src="Content/tto-tt-oco-payup-sell-audit.png"></p>

<!-- <p><img class="img-responsive" src="Content/tto-tt-oco-payup.png"></p> -->




{% include tto-wat-params.html %}







 <h2 id="parent">Triggering a TT OCO parent order at a specific price level</h2>


  <p>You can also configure at what price the TT OCO parent order is triggered. If a trigger price is set for the parent TT OCO, it's submitted 'on hold' until the price conditions are met. When the TT OCO is triggered, it submits a child profit order and Stop order at the prices selected in the market. TT OCO supports the following triggers:
  </p>

  <ul id="trigger-types">
    <li>
      <strong>If-Touched</strong>: Triggered when the market has reached or traded through a price better than the current market.
    </li>
    <li>
      <strong>Stop</strong>: Triggered when the market has reached or traded through a price worse than the current market.
    </li>
  </ul>

  <p>The following trigger price types are supported:</p>

  <ul id="trigger-price-types">
    <li>
       <strong>LTP</strong>: The Last Traded Price is used to evaluate the trigger price. A trade must occur at or through the Last Traded Price in order to trigger the order.
    </li>
    <li>
       <strong>Bid/Ask</strong>: The Best Bid or Ask price is used to evaluate the trigger price.
    </li>
    <li>
       <strong>Same Side</strong>: Evaluates the trigger using the inside market price in the Buy/Sell direction of the order:
<ul>
<li>Best Bid for Buys
<li>Best Ask for Sells
</ul>
</li>
</li>

 <li> <strong>Opposite Side</strong>: Evaluates the trigger using the inside market price in the opposite Buy/Sell direction of the order:
<ul>
  <li>Best Ask for Buys
<li>Best Bid for Sells
</ul>
</li>
  </ul>


 <p>In this example, the TT OCO order trigger is a "Stop" and the trigger price is set to "2954.50". The trigger price is evaluated based on the price type of "LTP".

            <p><img class="img-responsive" src="Content/tto-tt-oco-parent-config.png"></p>

<p>The TT OCO with the trigger price preconditions behaves in the market as follows:</p>
<ol>
  <li>The TT OCO is submitted with a "Buy" profit order of 2953.25 and a Stop order of 2956.00. However, the parent OCO order rests in the market at the trigger price of 2954.50 until the Stop is triggered.
                <p><img class="img-responsive" src="Content/tto-tt-oco-parent.png"></p>
              </li>

    <li>The market trades at or through 2954.50 and the Stop is triggered. The TT OCO submits a profit order as a Limit order at 2953.25 and a protective Stop order as a Stop Limit at 2956.25 (2956.00 with a Payup of "1").
                <p><img class="img-responsive" src="Content/tto-tt-oco-parent-triggered.png"></p>


</li>
</ol>

<p>The Audit Trail shows that the Stop Limit was triggered and filled at 2956.25 and that the initial Limit order at 2953.25 was canceled. The TT OCO is filled at 2956.25.</p>

                <p><img class="img-responsive" src="Content/tto-tt-oco-parent-audit.png"></p>








  <h2 id="parent2">Using Stop and If-Touched trailing triggers to enter a TT OCO parent order at a price level that trails the market</h2>


  <p>You can also trigger a TT OCO using a trigger price that dynamically adjusts relative to the market. Using the "Trail (ticks" option, you can set how many ticks away from a specified price type to trigger an OCO.</p>

  <p>The <strong>Trail (ticks)</strong> setting adjusts the trigger price based on which trigger is used:</p>
  <ul>
    <li>
      <strong>If-Touched</strong>: When the market moves higher for a <strong>Buy</strong> order, the trigger price follows the market at the specified ticks away value. When the market moves lower, the trigger price does not adjust. When the market moves lower for a <strong>Sell</strong> order, the trigger price follows the market at the specified ticks away value. When the market moves higher, the trigger price does not adjust.
    </li>
   
    <li>
      <strong>Stop</strong>: When the market moves lower for a <strong>Buy</strong> order, the trigger follows the market at the specified ticks away value. When the market moves higher, the trigger price does not adjust. When the market moves higher for a <b>Sell</b> order, the trigger follows the market at the specified ticks away value. When the market moves lower, the trigger price does not adjust.
    </li>

  </ul>






 <p>In this example, the TT OCO order trigger is a "Stop" and  <strong>Trail (ticks)</strong> is set to "3". The trigger price is evaluated based on the price type of "LTP". When submitted, the TT OCO trigger price will trail LTP by three 
  ticks.

        
      <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-config.png"></p>




<p>The TT OCO with a trailing price trigger behaves in the market as follows:</p>

<ol>
  <li>The TT OCO is submitted with a "Buy" profit order of 2953.25 and a Stop order of 2956.00.

          <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-buy.png"></p>
        </li>


  <li>However, the parent OCO order rests in the market three ticks away from LTP until the Stop is triggered.


              <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-away.png"></p>
            </li>


    <li>As the market moves lower, the trigger price trails the market by three ticks.
              <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-adjust1.png"></p>
            </li>

<li>When the market moved higher, the TT OCO was triggered and the Limit and Stop Limit child orders were submitted.
              <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-triggered.png"></p>
            </li>
          </ol>

          <p>The Audit Trail shows that the TT OCO was triggered at 2959.75 and filled at 2960.75, which was the price of the Stop Limit (protective) order. The Limit (profit) order at 2958.75 was canceled.</p> 


              <p><img class="img-responsive" src="Content/tto-tt-oco-submit-ticks-audit.png"></p>


              </li>

{% comment %}
 <h2>Setting when to start and end a TT OCO parent order</h2>

<p>You can customize when a TT OCO order starts and ends using the "Start" and "End" settings.</p>

  <p><strong>Note</strong>: If you set both a trigger and a future start time, the start time takes precedence. When the specified start time is reached, the TT OCO parent order begins working and evaluates the trigger conditions.
  </p>

  <p>To set when to start and end a TT OCO parent order:</p>
  <ol>
 
        <li>For the <strong>Start</strong> setting, click the drop down arrow and select <strong>Time</strong>.
        
        </li>
        <li>
          Set a start date and time in the calendar selector, and click <strong>Apply</strong>.
                    <p><img class="img-responsive" src="Content/tto-tt-oco-start.png" alt="" /></p>

        </li>
        <li>For the <strong>End</strong> setting, click the drop down arrow and select one of the following:
          <ul>
            <li><strong>GTC</strong>: Keeps the TT OCO parent order working until it is canceled.
            <li><strong>Time</strong>: Sets a time and date for when the TT OCO parent order ends.
            <li><strong>Day</strong>: Cancels the TT OCO parent order at the end of the trading session.
      </ul>
                    <p><img class="img-responsive" src="Content/tto-tt-oco-end.png" alt="" /></p>


    </li>
  
  </ol>
{% endcomment %}


{% include tto-time-params.html %}





<h2 id="tt-oco-params">TT OCO order parameters</h2>


<h3 id="details-params">OCO details parameters</h3>
<ul>
  
  <li>{% include Parameters/StopOrderType_Details-OCO.html %}

For TT Stop, the following TIFs can be selected if natively supported by the exchange:

<ul>
<li>Day
<li>GTC
<li>FOK
<li>GTDate
<li>IOC
</ul>


  </li>
  <li>{% include Parameters/Payup_Details.html %}</li>
  <li>{% include Parameters/WithATick.html %}</li>
        <li>{% include Parameters/AutoResubmit_Details.html %}</li>
  <li><strong>Exclude Implied Prices</strong>: Sets whether to exclude implied prices when evaluating the triggering logic. (Only when <strong>Stop order type</strong> is <strong>TT Stop</strong>)</li>
</ul>


<h3 id="trigger-params">Trigger parameters</h3>
<ul>
  <li>{% include Parameters/TriggerType_Details.html%}</li>
  <li>{% include Parameters/TriggerPrice_Details.html%}</li>
  <li>{% include Parameters/TrailOffset.html%}</li>
</ul>

<h3 id="timing-params">Timing parameters</h3>
<ul>
  <li>{% include Parameters/StartTime_Details.html %}</li>
  <li>{% include Parameters/EndTime_Details.html %}</li>
  <li>{% include Parameters/EndTimeAction_Details.html %}</li>
</ul>
