---
widget: tto
layout: desc-tab
title: TT Iceberg order
AccordionID: tto-iceberg-order
---

<p>A TT Iceberg order executes a large volume order by breaking it into smaller disclosed orders, publicly displaying only the specified portion instead of the full order quantity. When one disclosed portion fills, the next portion is sent to the market. This process continues until the order is filled.</p>

<h2 id="examples">Examples</h2>
<p>The following examples illustrate different ways you can configure a TT Iceberg order and how the order will appear in MD Trader.</p>
<ul>
  <li>
    <a href="#basic">Submitting a basic TT Iceberg order</a>
  </li>
  <li>
    <a href="#variance">Submitting child orders with varying quantities</a>
  </li>
  <li>
    <a href="#trailing-trigger">Submitting child orders away from the market when a price level is breached</a>
  </li>
</ul>


<h3 id="basic">Submitting a basic TT Iceberg order</h3>
<p>Suppose you want to create an Iceberg order for 200 contracts that submits 20-lot child orders at the same price level as the parent Iceberg order. In this case, you would specify the following TT Iceberg order parameters.</p>
<p><img class="img-responsive" src="Content/tto-iceberg-basic-config.png" alt="Basic TT Iceberg pic"/></p>

<ol>
  <li>
    From MD Trader or an Order Ticket, set the order quantity to 1000.
  </li>
  <li>
    Select <strong>TT Iceberg</strong> from the order type dropdown.
  </li>
  <li>
    Set the <strong>Display</strong> to <strong>20</strong> and select <strong>Qty</strong> from the <strong>Display</strong> dropdown to set the child order quantity to 20 contracts.
  </li>
  <li>
    Submit the order at the desired side and price.
    <p></p>
    If you submitted a Buy order at 123'185, the TT Iceberg parent order would resemble the following:
    <p><img class="img-responsive" src="Content/tto-iceberg-basic-mdt.png" alt="Basic example" /></p>
    After the each order is fully filled, the TT Iceberg will submit the next order at 123'185 until the total order quantity has been filled.
  </li>
</ol>


<h3 id="variance">Submitting child orders with varying quantities</h3>
<p>Suppose you want to create an Iceberg order for 1000 contracts that submits orders for 5% of the total order quantity with a 20% variance (40-60 contracts for this total order quantity). In this case, you would specify the following TT Iceberg order parameters.</p>
<img class="img-responsive" src="Content/tto-iceberg-variance-config.png">

<ol>
  <li>
    From MD Trader or an Order Ticket, set the order quantity to 1000.
  </li>
  <li>
    Select <strong>TT Iceberg</strong> from the order type dropdown.
  </li>
  <li>
    Set the <strong>Display</strong> to <strong>5</strong> and select <strong>%</strong> from the <strong>Display</strong> dropdown to set the base child order quantity to 5% of the total quantity.
  </li>
  <li>
    Set the <strong>Variance</strong> to <strong>20</strong> % to submit the child orders with quantities between 40 and 60 contracts.
  </li>
  <li>
    Submit the order at the desired side and price.
    <p></p>
    If you submitted a Sell order at 373'4, the TT Iceberg parent order would resemble the following:
    <p><img class="img-responsive" src="Content/tto-tt-iceberg-mdt.png" alt=""/></p>
    After the each order is fully filled, the TT Iceberg will submit the next order at 373'4 until the total order quantity has been filled.
  </li>
</ol>


<p>In addition to adjusting the size of the disclosed quantity you can: </p>
<ul>
  <li>Adjust the <a href="#details-params">price level</a> at which each disclosed qty is placed.</li>
  <li>Define a <a href="#trigger-params">trigger condition</a> to begin submitting child orders into the market.</li>
  <li>Set a <a href="#timing-params">time and date</a> to start working your TT Iceberg parent order.</li>
</ul>


<h3 id="trailing-trigger">Submitting child orders away from the market when a price level is breached</h3>
<p>Suppose you want to create an Iceberg order that starts submitting orders when the market reaches or penetrates the price level three ticks away from same-side inside market price when the order is submitted. When the Iceberg parent order starts working, you want it to submit disclosed quatity orders for ten percent of the total quantity at two ticks away from the last order price. In this case, you would specify the following TT Iceberg order parameters.</p>
<img class="img-responsive" src="Content/tto-tt-iceberg-triggered-config.png">

<ol>
  <li>
    From MD Trader or an Order Ticket, set the order quantity to the desired value.
  </li>
  <li>
    Select <strong>TT Iceberg</strong> from the order type dropdown.
  </li>
  <li>
    Set the <strong>Display</strong> to <strong>10</strong> and select <strong>%</strong> from the <strong>Display</strong> dropdown to set the base child order quantity to 10%.
  </li>
  <li>
    Set the price of the next child order to two ticks away from the price of the last submitted order:
    <ul>
      <li>
        Enable <strong>Offset</strong> and enter <strong>2</strong> for the number of ticks away.
      </li>
      <li>
        Select <strong>DRO</strong> from the <strong>Offset</strong> dropdown to calculate the price of the new child order based on the price of the previous child order.
      </li>
    </ul>    
  </li>
  <li>
    Set the order to start working when the market moves three ticks away from the inside market on the same side as the entry order:
    <ul>
      <li>
        Enable <strong>Trigger</strong> and select <strong>If Touched</strong> from the dropdown.
      </li>
      <li>
        For the <strong>Trigger price</strong>, select <strong>Same Side</strong> from the drop-down.
      </li>
      <li>
        Enable <strong>Trail (ticks)</strong> and enter <strong>3</strong> to place the order three ticks away from the same-side inside market.
      </li>
    </ul>
  </li>
  <li>
    Submit the order on the on either side of the market.
    <p></p>
    If you clicked somewhere on the Buy side, the TT Iceberg parent order would resemble the following.
    <p><img class="img-responsive" src="Content/tto-tt-iceberg-triggered-mdt.png" alt=""/></p>
  </li>
</ol>

<p>In addition to adjusting the size of the disclosed quantity you can: </p>
<ul>
  <li>Adjust the <a href="#details-params">price level</a> at which each disclosed qty is placed.</li>
  <li>Define a <a href="#trigger-params">trigger condition</a> to begin submitting child orders into the market.</li>
  <li>Set a <a href="#timing-params">time and date</a> to start working your TT Iceberg parent order.</li>
</ul>

<!--
<p>You can use the other Iceberg details to submit orders with a <a href="#offset">price offset</a>, use <a href="#wat">With a Tick</a> functionality, and <a href="#resubmit">resubmit child orders</a> canceled at the end of the session by the exchange. The <a href="#timing-params">Timing</a> and <a href="#timing-params">Trigger</a> parameters let you postpone working the TT Iceberg order until specific conditions are met.</p>
-->

<h2 id="tt-iceberg-params">TT Iceberg order parameters</h2>
<h3 id="details-params">Iceberg details parameters</h3>
<ul>
  <li id="display">{% include Parameters/DisplayedQuantity_Details.html%}</li>
  <li id="variance">{% include Parameters/Variance_Details.html%}</li>
  <li id="offset">{% include Parameters/OffsetTicks_Details_Iceberg.html %}</li>
  <li id="wat">{% include Parameters/WithATick.html %}</li>
  <li id="resubmit">{% include Parameters/AutoResubmit_Details.html %}</li>
</ul>

<h3 id="trigger-params">Trigger parameters</h3>
<ul>
  <li>{% include Parameters/TriggerType_Details.html%}</li>
  <li>{% include Parameters/TriggerPrice_Details.html%}</li>
  <li>{% include Parameters/TrailOffset.html%}</li>
</ul>

<h3 id="timing-params">Timing parameters</h3>
<ul>
  <li>{% include Parameters/TimeDate.html %}</li>
  <li>{% include Parameters/StartTime_Details.html %}</li>
  <li>{% include Parameters/EndTime_Details.html %}</li>
  <li>{% include Parameters/EndTimeAction_Details.html %}</li>
</ul>

<ul hidden>
  <li>{% include Parameters/DisplayedQuantity_Details.html%}</li>
  <li>{% include Parameters/Variance_Details.html%}</li>
  <li>{% include Parameters/OffsetTicks_Details_Iceberg.html %}</li>
  <li>{% include Parameters/WithATick.html %}</li>
  <li>{% include Parameters/AutoResubmit_Details.html %}</li>
  
  <li>{% include Parameters/TriggerType_Details.html%}</li>
  <li>{% include Parameters/TriggerPrice_Details.html%}</li>
  <li>{% include Parameters/TrailOffset.html%}</li>
  
  <li>{% include Parameters/StartTime_Details.html %}</li>
  <li>{% include Parameters/EndTime_Details.html %}</li>
  <li>{% include Parameters/EndTimeAction_Details.html %}</li>
</ul>
