---
widget: tto
layout: desc-tab
title: TT Bracket order
AccordionID: tto-bracket-order
tto-name: TT Bracket
---

<p>A TT Bracket order submits a Limit or Stop order accompanied by an OCO (one-cancels-other) order. When the original Limit or Stop order is filled, the child OCO order is automatically submitted. The OCO is set with a profit target offset and a stop loss offset from the price the trader places the original order. For each partial / full fill of the TT Bracket Limit order, a <a href="tto-oco-order.html">TT OCO order</a> will be launched. The TT Bracket and TT OCO orders allow you to potentially lock in profits with a favorable move or prevent a downside loss without having to constantly monitor the position.</p>


<p>For example, a 10-lot TT Bracket order is submitted as a 10-lot Limit bid. If it gets partially filled for 7-lots, the TT Bracket order submits an OCO, which submits a child 7-lot Limit order at the specified profit target price and a 7-lot Stop Limit or Stop Market order at the protective stop-loss price. If the 7-lot OCO child Limit order is partially filled for 3-lots, then the OCO child Stop order is discounted by 3-lots. However, if the OCO Stop is triggered, the OCO Limit order will be canceled.  </p>

<p><b>Note</b>: If you change the quantity of one of the TT OCO child orders, it will not automatically change the quantity of the other order.</p>

<h2>TT Bracket example</h2>



<p>In this example, a 50-lot bid is submitted as a TT Bracket order. It gets filled for 2 lots and submits a child OCO order for the 2-lot entry order fill. The OCO order then submits a child 2-lot Limit order at a profit target price, and a child 2-lot protective Stop order.</p>
<p> The 2-lot OCO orders continue to work in the market until either the OCO Limit order is filled or OCO Stop Limit order is triggered. A fill in the OCO Limit order discounts the quantity in the Stop
Limit order. However, if the 2-lot OCO Stop Limit order is triggered first, it submits another Limit order as a protective Stop and the 2-lot OCO Limit (profit) order is canceled.</p>


<p><img class="img-responsive" src="Content/tto-tt-bracket-example5a.png"></p>


<h2 id="tt-bracket-params">TT Bracket order parameters</h2>
<h3 id="details-params">Bracket details parameters</h3>

<ul>
  <li>{% include Parameters/OrderType_Details.html %}</li>
  
  <li>{% include Parameters/ProfitTarget_Details.html %}</li>
  <li>{% include Parameters/StopLoss_Details.html %}</li>
  <li hidden>{% include Parameters/StopOrderType_Details.html %}</li>
  <li>{% include Parameters/StopOrderType_Details-OCO.html %}

For a TT Stop child order submitted as part of a TT OCO parent order, you can override/select the TIF of the native child order submitted by the TT Stop. The following TIFs can be selected if natively supported by the exchange:

<ul>
<li>Day
<li>GTC
<li>FOK
<li>GTDate
<li>IOC
</ul>

  </li>
  
  <li>{% include Parameters/Payup_Details.html %}</li>
  
  <li>{% include Parameters/WithATick.html %}</li>
  <li>{% include Parameters/AutoResubmit_Details.html %}</li>  
</ul>
  
<h3 id="trigger-params">Trigger parameters</h3>
<ul>
  <li>{% include Parameters/TriggerType_Details.html %}</li>
  <li>{% include Parameters/TriggerPrice_Details.html %}</li>
  <li>{% include Parameters/TrailOffset.html %}</li>
</ul>
  
<h3 id="timing-params">Timing parameters</h3>
<ul>
  <li>{% include Parameters/StartTime_Details.html %}</li>
  <li>{% include Parameters/EndTime_Details.html %}</li>
  <li>{% include Parameters/EndTimeAction_Details.html %}</li>
</ul>