---
widget: tto
layout: desc-tab
title: TT OBV (Order by Volatility) order
AccordionID: tto-obv-order
tto-name: TT OBV
---

{% include ot-aop-note.html %}

<p>The TT OBV (Order by Volatility) lets you enter an order for an options contract by entering a desired volatility. The TT OBV places the order at the price level that corresponds to the desired volatility. As moves in the underlying contract impact the volatility at each price level, the TT OBV will continuously reprice the order to maintain the desired volatility.</p>

<p>For example, suppose you want to buy a Call options contract, such as LO Dec17 C5150, at 23.6 vol. You would specify the following parameter value:</p>

      <p><img class="img-responsive" src="Content/tto-tt-obv-intro.png"></p>

<h2 id="tt-obv-params">TT OBV order parameters</h2>
<p>The following parameter is required:</p>
<ul>
  <li>{% include Parameters/Volatility.html%}</li>
</ul>
<p>For more information about using TT OBV orders, see <a href="tto-entering-a-tt-obv-order.html">Entering a TT OBV order</a>.</p>