---
widget: tto
layout: desc-tab
title: TT Iceberg order
AccordionID: tto-iceberg-order
tto-name: TT Iceberg
---

<p>A TT Iceberg order executes a large volume order by breaking it into smaller disclosed orders, publicly displaying only the specified portion instead of the full order quantity. When one disclosed portion fills, the next portion is entered into the market. This process continues until the order is filled.</p>


<section id="behaviors-section">
  <h2 id="scenarios">Behaviors</h2>
  <p>The following examples illustrate how you can configure a TT Iceberg order with different behaviors for the child and parent orders. Also, each example shows how the order will appear in MD Trader.</p>

  <ul id="behaviors-list">
    <li>
      Determining the disclosed quantities of the child orders
      <ul>
        <li>
          <a href="#static-qty">Submitting child orders with a fixed quantity</a>
        </li>
        <li>
          <a href="#variable-qty">Varying the quantities of child orders</a>
        </li>
      </ul>

    </li>
    <li>
      Specifying the price at which child orders are entered and worked
      <ul>
        <!--
        <li>
          <a href="#fixed-price">Submitting child orders at a fixed price</a>
        </li>
        -->
        <li>
          <a href="#offset-price">Varying the prices of child orders</a>
        </li>
        <li>
          <a href="#wat">Aggressing the price of a working child order based on market conditions (WAT)</a>
        </li>
      </ul>
    </li>
    <li>
      Setting preconditions for the parent order
      <ul>
        <li>
          <a href="#static-trigger">Triggering a TT Iceberg parent order at a specific price level</a>
        </li>
        <li>
          <a href="#trailing-trigger">Using Stop and If-Touched trailing triggers to enter a TT Iceberg parent order at a price level that trails the market</a>
        </li>
        <li>
          <a href="#times">Setting start and end times for a parent order</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="static-qty">
  <h2>Submitting child orders with a fixed quantity</h2>
  <p>A basic Iceberg order slices a large-quantity order into smaller-sized orders of a fixed quantity, all at the same price. A TT Iceberg lets you specify either a fixed quantity for every child order or specify the static quantity as a percentage of the total parent order quantity.</p>

  <p>To set the same fixed quantity for each child order:</p>

  <ol>
    <li>
      Select TT Iceberg from the order type dropdown to display the flyout.
      <p><img class="img-responsive" src="Content/tto-iceberg-static-qty-config.png" alt="Display 20 Qty" /></p>
    </li>
    <li>
      Set <strong>Display</strong> to the desired quantity and select <strong>Qty</strong> from the <strong>Display</strong> dropdown.
      <p></p>
      If you wanted to submit a percentage of the total order quantity instead, you could enter the desired percentage and select <strong>%</strong> from the <strong>Display</strong> dropdown.
    </li>
    <li>
      Submit the order at the desired side and price.
      <p></p>
      If you submitted a 100-lot Buy order at 2927.50 with a disclosed quantity of 20, the TT Iceberg parent order would resemble the following:
      <p><img class="img-responsive" src="Content/tto-iceberg-static-qty-mdt.png" alt="Add PIC" /></p>
      <ul>
        <li>
          The disclosed (D:20) and working (W:20) quantities are both 20.
        </li>
        <li>
          The remaining undisclosed quantity (U:80) is 80.
        </li>
      </ul>
      <p></p>
      After each child order is fully filled, the TT Iceberg will submit the next 20-lot order at 2927.50 until the total order quantity has been filled.
    </li>
  </ol>

</section>

<section id="variable-qty">
  <h2>Varying the quantities of the child order</h2>
  <p>Instead of submitting a fixed quantity for every child order you can use a variance to increase or reduce the quantity of each child order by a random amount. This amount uses a percentage of the disclosed quantity as its threshold.</p>

  <p>To vary the disclosed quantity by a percentage of the order size:</p>
  <ol>
    <li>
      Set the desired <strong>Display</strong> quantity. This quantity becomes the base quantity for calculating variance.
    </li>
    <li>
      Set the <strong>Variance</strong> and select <strong>%</strong> from the dropdown. This example sets the variance to 50%, so each child order could have an order quantity within 50% (+/- 4 ) of the base disclosed quantity.
      <img class="img-responsive" src="Content/tto-iceberg-variable-qty-config.png" alt="Add PIC" />
    </li>
    <li>
      To see a proposed distribution of the child orders, click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button">. <strong>Note</strong>: You must specify the order quantity to see the distribution.
      <p></p>
      A flyout shows the quantity of each child order that will be entered when you submit the parent order.
      <p><img class="img-responsive" src="Content/tto-iceberg-variable-qty-config-show-1.png" alt="TBD"/></p>
      If you want to change the proposed distribution, you can continue to click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button"> until you see a distribution you like.
      <p><img class="img-responsive" src="Content/tto-iceberg-variable-qty-config-show-2.png" alt="TBD" /></p>

      <strong>Note</strong>: If you do not display the variance, or if you make any order change after displaying the variance distribution, the TT Iceberg parent order will submit its child orders with random quantities within the specified variance until the total order quantity has been filled.

    </li>
    <li>
      Submit the order at the desired side and price.
      <p></p>
      {% comment %}
      If you submitted a Sell order for 100 contracts at 2929.75 and select a disclosed quantity of 10, the TT Iceberg parent order would resemble the following:
      <p><img class="img-responsive" src="Content/tto-iceberg-variable-qty-mdt.png" alt="Add PIC" /></p>
      <ul>
        <li>
          The disclosed quantity (D:20) verifies that the base order quantity for each slice is 20.
        </li>
        <li>
          The working quantity (W:16) shows the child order quantity is 16, which indicates a -20% variance.
        </li>
        <li>
          The remaining undisclosed quantity (U:84) shows the remaining parent order quantity is 84.
        </li>
      </ul>
      {% endcomment %}
      If you submitted a 100-lot order at 2970.50 with the above display and variance settings, the TT Iceberg parent order would submit a 7-lot child order. 
      After each child order is fully filled, the TT Iceberg will submit each subsequent order at 2970.50 with the varied quantity shown in the distribution.
      <p></p>
    </li>
  </ol>
</section>

<!-- Hide fixed price section
<section id="fixed-price">
  <h2>Submitting child orders at a fixed price</h2>
  <p>Instead of submitting a fixed quantity for every child you can use a variance to increase or reduce the quantity of each child order by a percentage of the disclosed quantity.</p>

  <p>To submit all child orders at the same, fixed price:</p>
  <ol>
    <li>
      Set the desired <strong>Display</strong> quantity and <strong>Variance</strong>.
      <img class="img-responsive" src="Content/tto-iceberg-fixed-price-config.png" alt="Add PIC" />
    </li>
    <li>
      Enter the order at the desired price.
      <p></p>
      If you clicked a Buy order at 2932.00, the TT Iceberg parent order would resemble the following.
      <img class="img-responsive" src="Content/tto-iceberg-fixed-price-mdt.png" alt="Add PIC" />
      <p></p>
      After the each order slice is fully filled, the TT Iceberg will submit the next order at 2932.00 until the total order quantity has been filled.
    </li>
  </ol>
</section>
-->

<section id="offset-price">
  <h2>Varying the prices of child orders</h2>
  <p>The default behavior for a TT Iceberg is to submit each child order at the same price. TT Iceberg orders also let you dynamically set the price of each child order based on different market prices or on the price of the previous order. You can configure the TT Iceberg to determine the price for its child orders by offsetting the price a number of ticks away from the:</p>
  <ul>
    <li>
      LTP, Ask or Bid price of the market at the time the child order is submitted.
    </li>
    <li>
      Price of the last child order (PrevSlice).
    </li>
  </ul>

  <p>To enter a child order using a price offset:</p>

  <ol>
    <li>
      Enable the <strong>Offset</strong> parameter.
    </li>
    <li>
      Enter the desired number of ticks away from the selected price type. Use positive numbers to move the price away from the market or negative numbers to move the price toward the market.
    </li>
    <li>
      Select a price type the <strong>Offset</strong> dropdown. In this case, <strong>PrevSlice</strong> causes the TT Iceberg parent order to calculate the price of the new child order based on the price of the previous child order.
    </li>
  </ol>

  <img class="img-responsive" src="Content/tto-iceberg-offset-config.png">

  If you placed a Buy order at 131'035, the TT Iceberg parent order would resemble the following.
  <p><img class="img-responsive" src="Content/tto-iceberg-offset-mdt.png" alt="" />
  </p>
  When each child order is fully filled, the TT Iceberg will submit its next child order at a price level one tick away from the price of the previous child order.
</section>

{% include tto-wat-params.html %}

{% include tto-static-trigger-params.html %}


<section id="trailing-trigger">

  {% include tto-trailing-trigger-shared-description.html %}

  <p>To set a trailing trigger for the TT Iceberg parent order:</p>

  <ol>
    <li>
      Enable <strong>Trigger</strong> to set a trigger for the order.
    </li>
    <li>
      From the dropdown, select the type of trailing trigger.
    </li>
    <li>
      Enable the <strong>Trail (ticks)</strong> parameter to have the trigger trail the market.
    </li>
    <li>
      Enter the desired number ticks away to trail the trigger price.
    </li>
    <li>
      From the <strong>Trigger price</strong> drop-down, select which price to trail.
    </li>
  </ol>

  <p><img class="img-responsive" src="Content/tto-iceberg-trailing-config.png" alt="" /></p>

  <strong>If you clicked any price level on the Buy side, the TT Iceberg parent order would resemble the following.</strong>
  <p><img class="img-responsive" src="Content/tto-iceberg-trailing-buy-stop-mdt.png" alt="" /></p>
  <strong>Based on the specified parameters, the TT Iceberg parent order is entered into the market as follows:</strong>
  <ul>
    <li>
      Because you set a Stop trigger three ticks away from the LTP, the TT Iceberg parent order is placed at 124'135.
    </li>
    <li>
      The working quantity of the order you entered is 0 and will remain so until the order is triggered.
    </li>
    <li>
      When the LTP reaches the trigger price, the TT Iceberg parent order will begin working its child orders at that price level.
    </li>
  </ul>
  
</section>


{% include tto-time-params.html %}


<section id="parameters-section">
  <h2 id="tt-iceberg-params">TT Iceberg order parameters</h2>
  <h3 id="details-params">Iceberg details parameters</h3>
  <p>The following parameters determine how theTT Iceberg parent order manages its child orders.</p>
  <ul>
    <li id="display">{% include Parameters/DisplayedQuantity_Details.html%}</li>
    <li id="variance">{% include Parameters/Variance_Details.html%}</li>
    <li id="offset">{% include Parameters/OffsetTicks_Details_Iceberg.html %}</li>
    <li id="wat">{% include Parameters/WithATick.html %}</li>
    <li id="resubmit">{% include Parameters/AutoResubmit_Details.html %}</li>
  </ul>

  <h3 id="precondition-params">Precondition settings parameters</h3>
  <p>The following trigger parameters specify the market conditions under which the TT Iceberg parent order will begin entering its child orders.</p>
  <ul>
    <li>{% include Parameters/TriggerType_Details.html%}</li>
    <li>{% include Parameters/TriggerPrice_Details.html%}</li>
    <li>{% include Parameters/TrailOffset.html%}</li>
    <li>{% include Parameters/StartTime_Details.html %}</li>
    <li>{% include Parameters/EndTime_Details.html %}</li>
    <li>{% include Parameters/EndTimeAction_Details.html %}</li>
  </ul>
</section>