---
widget: tto
layout: desc-tab
title: TT Time Duration order
AccordionID: tto-time-duration-order
tto-name: TT Time Duration
---

<section id="overview">
  
<p>A {{ page.title }} slices a large quantity order into smaller disclosed order portions for a specified duration to achieve the total goal quantity; child order portions are entered into the market based on an interval or disclosed quantity.</p>

<p><img class="img-responsive" src="Content/tto-tt-time-duration-illustration.jpg" alt=""/></p>

<p>A {{ page.title }} defines the total time desired to achieve the total goal quantity. You can set either the total time or specific begin and end times. When specific begin and end times are entered, the difference between the two is calculated to determine the total time duration for the order. Child order portions are submitted during the specified time duration to achieve the total goal quantity.</p>
</section>

<section id="behaviors-section">
  <h2 id="behaviors">Behaviors</h2>
  <p>The following examples illustrate how you can configure a {{ page.title }} with different behaviors for the child and parent orders. Also, each example shows how the order will appear in MD Trader.</p>

  <ul id="behaviors-list">
    <li>
      Determining the size of and interval for submitting child orders
      <ul>
        <li><a href="#interval-slice">Calculating the dislcosed quantity based on a specified interval and duration</a></li>
        <li><a href="#disclosed-slice">Calculating the interval based on a disclosed quantity spread over a specified duration</a></li>
        <li><a href="#variance">Varying the quantity of each child order slice</a></li>
      </ul>
    </li>
    <li>
      Specifying the price at when child orders are entered
      <ul>
        <li>
          <a href="#child-order-type">Setting the type and price of each child order</a>
        </li>
        <li>
          <a href="#wat">Aggressing the price of a working child based on market conditions</a>
        </li>
        <li>
          <a href="#leftover-action">Setting a leftover action to handle unfilled orders when a slice ends</a>
        </li>
      </ul>
    </li>
    <li>
      Setting preconditions for the parent order
      <ul>
        <li>
          <a href="#static-trigger">Triggering the parent order at a specific price level</a>
        </li>
        <li>
          <a href="#trailing-trigger">Using Stop and If-Touched trailing triggers to enter a TT Time Duration parent order at a price level that trails the market</a>
        </li>
        <li>
          <a href="#times">Setting start and end times for a parent order</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

{% comment %}
<!--
<p>For example, suppose you want to create a TT Time Duration order that submits orders for the total order quantity over the course of one hour, by submitting a child order every five minutes for 1/12 (5/60) of the total quantity.</p>

<p><img class="img-responsive" src="Content/tto-time-duration-config.png" alt=""/></p>

<p>In addition to adjusting the size and timing of child orders, you can: </p>
<ul>
  <li>Adjust the <a href="#details-params">leftover actions</a> to specify how to handle a child order at the end of a slice.</li>
  <li>Define a <a href="#trigger-params">trigger condition</a> to begin submitting child orders into the market.</li>
  <li>Set a <a href="#timing-params">time and date</a> to start working your TT Time Duration parent order.</li>
</ul>
-->
{% endcomment %}


<section id="interval-slice">
  <h2>Calculating the disclosed quantity based on a specified interval and duration</h2>
  <p>You can let the {{ page.title }} calculate the size and number of child order slices by specifying how frequently you want to submit child orders and over what period of time. The {{ page.title }} divides the specified duration for the parent order by the specified interval to calculate the number of order slices it needs to send; then it divides the total parent order quantity by the calculated number of slices to determine the disclosed quantity for each child order.</p>

  <p>The following example shows how to use the interval and duration to caluclate the number and quantity of child orders. In this case, we want the TT Time Duration parent order to submit one child order every 30 seconds over the next 10 minutes.</p>
  <ol>
    <li>
      From the <strong>Slice Type</strong> dropdown, select <strong>Interval</strong>.
    </li>
    <li>
      In the <strong>Interval</strong> field, enter the length of the invterval and select the desired time units for the interval. You can choose hour, minutes or milliseconds.
      <p><img class="img-responsive" src="Content/tto-time-duration-interval-config-1.png" alt="Interval definition"/></p>
      In this case, you set the interval to 30 seconds.
    </li>
    <li>
      From the <strong>Duration Type</strong> dropdown, select <strong>Duration</strong>.
    </li>
    <li>
      In the <strong>Duration</strong> field, enter the length of the duration and select the desired time units for the duration.
      <p><img class="img-responsive" src="Content/tto-time-duration-interval-config-2.png" alt="Duration definition" /></p>
      In this case, you set the duration to 10 minutes.
    </li>
  </ol>
  
</section>

<section id="disclosed-slice">
  <h2>Calculating the interval based on a disclosed quantity spread over a specified duration</h2>
  <p>The {{ page.title}} also lets you specify a the size of its child orders and let it calculate the number and frequency of the intervals needed to achieve the total order quantity. The {{ page.title }} divides the specified disclosed for the parent order by the specified total order quantity to calculate the number of order slices it needs to send; then it divides the total parent order quantity by the calculated number of slices to determine the interval for each child order.</p>
  
  <p>The following example shows how to use the disclosed quantity and duration to caluclate the number and quantity of child orders. In this case, we want the TT Time Duration parent order to work a 100-lot order over the course of 10 minutes using 10-lot child orders. The {{ page.title }} will, therefore, submit one child order every minute for the order duration.</p>

  <ol>
    <li>
      From the <strong>Slice Type</strong> dropdown, select <strong>Disclose</strong>.
    </li>
    <li>
      In the <strong>Disclose</strong> field, enter the desired order quantity and choose either <strong>Qty</strong> or <strong>%</strong> from the dropdown.
      <p><img class="img-responsive" src="Content/tto-time-duration-disclosed-config-1.png" alt=""/></p>
      In this case, you set the dislosed quantity to 10 lots.
    </li>
    <li>
      From the <strong>Duration Type</strong> dropdown, select <strong>Duration</strong>.
    </li>
    <li>
      In the <strong>Duration</strong> field, enter the length of the duration and select the desired time units for the duration.
      <p><img class="img-responsive" src="Content/tto-time-duration-disclosed-config-2.png" alt="" /></p>
      In this case, you set the duration to 10 minutes.
    </li>
  </ol>
</section>

<section id="variance">
  <h2>Varying the quantity of each child order slice</h2>
  <p>Instead of submitting a fixed quantity for every child you can use a variance to increase or reduce the quantity of each child order by a percentage of the disclosed quantity.</p>
  
  <p>To vary the disclosed quantity by a percentage of the order size:</p>
  <ol>
    <li>
      Set the desired <strong>Slice Type</strong> and <strong>Duration Type</strong> details.
    </li>
    <li>
      Set the <strong>Variance</strong> and select <strong>%</strong> from the dropdown. This example sets the variance to 40%, so each child order could have an order quantity within 40% (+/- 4) of the base disclosed quantity.
      <img class="img-responsive" src="Content/tto-time-duration-variable-qty-config.png" alt="Add PIC" />
    </li>
    <li>
      To see a proposed distribution of the child orders, click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button">. <strong>Note</strong>: You must specify the order quantity to see the distribution.
      <p></p>
      A flyout shows the quantity of each child order that will be sent when you submit the parent order.
      <p><img class="img-responsive" src="Content/tto-time-duration-variable-qty-config-show-1.png" alt="TBD" /></p>
      If you want to change the proposed distribution, you can continue to click <img src="Content/btn-magnify-glass.png" alt="the magnifying glass button"> until you see a distribution you like.
      <p><img class="img-responsive" src="Content/tto-time-duration-variable-qty-config-show-2.png" alt="TBD" /></p>

      <strong>Note</strong>: If you do not display the variance, or if you make any order change after displaying the variance distribution, the TT Iceberg parent order will submit its child orders with random quantities within the specified variance until the total order quantity has been filled.
    </li>
    <li>
      Submit the order at the desired side and price.
      <p></p>
      If you entered a 100 lot oder with these settings, the TT Time Duration parent order would submit a child order for the first quantity (13). Tben, a new child order would be entered with the indicated time and quantity until all of the slices were submitted.
    </li>
    <li hidden>
      Submit the order at the desired side and price.
      <p></p>
      If you submitted a Sell order for 101 contracts at 27190, the TT Time Duration parent order would resemble the following:
      <p><img class="img-responsive" src="Content/tto-time-duration-variable-qty-mdt.png" alt="Add PIC" /></p>
      <ul hidden>
        <li>
          The disclosed quantity (D:3) verifies that the base order quantity for each slice is 20.
        </li>
        <li>
          The working quantity (W:98) shows the slice order quantity is 3, which indicates a -2% variance.
        </li>
        <li>
          The remaining undisclosed quantity (U:) shows the remaining parent order quantity is 84.
        </li>
      </ul>
      After the each order slice is fully filled, the TT Iceberg will submit the next order at 27190 until the total order quantity has been filled.
    </li>
  </ol>
</section>

<section id="#child-order-type">
  <h2>Setting the type and price of the child order</h2>
  <p>At the specified intervals, the TT Time Duration parent order will submit native child orders to the market at a specied type and price. You can choose the following types of native order to use when entering child orders at the specified interval.</p>
  <ul>
    <li>
      Market order
    </li>
    <li>
      Limit order
      <p></p>
      You can choose to use same price as the parent order for each child order or to use a price offset based on the market at the time each child order is entered.
    </li>
    <p></p>
    <li>
      Market Limit Market (MLM) order
    </li>
  </ul>

  <p>To configure the type and price of each child order:</p>
  <ol>
    <li>
      In the <strong>Slice details</strong> section, configure the slices as desired.
    </li>
    <li>
      In the <strong>Order Type</strong> dropdown, select the desired order type for the child orders.
      <p></p>
      If you select Limit, you can optionally specify enter a child order at a relative price using an offset.
      <p><img class="img-responsive" src="Content/tto-time-duration-child-limit-config.png" alt="" /></p>
      With this setting, each child order will be entered at a price level three ticks away from the LTP at the beginning of the slice interval.
    </li>
  </ol>


</section>

<section id="leftover-action">
  <h2>Setting a leftover action to handle unfilled orders when a slice ends</h2>
  <p>When it is time to enter the next child order slice, the TT Time Sliced parent order needs to know do if the current child order slice is not fully filled. When you submit child orders with the Limit order type, you can specify a leftover action, which lets you either reprice the resting order using payup ticks or leave the resting child order portion in the market.</p>

  <ol>
    <li>
      Configure the <strong>Slice details</strong> as desired.
    </li>
    <li>
      From the <strong>Order Type</strong> dropdown, select <strong>Limit</strong>.
      <p></p>
      The <strong>Leftover Action</strong> section is exposed in the flyout.
      <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-action-config.png" alt="" /></p>
    </li>
    <li>
      Choose one of the following:
      <ul>
        <li>
          <strong>Leave</strong>
        </li>
        <li>
          <strong>Payup</strong>; then specify a positive or negative number of <strong>Payup Ticks</strong>.
          <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-payup-config.png" alt="" /></p>
          The following example illustrates using payup ticks.
          <p><img class="img-responsive" src="Content/tto-time-sliced-leftover-payup-mdt.png" alt="" /></p>
        </li>
      </ul>
    </li>
  </ol>

</section>

{% include tto-wat-params.html %}

{% include tto-static-trigger-params.html %}


{% include tto-trailing-trigger-params.html %}

{% include tto-time-params.html %}


<h2 id="tt-time-duration-params">Time Duration order parameters</h2>
<p>Time Duration parameters can be set as either a time interval or disclosed quantity. Time Interval (the default) sets the time between each disclosed order portion in minutes, seconds, or milliseconds. The TT system calculates child order portions needed to achieve the total goal quantity in the specified time duration.</p>

<h3 id="details-params">Slice details parameters</h3>
<ul>
  <li>
    <strong>Slice Type</strong> &mdash; Whether to set the duration based on:
    <p></p>
    <ul>
      <li>
        <strong>Interval</strong> &mdash; Time between each disclosed order portion in minutes, seconds, or milliseconds.
        <p></p>
        <ul>
          <li>Min (minutes)</li>
          <li>Sec (seconds)</li>
          <li>ms (milliseconds)</li>
        </ul>
      </li>
      <li>
        <strong>Disclose</strong> &mdash; Percentage of total order quantity or a fixed number viewable in the market.
        <p></p>
        <ul>
          <li>Qty for a specific number of contracts</li>
          <li>% for a percentage of the total order</li>
        </ul>
        <p></p>
        When the displayed quantity is specified as a percentage:
        <ul>
          <li>If the quantity is less than 1, the quantity rounds up to 1.</li>
          <li>If the fractional portion is less than .5 (e.g. 3.2), the quantity rounds down.</li>
          <li>If the fractional portion is greater than .5 (e.g. 3.7), the quantity rounds up. </li>
          <li>If the fractional portion is exactly .5, the quantity rounds up.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <strong>Duration Type</strong> &mdash; Whether to base the duration on:
    <p></p>
    <ul>
      <li>
        <strong>Duration</strong> &mdash; Length of time, as:
        <p></p>
        <ul>
          <li>hour</li>
          <li>min</li>
          <li>sec</li>
        </ul>
      </li>
      <li>
        <strong>StartEnd</strong> &mdash; Specific time range, as:
        <p></p>
        <ul>
          <li>Start &mdash; When to start submitting orders.</li>
          <li>End &mdash; When to stop submitting orders.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <strong>Variance</strong> &mdash; Percentage by which to vary the disclosed order portion.
  </li>
</ul>

<h3>Child order details parameters</h3>
    <strong>Order type</strong> &mdash; Type of exchange-native order to use for the order. Possible values include:
    <ul>
      <li>
        Limit &mdash; Enter the child order at a specific price.
      </li>
      <li>Market &mdash; Enter the child order at the inside market.</li>
    </ul>
    <p>When <strong>Order type</strong> is <strong>Limit</strong>, the following parameters are exposed:</p>
        <ul>
        <li>{% include Parameters/OffsetTicks_Details.html %}</li>
        <li>{% include Parameters/WithATick.html %}</li>
        <li>{% include Parameters/LeftoverAction_Details.html%}</li>
        </ul>

<h3 id="trigger-params">Precondition details parameters</h3>
<ul>
  <!--
        <li>{% include Parameters/ChildOrderType_Details.html%}</li>
        <li>{% include Parameters/OffsetTicks_Details.html %}</li>
        <li>{% include Parameters/WithATick.html %}</li>
        <li>{% include Parameters/LeftoverAction_Details.html%}</li>
      -->
        <li>{% include Parameters/TriggerType_Details.html%}</li>
        <li>{% include Parameters/TriggerPrice_Details.html%}</li>
        <li>{% include Parameters/TrailOffset.html%}</li>
        <li>{% include Parameters/StartTime_Details.html %}</li>
        <li>{% include Parameters/EndTime_Details.html %}</li>
        <!-- Replace content below with this include when the prod functionality is added to this TTO -->
        <li hidden>{% include Parameters/EndTimeAction_Details.html %}</li>
        <li>
          <strong>At End Action</strong> &mdash; Sets the action to take for any unfilled balance when the <strong>End</strong> time is reached.
            <p></p>
            (Visible only for a custom <strong>End</strong> time) Possible values include:
            <ul>
              <li><strong>Cancel</strong> to delete the remaining contracts</li>
              <li>
                <strong>Go to Market</strong> to reprice the unfilled quantity as a Market Limit order
                <ul>
                  <li><strong>Mkt Limit Ticks</strong>: Number of ticks into the market to submit the Market Limit order</li>
                </ul>
              </li>
            </ul>
          
        </li>
</ul>