---
widget: win
layout: reference-tab
title: Preferences
AccordionID: win-reference
---

	
      
    <div>
        <h2 id="general">General</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-general.png" alt="General preferences"></p>
       

        <div>
            <h3>Display</h3>
            <p>Click each preference in the <b>Display</b> section to see a list of options. </p>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Color Theme</td>
                        <td>Sets the color theme for each widget you open in your workspaces.</td>
                    </tr>
                    <tr>
                        <td>Background</td>
                        <td>Sets the background theme and color for your workspaces.</td>
                    </tr>
                    <tr>
                        <td>Context help</td>
                        <td>Enables tooltips for widgets. Select one of the following options:
                            <ul>
                                <li>None --  Do not show tooltips.</li>
                                <li>Simple -- Display tooltips as short descriptions of a widget. </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Use ClearPort symbology for CME</td>
                        <td>
                            <p>Sets the Trade application to display contract names recognized by CME ClearPort. Some ClearPort contract names use symbology that is different than what is used in CME Globex. For example, Natural Gas options (European) are listed as "LN" in Clearport, but listed as "LNE" in Globex.  Check this option to enable the display of contract names using ClearPort symbology. When unchecked, contract names are displayed using CME Globex symbology. This option is unchecked by default.</p>
                            <p><b>Note</b>: Reload your workspace after changing this preference to apply the change. To reload, select <b>File</b> | <b>Refresh</b> in the workspace title bar.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Show titlebar clock</td>
                        <td>Sets whether to show the clock in the workspace menu bar.</td>
                    </tr>
                    <tr>
                        <td>Show scrollbars on workspaces</td>
                        <td>Shows/hides workspace window scroll bars. When this preference is checked (enabled), scroll bars are visible within the workspace. When this preference is unchecked (disabled), scroll bars are not visible and widgets will automatically move to remain visible within the workspace if you resize the workspace window to
                        make it smaller. This preference is checked by default and scroll bars are visible. </td>
                    </tr>

                    <tr>
                        <td>Support high resolution displays</td>
                        <td>Sets whether to improve text display in grid-based widgets for very high-resolution monitors or displays, such as a MacBook Retina display. Note that the preference has no affect on other types of displays.</td>
                </tbody>
            </table>
        </div>
        <div hidden>
            <h3>Floating Order Book</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Launch using:</td>
                        <td>Sets how you launch the floating order book using your mouse or keypad. Click to select one of the following: Middle Click, Left Click, Hover.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="price-averaging">Prices and Quantities</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr hidden>
                        <td>Display spread/strategy positions</td>
                        <td>Sets whether to display positions in exchange-listed spreads in addition to the positions of the spread legs. <b>Note</b>: To display the spread position as a spread SOD, the <b>Create SOD records for Spread/Strategy Positions</b> preference on your account must be enabled in the Setup application.</td>
                    </tr>
                    </tr>
                       <tr>
                        <td>Show classic exchange price format</td>
                        <td>Displays prices similar to how they are displayed in X_TRADER&reg;.</td>
                    </tr>
                    <tr>
                        <td>Show implied prices or quantities in pre-open</td>
                        <td>Sets whether to display implied prices and quantities when a contract is in a pre-open state.</td>
                    </tr>
                    <tr>
                        <td>Average price rounding</td>
                        <td>
                            Sets the rounding precision when displaying average fill prices. Select one of the following:
                            <ul>
                                <li><b>Nearest Tick</b> to round to the nearest tick</li>
                                <li><b>Decimal places</b> to display the selected number (1-8) of decimals</li>
                            </ul>
                        </td>
                    </tr>
                      <tr>
                       <td>Quantity display decimal places</td>
                         <td>Sets the preferred number of decimal digits to show for fractional quantities. Click the selector to choose 0-8 decimal digits to display. If additional quantity is available, a "+" is shown to indicate the extra digits (e.g., 1.005+). The default value is "3" decimal places.</td>
                       </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Energy Quantities</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Contracts</td>
                        <td>Represents trading quantities for energy products as the entire delivery amount.
                        </td>
                    </tr>
                    <tr>
                        <td>Flow</td>
                        <td>Represents trading quantities for energy products as the amount to be delivered in each delivery period.</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div>
            <h3>Data Caching</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cache instrument data locally</td>
                        <td>
                            Sets whether to cache the instrument information downloaded when starting the Trade application. The setting is enabled by default to reduce bandwidth and improve performance, as most instrument definitions do not change frequently.
                            <p></p>
                            <strong>Note</strong>: You can update an instrument definition manually, if needed, from the <a href="mdt-reference.html#contextmenu">MD Trader</a> or <a href="sm-reference.html">Spread Matrix</a> context menus.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--
    Accounts section
    -->
    <div>
        <h2 id="accounts">Accounts</h2>
      
        <p><img class="img-responsive" src="Content/wrk-preferences-accounts2.png" alt="Account preferences dialog"></p>

        <p>Click the <b>Accounts</b> tab to view your routable accounts. Accounts are downloaded from the Setup database, and the account and exchange data displayed in Preferences is read-only. Accounts assigned to you are displayed in this section if they are configured as "Routable" in the Setup app. Any accounts configured as "Non-Routing" are not displayed.


            <p>Using a pair of radio buttons in the 
            <b>Routable Accounts</b> section, you can select one of following viewing options:</p>

            <ul>
                <li><b>Account</b></li>
                <li><b>Exchange</b></li>
            </ul>

            <p></p>

            <p>When the <b>Account</b> view is selected, a table is displayed with accounts in the first column, and exchange connections that each account is assigned to shown in the third column. User-defined account aliases are shown in the second column when viewing by account. The Account view is displayed by default.</p>
                 <p><img class="img-responsive" src="Content/wrk-preferences-account-view2.png" alt=""></p>

    
            <p>When the <b>Exchange</b> view is selected, a table is displayed with exchange connections assigned to accounts in the fist column, and a listing of each account assigned to the exchange connections in the second column. User-defined account aliases are shown in the third column when viewing by exchange. In both views, the column widths can be adjusted.</p>


        <p><img class="img-responsive" src="Content/wrk-preferences-exchange-view2.png" alt=""></p>

            <!-- <p><b>Note</b>: The Exchange view does not display the <b>Alias</b> column, because the alias names are set per account and there may be multiple accounts on a single exchange row.</p>
            <p>To edit a routable account alias...</p> -->

            <p>Use the <b>Alias</b> column in both views to enter an alias name for identifying an account. When the account list is displayed in order entry widgets, the alias name is prepended to the actual 
                account name in parentheses. To add or modify an alias, double-click a cell in the <b>Alias</b> column and enter an alias name.</p>
            
 
      
    </div>
    <!--
    Orders section
    -->
    <div>
        <h2 id="orders">Orders</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-orders.png" alt=""></p>


        <p>Use this tab to create default preferences for each order you enter using order entry widgets.</p>
        <div>
            <h3>General</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Floating order entry style</td>
                        <td>Sets whether MD Trader or the Order Ticket opens as your default order entry method.</td>
                    </tr>
                    <tr>
                        <td>Close floating order entry widget after submission </td>
                        <td>Click this checkbox to close floating order entry windows after
                        submitting orders. Click to enable/disable this preference. The default preference is enabled (checkbox is checked).</td>
                    </tr>
                    <tr>
                        <td>Launch floating order book using:</td>
                        <td>Sets how you launch the floating order book using your mouse or keypad. Click to select one of the following: Middle Click, Left Click, Hover.</td>
                    </tr>
                    <tr>
                        <td>Left click = aggressive</td>
                        <td><!--Displays the order ticket with a single buy or sell button based on whether you are entering a bid or ask. When enabled, you can also enable the <b>Left-click = aggressive</b> preference. When this checkbox is checked (preference enabled), the order ticket is automatically seeded to lift the offer (Buy) or hit the bid (Sell).-->
                        Seeds the order ticket to lift the offer (Buy) or hit the bid (Sell) with a left-click.
                        <br><br><strong>Note</strong>: This preference affects only Order Tickets with the <strong>Enable broker mode</strong> preference checked.</td>
                    </tr>
                    <tr>
                        <td>Delete MD Trader orders with right mouse button</td>
                        <td>Swaps the left and right mouse button functionality in MD Trader. By default, this setting is disabled, so clicking the left mouse button deletes the working order and dragging working orders with the right mouse button reprices the order. When this setting is enabled, clicking the right mouse button will delete a working order and dragging a working order with the left mouse button to a new level will reprice the order.</td>
                    </tr>
                    <tr>
                        <td>Enable Position in Queue (PIQ)</td>
                        <td>Displays how many contracts are in front of your order at any given price. Click (check) the checkbox to enable and display PIQ values when the <b>PIQ column</b> is shown in MD Trader&reg;. The <b>Enable  Position in Queue (PIQ)</b> checkbox is unchecked (disabled) by default. If this preference is disabled when the <b>PIQ column</b> is shown in MD Trader, each cell in the column will be blank.
                            <br><br><b>Note</b>: Position In Queue values are estimated on non-CME markets.</p>
                        </td>
                    </tr>
                      <tr>
                        <td>Sticky accounts in order entry widgets</td>
                        <td>Allows the same account to remain selected in order entry widgets after entering an order. The account also remains selected when changing instruments. For example, if you open a linked MD Trader from the Market Grid and change instruments by clicking through the grid, the account remains the same.
                            
                        </td>
                    </tr>



                    <tr>
                        <td id="cdi">Show order entry compliance fields</td>
                        <td>(For MiDFID II exchanges only) Displays a <strong>CDI</strong> dropdown in MD Trader and Order Ticket widgets that allows a trader to report whether a trade is reducing risk, also referred to as a hedging trade, overriding the default value defined in Setup at order entry time. It also adds the <strong>Invest Decision</strong>, <strong>Exec Decision</strong>, and <strong>Client ID</strong> text entry fields.</td>
                    </tr>
                    <tr>
                        <td>Set Floating Order Book columns</td>
                        <td>Sets the columns you want shown in the Floating Order Book.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="fob-columns">Floating Order Book columns</h3>
    <table class="table table-striped table-bordered" border=1>
      <thead>
        <tr>
          <th>Field</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Delete (Cxl)</td>
          <td>Delete a single line (order)</td>
        </tr>
        <tr>
          <td>Algo</td>
          <td>Launch an Order Management Algo (OMA) for the order</td>
        </tr>
        <tr>
          <td>Contract</td>
          <td>{% include columns/col-contract.html %}</td>
        </tr>
        <tr>
          <td>WrkQty</td>
          <td>{% include columns/col-ord-qty.html %}</td>
        </tr>
        <tr>
          <td>Send</td>
          <td>Green check button appears when a change is made to the order quantity or price</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{% include columns/col-price.html %}</td>
        </tr>
        <tr>
          <td>TrigPrc</td>
          <td>{% include columns/col-trig-prc.html %}</td>
        </tr>
        <tr>
          <td>TIF</td>
          <td>{% include columns/col-tif.html %}</td>
        </tr>
        <tr>
          <td>Account</td>
          <td>{% include columns/col-account.html %}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{% include columns/col-type.html %}</td>
        </tr>
        <tr>
          <td>Time</td>
          <td>
            <p>The workstation time the order or action was sent. In a shared order book, if users are in different time zones, the <b>Time</b> field will display in the local time of the initiated workstation and will <em>not</em> convert to the workstation times for users in other time zones.</p>
            <p>For synthetic and algo orders, the <b>Time</b> field displays the local time based on where the Algo Server is located</p>
          </td>
        </tr>
        <tr>
          <td>CurrentUser</td>
          <td>
            <p>TT user name of the trader associated with the transaction</p>
            <p>For users who share an order book, this column allows you to determine which user submitted each order. You can also sort the orders by this column.</p>
          </td>
        </tr>
        <tr>
          <td>Parent Order</td>
          <td>Name of the parent algo order</td>
        </tr>
        <tr>
          <td>Mod</td>
          <td>Modify user-defined parameters for a parent algo order</td>
        </tr>
        <tr>
          <td>Delete Pareent</td>
          <td>{% include columns/col-type.html %}</td>
        </tr>
      </tbody>
    </table>
        </div>

        <div>
            <h3 id="confirm">Confirm</h3>


                <p>The preferences in this section allow you to enable order confirmations. All preferences are unchecked 
                    (disabled) by default.</p>

             <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cancel all</td>
                        <td>Enables order confirmation for when you click "Cancel All" in the Order Book widget.</td>
                    </tr>
                    <tr>
                        <td>Modifications to working orders</td>
                        <td>Enables order confirmation for changes to working orders in the Order Book widget.</td>
                    </tr>
                      <tr>
                        <td>Submission of orders with qty greater than</td>
                        <td>Enables order confirmation for orders that exceed the configured quantity. Double-click or use the up/down arrows in the text box to enter a quantity.</td>
                    </tr>
                </tbody>
            </table>
                    





        <div>
            <h3 id="rules">Default Settings</h3>

            <p>This section provides you the ability to pre-define "best match" rules that can seed desired account and order parameters in order entry widgets. When a rule is enabled in this section, the Trade app will apply its order default preferences to each submitted order based on the product(s), exchange(s), product type(s), and 
                account selected.</p>

                     <p><img class="img-responsive" src="Content/wrk-preferences-orders-piq1a.png" alt=""></p>

            <p>Click the <b>Add Rule</b> button to create an order default rule. After clicking the button, a new row appears and displays asterisks for the Prod, Exch and Type cells.</p>

            <p>Each row displays an X button that you can click to remove the row and delete the rule. Each row also has a checkbox that you can check to apply the rule to your orders. Double-click the cell in each column to select or enter a value.</p>


            <p><b>Note:</b> You cannot have the same combination of product, exchange, and product type in multiple rules.</p>

            <p>When adding a rule, you can set the following:</p>

            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Prod</td>
                        <td>Sets a product. The Market Explorer opens in this cell to allow you to find and select a product. Multiple products can be selected using Ctrl+click or Ctrl+Shift+click. Default product preference is * 
                            (all products).</td>
                    </tr>
                    <tr>
                        <td>Exch</td>
                        <td>Sets the exchange. The drop-down list in this cell shows exchanges assigned to your account(s). Default exchange preference is * (all exchanges).
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Type</td>
                        <td>Sets a product type. If you select an exchange, only product types supported by that exchange are listed. Select one of the following:
                            <ul>
                               
                                <li>FUT &mdash; Futures</li>
                                <li>SPRD &mdash; Spreads</li>
                                <li>OPT &mdash; Options</li>
                                <li>STRA &mdash; Strategies</li>

                                 <li>CS &mdash; Common Stock</li>
                                       <li>INDEX &mdash; Indexes</li>
                                       <li>SPOT &mdash; Spot markets</li>
                                <li>TBOND &mdash; Treasury Bonds</li>
                          
                          
                                
                            </ul>
                            <p>Default product type is * (all product types).</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Order Qty</td>
                        <td>Sets the default order quantity.
                            <p hidden><b>Note</b>: As of version 15.11.4, the default order quantity was changed from 1 to 0 for all new rules. However, it did not changes the default quantity for existing rules; you must update existing rules if you want to set 0 for the default order quantity.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Max Qty</td>
                        <td>Sets the default maximum order quantity.</td>
                    </tr>
                    <tr>
                        <td>TIF</td>
                        <td>Sets a default time-in force (TIF) order restriction to apply to each order. Select a TIF 
                            from the drop-down list:
                            <ul>
                                <li>DAY &mdash; Day orders (e.g., GTD)</li>
                                <li>GTC &mdash; Good Til Cancel</li>
                                <li>FOK &mdash; Fill Or Kill</li>
                                <li>IOC &mdash; Immediate Or Cancel</li>
                            </ul>
                            <p>The default TIF is Day.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>SL Payup</td>
                        <td>Sets the default Stop-Limit order payup ticks quantity.</td>
                    </tr>
                    <tr>
                        <td>Display Quantity</td>
                        <td>Sets a default display quantity for disclosed-quantity orders (e.g., Iceberg). This value cannot exceed the default order quantity.</p>
                            <p hidden><b>Note</b>: As of version 15.11.4, the default display quantity was changed from 1 to 0 for all new rules. However, it did not changes the default quantity for existing rules; you must update existing rules if you want to set 0 for the default display quantity.</p>
                        </td>
                    </tr>
                     <tr>
                            <td>Account</td>
                            <td>Sets the account to use for the rule. Select an account from the drop-down list. 
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--
    Positions section
    -->
    <div>
        <h2 id="positions">Positions</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-positions2.png" alt=""></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Preference</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Display spread/strategy positions</td>
                    <td>Display the positions for parent spread and strategy orders in a Positions widget.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    Fills section
    -->
    <div>
        <h2 id="fills">Fills</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-fills.png" alt=""></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Preference</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alert on new fills</td>
                    <td>Displays a Fill Alerts widget when new fills are received.</td>
                </tr>
                <tr>
                    <td>Limit daily fill downloads to 5000</td>
                    <td>
                        (Enabled by default) Uncheck to remove the daily limit for downloading fills.
                        <p></p>
                        Note that if you elect to remove the current restriction, an extreme numbers of fills could negatively impact memory usage and degrade application performance.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    Algos section
    -->
    <div>
        <h2 id="algos">Algos & Autospreader</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-algos-auto.png" alt=""></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Preference</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Algo disconnect action</td>
                    <td>
                        <p>Select the default action to take when the client that launched the Algo loses its connection to TT:
</p>
                        <ul>
                            <li><b>Leave</b>: Algo orders to remain working.  All algo child orders continue to be managed by the Algo server.</li>
                            <li><b>Pause</b>: Algo orders are paused.  Child order behavior is dependent on the configuration of each individual Order Block.</li>
                            <li><b>Cancel</b>: Algo orders are canceled. Child order behavior is dependent on the configuration of each individual Order Block.</li>
                        </ul>
                       
                    </td>
                </tr>
                 <tr>
                    <td>Autospreader disconnect action</td>
                    <td><p>Select the default action to take when the client that submitted the Autospreader order loses its connection to TT:
</p>
                        <ul>
                            <li><b>Leave</b>: Autospreader orders remain working.  Quote and hedge orders continue to be managed by the Autospreader server.</li>
                            <li><b>Cancel</b>: Autospreader orders are canceled which in turn cancels quote orders, but hedge orders remain working.</li>
                        </ul>
                   
                     
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    Sounds section
    -->
    <div>
        <h2 id="sounds">Sounds</h2>
        <p><img class="img-responsive" src="Content/wrk-preferences-sounds2.png" alt=""></p>
        <ul>
            <li><b>Enable Sounds</b>: Click the check box to enable your sound preferences. Uncheck to disable.</li>
            <li><b>Only play sounds for my actions</b>: Click the check box to play sounds resulting only from your own actions.</li>
        </ul>
        <div>
            <h3>Orders</h3>
            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New</td>
                        <td>Sets a sound alert when a new order is entered, either manually or by an automated tool like Autospreader.</td>
                    </tr>
                    <tr>
                        <td>Reject</td>
                        <td>Sets a sound alert when an order is rejected.</td>
                    </tr>
                    <tr>
                        <td>Failed Algo</td>
                        <td>Sets a sound alert when an algo fails.</td>
                    </tr>
                    <tr>
                        <td>Staged Order</td>
                        <td>Sets a sound alert when a staged order is submitted.</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div>
            <h3>Fills</h3>
            <table class="table table-striped table-bordered" border=1>
                
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Full Fill Buy</td>
                        <td>Sets a sound alert when a Buy order is fully filled.</td>
                    </tr>
                    <tr>
                        <td>Full Fill Sell</td>
                        <td>Sets a sound alert when a Sell order is fully filled.</td>
                    </tr>
                    <tr>
                        <td>Partial Fill Buy</td>
                        <td>Sets a sound alert when a Buy order is partially filled.</td>
                    </tr>
                    <tr>
                        <td>Partial Fill Sell</td>
                        <td>Sets a sound alert when a Sell order is partially filled.</td>
                    </tr>
                </tbody>
                
            </table>
        </div>

    <h2 id="hotkeys">Hotkeys</h2>
    
     <!--   <p><img class="img-responsive" src="Content/wrk-preferences-hotkeys.png" alt=""></p> -->
        <p><img class="img-responsive" src="Content/wrk-preferences-hotkeys2.png" alt=""></p>

        <p>Hotkeys settings are stored at the user-level and apply across all workspaces.</p>


        <ul>
            <li><b>Enable Hotkeys</b> &mdash; Click the check box to enable hotkeys. Uncheck to disable.</li>
            <li><b>Hotkey Information</b> &mdash; Lists keys that are reserved for TT functionality and cannot be used when creating your own custom hotkeys. Refer to <a href="#tt-reserved">Hotkey Restrictions</a>. Also lists the following keys that can be assigned as single hotkeys:

<ul>  
<li>Function keys F1 through F11</li>
<li>Left bracket  [</li>
<li>Right bracket  ]</li>
<li>Equals  =</li>
<li>Minus  -  </li> 
<li>Plus  +   </li>
<li>Asterisk  *   </li>
<li>Left arrow</li>
<li>Right arrow</li>
<li>Period .</li>
<li>Comma ,</li>
</ul>
</li>

           
        </ul>


 <p><b>Note</b>: Commands displayed in italics and grayed out are hard-coded and cannot be customized.</p>
      
            <h2>Global</h2>
              <p>This option lists global hotkeys. Click this option and check the check box next to a hotkey to enable it. Uncheck to disable.<p>
               

            <table class="table table-striped table-bordered" border=1>
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All</td>
                        <td>Selects all hotkeys.</td>
                    </tr>
                  <!--  <tr>
                        <td>Cancel all working orders</td>
                        <td>Cancels all working orders. Default is <b>Shift+Esc</b>.</td>
                    </tr> -->

                       <tr>
                        <td>(TT) Open Existing Workspace</td>
                        <td>Opens a dialog box to select and open one of your existing workspaces. Default hotkey is <b>Ctrl+O</b>. Enabled by default.</td>
                    </tr>
                    <tr>
                        <td>(TT) Save Workspace</td>
                        <td>Saves the open workspace in focus. Default hotkey is <b>Ctrl+S</b>. Enabled by default.</td>
                    </tr>
                 
                     <tr>
                        <td>(TT) Set Focus in Search</td>
                        <td>Places the focus in the Search field on the tool bar. Default hotkey is <b>/</b> (forward slash). Enabled by default.</td>
                    </tr>

                       <tr>
                        <td>(TT) Switch to window</td>
                        <td>Switches windows within a single workspace. Press <b>Ctrl + <i>(the window number)</i></b> to switch to that 
                            window. Default hotkey is Ctrl+1-9. Enabled by default.</td>
                    </tr>


                </tbody>
                
            </table>
      
      

            <h2>Order Types</h2>
              <p>This option lists hotkeys for order types. Click this option and check the check box next to a hotkey to enable it. Uncheck to disable.<p>
                  
            <table class="table table-striped table-bordered" border=1>
                
                <thead>
                    <tr>
                        <th>Preference</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>All</td>
                        <td>Applies all Order Types hotkeys when either an MD Trader or Order Ticket has focus.</td>
                    </tr>
                    <tr>
                        <td>Select Market</td>
                        <td>Selects the native Market order type if supported at the exchange. Enabled by default. The default hotkey is <b>Ctrl+M</b>.</td>
                    </tr>
                    <tr>
                        <td>Select Limit</td>
                        <td>Selects the native Limit order type if supported at the exchange. The default hotkey is <b>Ctrl+L</b>.</td>
                    </tr>
                      <tr>
                        <td>Select Iceberg</td>
                        <td>Selects the native Iceberg order type if supported at the exchange. The default hotkey is <b>Ctrl+I</b>.</td>
                    </tr>
                       <tr>
                        <td>Select Market to Limit</td>
                        <td>Selects the native Market-to-Limit order type if supported at the exchange. The default hotkey is <b>Ctrl+Alt+L</b>.</td>
                    </tr>
                     <tr>
                        <td>Select Stop Market</td>
                        <td>Selects the native Stop Market order type if supported at the exchange. The default hotkey is <b>Ctrl+Alt+M</b>.</td>
                    </tr>
                     <tr>
                        <td>Select Stop Limit</td>
                        <td>Selects the native Stop Limit order type if supported at the exchange. The default hotkey is 
                            <b>Ctrl+Alt+S</b><td>
                    </tr>
                     <tr>
                        <td>Select OCO (native)</td>
                        <td>Selects the native OCO order type if supported at the exchange. The default hotkey is <b>Ctrl+Alt+O</b>.</td>
                    </tr>
                      <tr>
                        <td>Select Cross</td>
                        <td>Selects the native Cross order type if supported at the exchange. The default hotkey is <b>Ctrl+Alt+X</b>.</td>
                    </tr>
                      <tr>
                        <td>Select Block</td>
                        <td>Selects the native Cross order type if supported at the exchange. The default hotkey is <b>F6</b>.</td>
                    </tr>
                     <tr>
                        <td>Select TT Bracket</td>
                        <td>Selects the synthetic TT Bracket order type. The default hotkey is <b>[</b> (the open bracket key).</td>
                    </tr>
                     <tr>
                        <td>Select TT Iceberg</td>
                        <td>Selects the synthetic TT Iceberg order type. The default hotkey is <b>Alt+I</b>.</td>
                    </tr>
                     <tr>
                        <td>Select TT If Touched</td>
                        <td>Selects the synthetic TT If Touched order type. The default hotkey is <b>Alt+D</b>.</td>
                    </tr>
                      <tr>
                        <td>Select TT OCO</td>
                        <td>Selects the synthetic TT OCO order type. The default hotkey is <b>Alt+O</b>.</td>
                    </tr>
                     <tr>
                        <td>Select TT Retry</td>
                        <td>Selects the synthetic TT Retry order type. The default hotkey is <b>Alt+R</b>.</td>
                    </tr>
                    <tr>
                        <td>Select TT Stop</td>
                        <td>Selects the synthetic TT Stop order type. The default hotkey is <b>F2</b>.</td>
                    </tr>
                      <tr>
                        <td>Select TT Timed Sliced</td>
                        <td>Selects the synthetic TT Timed Sliced order type. The default hotkey is <b>Alt+S</b>.</td>
                    </tr>
                    <tr>
                        <td>Select TT Timed</td>
                        <td>Selects the synthetic TT Timed order type. The default hotkey is <b>Alt+E</b>.</td>
                    </tr>
                      <tr>
                        <td>Select TT Trailing Limit</td>
                        <td>Selects the synthetic TT Trailing Limit order type. The default hotkey is <b>Alt+L</b>.</td>
                    </tr>
                    
                     <tr>
                        <td>Select TT With A Tick</td>
                        <td>Selects the synthetic TT With A Tick order type. The default hotkey is <b>Alt+W</b>.</td>
                    </tr>
                </tbody>
                
            </table>

               <h2>Widgets</h2>
                  


              <p>This option lists <a href="#widget">hotkeys for specific widgets</a>. Click this options and select a widget name to see its hotkey shortcuts. Available widgets are:<p>
                <ul>
                    <li><b>Chart</b></li>
                    <li><b>MD Trader</b></li>
                    <li><b>Market Grid</b></li>
                    <li><b>Options Chain</b></li>
                </ul>


            <h2>All</h2>
             
              <p>This option lists all available hotkeys. Check the check box next to a hotkey to enable it. 
                Uncheck to disable.<p>
                <ul>
                    <li><b>All</b> &mdash; Enables or disables all available hotkey options. Check the check box to enable all hotkeys. Uncheck this option to disable. </li>
                    <li><b>Display Instrument Data</b> &mdash; Displays the instrument, price, and risk P/L data for an instrument selected in a widget and allows you to export the data to a CSV file.</li>
                </ul>

       



   <h2>Hotkey Restrictions</h2>

  <p>When assigning hotkeys, the following restrictions apply:</p>
<ul>
    <li>Hotkeys must be unique per widget in TT. That is, the same keystroke combination could be assigned to different actions as long as those actions are in different widgets.</li>

<li id="tt-reserved">The following hotkeys are reserved in TT and cannot be assigned to single keystrokes or used as hard-coded commands within widgets:
 <ul>
    <li>Spacebar</li>
<li>Page Up (PgUp)</li>
<li>Page Down (PgDn)</li>
<li>Esc</li>
<li>Tab</li>
<li>Caps Lock</li>
<li>Shift</li>
<li>Insert</li>
<li>Delete</li>
<li>Enter</li>
<li>Backspace</li>
<li>Print Screen</li>
<li>Pause/Break</li>
<li>Scroll Lock</li>
<li>Num Lock</li>
<li>Home</li>
<li>End</li>
<li>Windows key</li> 
<li>Backslash  \</li>
<li>Ctrl</li>
<li>Alt</li>

<li>Back tick ` (the ~ tilde key)</li>
<li>F12</li>


 </ul>
</li>


<li>Alpha (letter) or numeric (number) keys cannot be used as single hotkeys. However, letter and number keys can be assigned when included with at least one control key (e.g., Ctrl+A).</li>
   


<li>Assigned keys are interpreted as case insensitive.</li>
<li>Multiple non-control keys cannot be combined as a hotkey assignment, e.g., you cannot use “A+B” as a hotkey assignment.</li>
</ul>



            <h2 id="widget">Widget Hotkeys</h2>
               <p><b>Note</b>: Commands displayed in italics and grayed out are hard-coded and cannot be customized.</p>
<p>The following are hotkey shortcuts available for specific widgets in the Trade application:</p>
<ul>

<li>Chart
    <ul><li>All: Enables all MD Trader hotkeys</li>
<li>Open contract search: Single alpha character</li>
<li>Open contract search: Single numeric</li>
<li>Esc: Close contract search</li>

</ul>
</li>

<li>MD Trader
    <ul><li>All: Enables all MD Trader hotkeys</li>
<li>Center price ladder: Spacebar</li>
<li>Scroll price ladder up: Up arrow</li>
<li>Scroll price ladder down: Down arrow</li>
<li>Scroll price ladder up a page: PgUp</li>
<li>Scroll price ladder down a page: PgDn</li>
<li>Launch Chart: Alt+C  </li>
<li>Launch Time and Sales: Alt+T</li>
<li>Show/hide order pane: Alt+P</li>
<li>Open contract search: Single alpha</li>
<li>Set order quantity: Single numeric</li>
<li>Close contract search: Esc</li>
<li>Display contract information: Ctrl+Shift+X</li>
<li>Reset/Restore VAP (toggle): Shift+R</li>
</ul>
</li>


<li>Market Grid
<ul>
    <li>All: Enables all Market Grid hotkeys</li>
    <li>Display contract information: Ctrl+Shift+X</li>
</ul>
</li>

<li>Options Chain
<ul><li>All: Enables all Options Chain hotkeys</li>
    <li>Center strike prices: Spacebar</li>
<li>Set spread type to Strip: Alt+S</li>
<li>Set spread type to Calendar: Alt+C</li>
<li>Set spread type to Combo: Alt+B</li>
<li>Set spread type to Combo Hedged: Alt+0</li>
<li>Set spread type to Fly: Alt+Y</li>
<li>Set spread type to custom (hold key): Windows key</li>
<li>Submit custom spread (release key): Windows key</li>
<li>Abandon spread: Esc</li>
<li>Center strike prices: Space</li>
</ul>
</li>

<li>RFQ Viewer
<ul>
    <li>Open contract search: Single Alphanumeric</li>
</ul>
</li>
</ul>

   


    </div>


       <h2>Hotkey Reassignment</h2>

       <p>You can modify an existing hotkey by reassigning the command to a custom keystroke.</p>

       <P>To modify a hotkey, click the currently assigned hotkey and press the new keystroke combination.
       </p>
            <p><img class="img-responsive" src="Content/wrk-preferences-hotkeys-modify.png" alt=""></p>

 
     <p><b>Note</b>: You'll receive an error message if your custom hotkey is already assigned to a different command, or if the hotkey is restricted within TT. If there's a conflict, you will have the option to keep the custom hotkey assignment.</p>
</div>
<!--
Links to widget settings section
-->
<div>
    <h2 id="widget-settings">Widget settings</h2>
    <p>For information about settings for specific widgets, refer to the following:</p>
    <ul>
        <li><a href="at-reference.html">Audit Trail</a> settings</li>
        <li><a href="blk-reference.html">Blocktrader</a> settings</li>
        <li><a href="chrt-settings.html">Charts</a> settings</li>
        <li><a href="fls-reference.html">Fills</a> settings</li>
        <li><a href="hm-reference.html">Hedge Manager</a> settings</li>
        <li><a href="mg-reference.html">Market Grid</a> settings</li>
        <li><a href="mdt-reference.html">MD Trader</a> settings</li>
        <li><a href="oee-reference.html">Options Electronic Eye</a> settings</li>
        <li><a href="opc-reference.html">Options Chain</a> settings</li>
        <li><a href="or-reference.html">Options Risk</a> settings</li>
        <li><a href="orm-reference.html">Options Risk Matrix</a> settings</li>
        <li><a href="otm-settings.html">Options Trade Monitor</a> settings</li>
        <li><a href="ob-reference.html">Order Book</a> settings</li>
        <li><a href="pos-reference.html">Positions</a> settings</li>
        <li><a href="rfq-reference.html">RFQ Viewer</a> settings</li>
        <li><a href="sm-reference.html">Spread Matrix</a> settings</li>
        <li><a href="ts-reference.html">Time &amp; Sales</a> settings</li>
        <li><a href="ta-reference.html">Trader Analytics</a> settings</li>
        <li><a href="vcm-reference.html">Vol Curve Manager</a> settings</li>
        <li><a href="wl-reference.html">Watchlist</a> settings</li>
    </ul>
</div>
