<!-- <h2>Changing the exchange clearing account</h2> -->

<p>Optionally, you can enter your own exchange clearing account value when submitting an order.</p>

<p><b>Note</b>: Before entering your own value, ensure that your administrator has allowed you to override the exchange clearing account value in Setup.</p>


<p>To enter your own clearing account value at order entry, check the <b>Show Exchange Clearing Account edit box</b> setting in <b>Preferences</b> | <b>Orders</b>. When this setting is enabled, order entry widgets display an edit box where you can enter the exchange clearing account. When you click the <b>Exch Acct</b> edit box to enter a value, it stores and displays a list of the most recent clearing account values you entered.</p>






