<table class="table table-striped" style="border-left:solid thin">
	<tbody>
		<tr style="text-align:center">
			<td><p>A</p></td>
			<td style="border-right:solid thin"><p>08:00</p></td>
			<td><p>I</p></td>
			<td style="border-right:solid thin"><p>12:00</p></td>
			<td><p>R</p></td>
			<td style="border-right:solid thin"><p>16:00</p></td>
			<td><p>a</p></td>
			<td style="border-right:solid thin"><p>20:00</p></td>
			<td><p>i</p></td>
			<td style="border-right:solid thin"><p>24:00</p></td>
			<td><p>r</p></td>
			<td style="border-right:solid thin"><p>04:00</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>B</p></td>
			<td style="border-right:solid thin"><p>08:30</p></td>
			<td><p>J</p></td>
			<td style="border-right:solid thin"><p>12:30</p></td>
			<td><p>S</p></td>
			<td style="border-right:solid thin"><p>16:30</p></td>
			<td><p>b</p></td>
			<td style="border-right:solid thin"><p>20:30</p></td>
			<td><p>j</p></td>
			<td style="border-right:solid thin"><p>00:30</p></td>
			<td><p>s</p></td>
			<td style="border-right:solid thin"><p>04:30</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>C</p></td>
			<td style="border-right:solid thin"><p>09:00</p></td>
			<td><p>K</p></td>
			<td style="border-right:solid thin"><p>13:00</p></td>
			<td><p>T</p></td>
			<td style="border-right:solid thin"><p>17:00</p></td>
			<td><p>c</p></td>
			<td style="border-right:solid thin"><p>21:00</p></td>
			<td><p>k</p></td>
			<td style="border-right:solid thin"><p>01:00</p></td>
			<td><p>t</p></td>
			<td style="border-right:solid thin"><p>05:00</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>D</p></td>
			<td style="border-right:solid thin"><p>09:30</p></td>
			<td><p>L</p></td>
			<td style="border-right:solid thin"><p>13:30</p></td>
			<td><p>V</p></td>
			<td style="border-right:solid thin"><p>17:30</p></td>
			<td><p>d</p></td>
			<td style="border-right:solid thin"><p>21:30</p></td>
			<td><p>l</p></td>
			<td style="border-right:solid thin"><p>01:30</p></td>
			<td><p>v</p></td>
			<td style="border-right:solid thin"><p>05:30</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>E</p></td>
			<td style="border-right:solid thin"><p>10:00</p></td>
			<td><p>M</p></td>
			<td style="border-right:solid thin"><p>14:00</p></td>
			<td><p>W</p></td>
			<td style="border-right:solid thin"><p>18:00</p></td>
			<td><p>e</p></td>
			<td style="border-right:solid thin"><p>22:00</p></td>
			<td><p>m</p></td>
			<td style="border-right:solid thin"><p>02:00</p></td>
			<td><p>w</p></td>
			<td style="border-right:solid thin"><p>06:00</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>F</p></td>
			<td style="border-right:solid thin"><p>10:30</p></td>
			<td><p>N</p></td>
			<td style="border-right:solid thin"><p>14:30</p></td>
			<td><p>X</p></td>
			<td style="border-right:solid thin"><p>18:30</p></td>
			<td><p>f</p></td>
			<td style="border-right:solid thin"><p>22:30</p></td>
			<td><p>n</p></td>
			<td style="border-right:solid thin"><p>02:30</p></td>
			<td><p>x</p></td>
			<td style="border-right:solid thin"><p>06:30</p>
			</td>
		</tr>
		<tr style="text-align:center">
			<td><p>G</p></td>
			<td style="border-right:solid thin"><p>11:00</p></td>
			<td><p>P</p></td>
			<td style="border-right:solid thin"><p>15:00</p></td>
			<td><p>Y</p></td>
			<td style="border-right:solid thin"><p>19:00</p></td>
			<td><p>g</p></td>
			<td style="border-right:solid thin"><p>23:00</p></td>
			<td><p>p</p></td>
			<td style="border-right:solid thin"><p>03:00</p></td>
			<td><p>y</p></td>
			<td style="border-right:solid thin"><p>07:00</p></td>
		</tr>
		<tr style="text-align:center">
			<td><p>H</p></td>
			<td style="border-right:solid thin"><p>11:30</p></td>
			<td><p>Q</p></td>
			<td style="border-right:solid thin"><p>15:30</p></td>
			<td><p>Z</p></td>
			<td style="border-right:solid thin"><p>19:30</p></td>
			<td><p>h</p></td>
			<td style="border-right:solid thin"><p>23:30</p></td>
			<td><p>q</p></td>
			<td style="border-right:solid thin"><p>03:30</p></td>
			<td><p>z</p></td>
			<td style="border-right:solid thin"><p>07:30</p></td>
		</tr>
	</tbody>
</table>