<h2 id="confirm">Order Confirmation</h2>


<p>You have the option to confirm an order based on its quantity before submitting the order into the market. To use the order confirmation functionality, enable the "Submission of orders with qty greater than..." setting on the Orders tab in workspace <a href="prf-orders-preferences.html">Preferences</a>.</p>

<p>When enabled, orders that exceed the configured quantity will trigger a pop-up window that prompts you to confirm the Buy or Sell order. The order confirmation window displays the side, contract, price, TIF, and account for you to review before submitting. Click <b>Confirm Buy</b> or <b>Confirm Sell</b> to submit, or click <b>Cancel</b> to delete the order before it's submitted.
</p>

 			<p>
                <img class="img-responsive" src="Content/trade-confirm-buy-and-sell.png"> </img>
            </p>
<p>For TT order types, you can click <b>See all parameters</b> to review the order type configuration before submitting. The following example shows an order confirmation for a TT Iceberg order.</p>

 			<p>
                <img class="img-responsive" src="Content/trade-confirm-iceberg.png"> </img>
            </p>

<p>For Autospreader orders, the confirmation displays the order quantity for each leg based on the total order quantity and configured leg ratios (e.g., 1.0, -1.0).</p>

	        <p>
                <img class="img-responsive" src="Content/trade-confirm-as.png"> </img>
            </p>