<p>When covering an options strategy with a futures contract in a locked Strategy Creation widget, the futures price in the 
	<b>Price</b> column is set based on the locked underlying price. You can edit the price in either the <b>Price</b> column or the lock field to recalculate the theoretical values and Greeks based on the new underlying price.</p>

      <p><img class="img-responsive" src="Content/opc-sc-cover-lock.png"></p>


<p>To unlock Strategy Creation, click <img src="Content/opc-icon-locked.png">. When unlocking a covered strategy, the futures leg is deleted from the strategy.</p>
