



 <div>
    
    <p>When you dock an Order Ticket to a Market Grid, you create a single widget that automatically updates when you select different contracts.</p>
    <p><img class="img-responsive" src="Content/ot-docked-to-mg-overview.png"></p>
    <p>To dock an Order Ticket:</p>
    <ol>
        <li>
          <p>Open an Order Ticket from a Market Grid.</p>
        </li>
        <li>
          <p>From the right-click context menu for the Order Ticket, select <b>Create widget group</b>.
          </p>
        </li>
        <li>
          <p>Drag the Order Ticket to the top or bottom of the Market Grid.</p>
          <p><img class="img-responsive" src="Content/ot-dock-drag.png"></p>
        </li>
        <li>Release the mouse button to create the widget group.</li>
    </ol>
  </div>