<h3 id="{{ page.AccordionID }}-filter-columns">Filtering columns</h3>

	<p>If a column is filterable, a drop-down arrow appears when you hover on the column header.</p>

	<p><img class="img-responsive" src="Content/filter1.png"></img></p>


 <p>To filter the column, click the arrow to select one or more values and click <b>OK</b>.</p>

 <p><img class="img-responsive" src="Content/filter2.png"></img></p>


 <p>When a column is filtered, the column header is highlighted and the filter icon is displayed. To clear a filter, click the icon and select <b>Clear Filter</b>.</p>

  <p><img class="img-responsive" src="Content/filter3.png"></img></p>

 <p>When filtering the <b>Product</b> column, you have the option to use Search or Market Explorer to select products. The product type is displayed in parentheses next to each product in the list.</p>

   <p><img class="img-responsive" src="Content/filter4.png"></img></p>

	<p>When filtering the <b>Date</b> or <strong>Time</strong> column, you can specify a date or date range and a time or time range. The changes you make set the filtering criteria for both columns. You can use the following modifiers for more precise filtering:</p>
	<ul>
		<li>
			<strong>Approx</strong>: Filters based on a single date and for a number of minutes around a specified time.
		</li>
		<li>
			<strong>Before</strong>: Filters based on a single date before a specified time.
		</li>
		<li>
			<strong>After</strong>: Filters based on a single date after a specified time.
		</li>
		<li>
			<strong>Between</strong>: Filters based on a range from a specific date and time to a specific date and time.
		</li>
	</ul>
	
	<p><img class="img-responsive" src="Content/filter5.png"></img></p>