<!--
Fit column width to data section
-->
<div>
  <h3 id="fit-column">Resizing all column widths to fit the data</h3>
  <p>When opening the widget, the default column widths might be too narrow to display all of their content. You can manually resize a single column, or you can change the width of all columns in the widget to show all of the values.</p>
  <p>To resize all column widths to fit the data:</p>
  <ol>
    <li>
      <p>Right-click on any column heading to display the column heading context menu.</p>
    </li>
    <li>
      <p>Select <b>Fit all columns to content</b>.</p>
      <p>All of the column widths in the widget change to fit the widest value in their respective columns. Some of the right-most columns might no longer be visible, but you an resize the widget manually, as desired. </p>
    </li>
  </ol>
</div>