
 <p>Empty price levels can be hidden to show only available prices by enabling <strong>Settings</strong> | <strong>Only show available prices</strong> in the MD Trader widget.</p>    

<p>
    <img class="img-responsive" src="Content/gdx-mdt-floating-price.png"> </img>
</p>

<p><b>Note</b>: This setting removes the static aspect of the ladder, which may result in orders being submitted at a price level different than the one you clicked on if the prices moved while in the process of clicking the mouse for order entry.
</p>

 <p>When "Only show available prices" is enabled, MD Trader briefly shows a blank cell where a price level is removed before it compresses and adjusts the price ladder. This allows you to to enter an order at the correct price before all the prices move, and helps to clearly show quick rallies or sell-offs in the market.
 </p>

	<p><b>Tip</b>: You can "freeze" prices on the ladder at any time by holding down the Shift key.</p>