<p>Before you begin, you'll need to do the following:</p>

<ul>
	<li>Create an account and add a payment method to fund wallets on <a href="https://www.coinbase.com/signin">Coinbase</a>, which is a secure online platform for buying, selling, transferring, and storing digital currency.</li>
	<li>Create and upload funds to an account on <a href="https://prime.coinbase.com/">Coinbase Prime</a>.</li>
	<li><a href="cb-creating-a-coinbase-api-key.html">Create a Coinbase API key and API secret</a>. These credentials will be used to connect your Coinbase account to your TT account.</li>
</ul>

