
<h2 id="hold">Submitting new orders on hold</h2>

<p>Optionally, you can submit new orders as held orders, then resubmit the orders from the Order Book at a later time. To enable this functionality, right-click the on the widget and check the <b>Show held-order toggle</b> setting. You can also make this the default setting to submit all orders on hold. After you click <b>Save</b>, the <b>Hold</b> button is shown on the widget.</p>

<p>New orders can be submitted as held orders for the following natively supported order types, which vary by exchange and product:</p>
<ul>
  <li>Limit</li>
  <li>Iceberg</li>
  <li>Market to Limit</li>
  <li>Stop Limit</li>
  <li>Stop Market</li>
</ul>

  <p>To submit an order as a held order, click the <b>Hold</b> button, then submit the order. The <b>Hold</b> button is highlighted yellow when it's active. When active, all newly submitted orders are sent to the exchange "on hold" and appear in the Order Book widget with a status of "Hold" in the <b>Status</b> column.
  </p>

