<div class="container-fluid">
<section>

<div class="ttdoc-hero row ttdoc-category-hero">
  <div class="vert-wrapper">
  	<div class="ttdoc-hero-supra-headline">TT Help Library</div>
  	{% if page.title == "APIs" %}
  	<div class="ttdoc-hero-headline">API<span style="text-transform:lowercase;">s</span></div>
    <div class="ttdoc-hero-subheadline">Develop your own custom applications and integrate third party and proprietary systems with our robust APIs.</div>
  	{% else %}
    <div class="ttdoc-hero-headline">Trade</div>
    <div class="ttdoc-hero-subheadline">Trade from anywhere you have Internet access.</div>
    {% endif %}
  </div>
</div>