<div class="container-fluid">
<section>

<div class="ttdoc-hero row ttdoc-article-hero">
    {% if page.uat == true %}
      <div id="UAT__designation"></div>
    {% endif %}
  <div class="vert-wrapper">
  	{% if page.layout == "learning-guide" %}
  		<h1 class="ttdoc-hero-headline">{{ page.title }}</h1>
  	{% else %}
    	<h1 class="ttdoc-hero-headline">{{ site.data.titles[page.widget].pagetitle }}</h1>
    {% endif %}


  </div>
  {% if page.uat == true %}
    	<div id="announcementBanner">
    		<p>This feature is available to preview in the UAT environment. It will be available in the production environment in the near future.</p> 
    	</div>
    {% endif %}
</div>
 