<div class="breadcrumb ttdoc-breadcrumb"></div>
<div class="ttdoc-nav-and-maincontent-container"> <!-- closed in lower-nav file -->
  <ul class="navigation sidebar" id="myTab">
    <div class="ttdoc-sidebar-logo">
    </div>
    <div class="ttdoc-sidebar-return-links-container ttdoc-breadcrumb">
      <span>return to:</span>
        <div class="ttdoc-sidebar-return-links">
          <a href="../tthelp.html" id="ttdoc-help-library-link"> Help Library</a><span class="ttdoc-breadcrumb-hierarchy-separator"> > </span> 
          <a href="index.html" id="ttdoc-platform-link">Trade Help</a>
        </div>
    </div>

{% for topics in site.data.guides[page.widget] %}
  {% assign topicNumber = forloop.index %}         
        <a href="#item{{ topicNumber }}" class="list-group-item list-group-item-success {% if topics.first !='true' %} collapsed {% endif %}" data-toggle="collapse" data-parent="#myTab"><div class="arrow-right"></div>{{ topics.topic }}</a>
        <div class="collapse {% if topics.first =='true' %} in {% endif %} nav-indiv-article" id="item{{ topicNumber }}">

          {% for item in topics.items %}
        	
            {% if item.type == "video" %}

               <a id="{{ item.file }}" class="list-group-item list-group-subitem {% if item.first =='true' %} active {% endif %} lg-link">[VIDEO] {{ item.title }}</a>

              {% else %}

               <a id="{{ item.file }}" class="list-group-item list-group-subitem {% if item.first =='true' %} active {% endif %} lg-link">{{ item.title }}</a>

            {% endif %}


          {% endfor %}

        </div>

{% endfor %}

  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger"></label>

  