
  <form id="ti-search__form" class="ti-search__form" style="margin-bottom: ">
	<div id="ti-search-div">
		<input class="ti-search__input" placeholder="Search Indicators by Name" type="search" name="q" id="TIsearch"><br>
		<input id="ti-search-button" class="ti-search__submit" type="submit" value="">
	</div>
  </form>
<!--
  <p class="ttdoc-ti-filter-text">or<br/>Refine Indicators by Topic:</p>

  <form action="">

	<ul class="ttdoc-ti-list">
	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Oscillators" type="checkbox" value="Oscillators">
	    <label for="Oscillators">Oscillators</label>
	  </li>

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Moving_Averages" type="checkbox" value="Moving_Averages">
	    <label for="Moving_Averages">Moving Averages</label>
	  </li>

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Bands" type="checkbox" value="Bands">
	    <label for="Bands">Bands</label>
	  </li>

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Trends" type="checkbox" value="Trends">
	    <label for="Trends">Trends</label>
	  </li>

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Momentum" type="checkbox" value="Momentum">
	    <label for="Momentum">Momentum</label>
	  </li>

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Lorem_Ipsum_1" type="checkbox" value="Lorem_Ipsum_1">
	    <label for="Lorem_Ipsum_1">Lorem Ipsum</label>
	  </li>	  

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Lorem_Ipsum_2" type="checkbox" value="Lorem_Ipsum_2">
	    <label for="Lorem_Ipsum_2">Lorem Ipsum</label>
	  </li>	  

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Lorem_Ipsum_3" type="checkbox" value="Lorem_Ipsum_3">
	    <label for="Lorem_Ipsum_3">Lorem Ipsum</label>
	  </li>	  

	  <li class="ttdoc-ti-item ttdoc-ti-class-item">
	    <input class="styled-checkbox" id="Lorem_Ipsum_4" type="checkbox" value="Lorem_Ipsum_4">
	    <label for="Lorem_Ipsum_4">Lorem Ipsum</label>
	  </li>	  
	</ul>
  </form>

  <hr>
-->
  <ul class="ttdoc-ti-list">
{% for acc in site.data.[page.list].TI %}
	
	<li class="ttdoc-ti-item"><a href="{{ acc.ID }}.html" class="list-group-item" ><h3>{{ acc.ItemTitle }}</h3></a></li>

{% endfor %}  
  </ul>


