


{% for acc in site.data.[page.list].TI %}



	{% if page.AccordionID == acc.ID %}
	<a name="{{ acc.ID }}"></a>
	<div class="ttdoc-ti-item">
		<a href="#{{ acc.ID }}" class="list-group-item list-group-item-success" data-toggle="collapse"><h2>{{ acc.ItemTitle }}</h2></a>
		<div class="collapse in ttdoc-ti-item-content" id="{{ acc.ID }}"> 

			{{ content }}

		</div> 
	</div> 

	{% else %}

	<div class="ttdoc-ti-item">
		<a href="{{ acc.ID }}.html#{{ acc.ID }}" class="list-group-item list-group-item-success collapsed" ><h2>{{ acc.ItemTitle }}</h2></a>
		<div class="collapse ttdoc-ti-item-content"> 
		</div> 
	</div> 	
     
    {% endif %}

{% endfor %}