{% assign topicSection = page.layout %}
  {% case topicSection %}
    {% when "desc-tab" %}
      {% assign objectSection = "DescAccordions" %}
    {% when "task-tab" %}
      {% assign objectSection = "TaskAccordions" %}
    {% when "usecase-tab" %}
      {% assign objectSection = "UseCaseTab" %}
    {% when "video-tab" %}
      {% assign objectSection = "VideoTab" %}
    {% when "reference-tab" %}
      {% assign objectSection = "ReferenceTab" %}
  {% endcase %}

{% if page.list == "technicalindicators" and page.widget == "chrt"%}

	{% for acc in site.data.technicalindicators.TI %}
	  {% assign check = page.AccordionID %}
	    {% case check %}
	      {% when acc.ID %}
	        {% assign currentIndex = forloop.index0 %}
	      
	        {% assign previousIndex = currentIndex | minus:1 %}
	        
	        {% assign nextIndex = forloop.index %}
	        
	        {% assign total = forloop.length %}
	        
	    {% endcase %}
	{% endfor %}

{% else %}

	{% for acc in site.data.titles[page.widget][objectSection]  %}
	  {% assign check = page.AccordionID %}
	    {% case check %}
	      {% when acc.ID %}
	        {% assign currentIndex = forloop.index0 %}
	      
	        {% assign previousIndex = currentIndex | minus:1 %}
	        
	        {% assign nextIndex = forloop.index %}
	        
	        {% assign total = forloop.length %}
	        
	    {% endcase %}
	{% endfor %}

{% endif %}

</div> <!-- /ttdoc-nav-and-maincontent-container -->

<div class="container-fluid ttdoc-lower-nav-container">

	<div class="ttdoc-lower-nav row">
		<div class="lower-nav-left col-sm-5 col-md-4 col-lg-4">
			{% if objectSection and currentIndex != 0 %}

			{% if page.list == "technicalindicators" and page.widget == "chrt"%}
			<a href="{{site.data.technicalindicators.TI[previousIndex].ID}}.html">
			{% else %}
			<a href="{{site.data.titles[page.widget][objectSection][previousIndex].ID}}.html">
			{% endif %}
				<div class="lower-nav-arrow-left">
				</div>
				<div class="lower-nav-text">
					<h1>Previous:</h1>
					{% if page.list == "technicalindicators" and page.widget == "chrt"%}
					<h2>{{site.data.technicalindicators.TI[previousIndex].ItemTitle}}</h2>
					{% else %}
	  				<h2>{{site.data.titles[page.widget][objectSection][previousIndex].accordiontitle}}</h2>
	  				{% endif %}
				</div>
			</a>
			{% else %}
    			<div class="lower-nav-arrow-left" style="visibility:hidden;">
				</div>
  			{% endif %}
		</div>
		<div class="col-sm-2 col-md-4 col-lg-4">
		</div>
		<div class="lower-nav-right col-sm-5 col-md-4 col-lg-4">
			{% if nextIndex != total %}
			{% if page.list == "technicalindicators" and page.widget == "chrt"%}
			<a href="{{site.data.technicalindicators.TI[nextIndex].ID}}.html">
			{% else %}
			<a href="{{site.data.titles[page.widget][objectSection][nextIndex].ID}}.html">
			{% endif %}
				<div class="lower-nav-arrow-right">
				</div>
				<div class="lower-nav-text">
					<h1>Next:</h1>
					{% if page.list == "technicalindicators" and page.widget == "chrt"%}
					<h2>{{site.data.technicalindicators.TI[nextIndex].ItemTitle}}</h2>
					{% else %}
	  				<h2>{{site.data.titles[page.widget][objectSection][nextIndex].accordiontitle}}</h2>
	  				{% endif %} 
				</div>
			</a>
			{% endif %}
		</div>  
	</div>  <!-- /.ttdoc-lower-nav row-->
</div>  <!-- /.container-fluid -->