


<!-- <p>Refer to the following table for keyboard trading commands available in MD Trader.</p> -->
<p><b>Note</b>: MD Trader keyboard hotkeys are the only TT Hotkey functions that can be assigned with single alpha keys. Each alpha key is shown in upper case to match the keyboard, but commands must be entered in lower case.</p>

 <p>Refer to the following table to submit trading commands using the keyboard.</p>

<table style="width:100%" class="table table-striped table-bordered" border=1>
    <thead>
           <tr>
            <th><b>Action</b></th>
            <th><b>Hotkey</b></th>

        </tr>
    </thead>
        <tr>
            <td width="70%">Increase buy side marker</td>
            <td width="30%"><b>D</b></td>
        </tr>
        <tr>
            <td width="70%">Center buy side marker</td>
            <td width="30%"><b>E</b></td>
        </tr> <tr>
            <td width="70%">Decrease buy side marker</td>
            <td width="30%"><b>C</b></td>
        </tr> <tr>
            <td width="70%">Buy at buy side marker</td>
            <td width="30%"><b>A</b></td>
        </tr><tr>
            <td width="70%">Delete buy orders at buy side marker</td>
            <td width="30%"><b>S</b></td>
        </tr><tr>
            <td width="70%">Sweep buy up to buy side marker</td>
            <td width="30%"><b>Ctrl+A</b></td>
        </tr><tr>
            <td width="70%">Increase sell side marker</td>
            <td width="30%"><b>K</b></td>
        </tr><tr>
            <td width="70%">Center sell side marker</td>
            <td width="30%"><b>I</b></td>
        </tr><tr>
            <td width="70%">Decrease sell side marker</td>
            <td width="30%"><b>M</b></td>
        </tr><tr>
            <td width="70%">Sell at sell side marker</td>
            <td width="30%"><b>;</b></td>
        </tr><tr>
            <td width="70%">Sweep sell down to sell side marker</td>
            <td width="30%"><b>Ctrl+;</b></td>
        </tr><tr>
            <td width="70%">Center both buy/sell markers and the price ladder</td>
            <td width="30%"><b>Ctrl+Space</b></td>
        </tr>
               

          
        </tbody>
        
    </table>




