
    <h2>Deleting an order using Force Cancel</h2>

    <p>If you have administrator permissions in your firm, you can use the Force Cancel functionality to delete an order from the Order Book. Force Cancel sends a cancel message to the exchange and then removes the order from the TT system without waiting for an exchange acknowledgment. Force Cancel is typically used for removing stale orders no longer working at the exchange.</p>


    <p><b>Tip</b>: You can use Force Cancel instead of Monitor to remove stale orders from a user's Order Book.</p>

    <p>To delete an order using Force Cancel:</p>

    	<ol>
        <li>Select one or more orders in the Order Book.</li>
        <li>Right-click and select <b>Force Cancel</b> from the context menu.</p>
    			      <p><img class="img-responsive" src="Content/ob-force-cancel-orders.png"/></img></p>

    		</li>
    		<li><p>Confirm that you want to force cancel the selected order and click <b>Cancel Orders</b> in the dialog box.</p>
      <p><img class="img-responsive" src="Content/ob-force-cancel-confirm.png"/></img></p>
  	</li>
  </ol>
