<div>


<p>You can open the MD Trader widget as follows:</p>

    <ul>
            <li><a href="win-search.html#search">Search</a> for a product or instrument in the title bar, select it, then click on the MD Trader icon.</li>
            <li>Click <a href="win-search.html#find"><b>Explore</b></a> in the title bar, select an expiry, then click on the MD 
                Trader icon.</li>
            <li>Select MD Trader from the <a href="wgt-widgets.html#add"><b>Widgets</b></a> menu.</li>
            <li>Launch as a linked widget from an instrument in an open Market Grid widget.</li>
        </ul>


</div>