
    <!-- <h2 id="Order_Types">Order Types</h2> -->
    <div>
        
        <p>Order types allow you to specify how an order behaves when it enters the market. For example, you may want an order to immediately fill at the current best price (market order) or to fill only at a particular price (limit order).</p>
        <p>Order Types differ from order restrictions which set how the order behaves during the session. For example, an order may delete if not filled by the end of the session (Day) or may persist until filled or canceled (GTC).</p>
        <p>Native order types refer to those types that are managed by an exchange. For example, the EEX exchange supports OCO (one cancel other) orders natively, but CME does not. TT supports the following native order types, if supported by an exchange:</p>
        <ul>
            <li><a href="#market-type">Market</a></li>
            <li><a href="#limit-type">Limit</a></li>
         <!--  <li><a href="#mlm-type">Market Limit Market</a></li> -->

            <li><a href="#iceberg-type">Iceberg</a></li>
            <li><a href="#stop-market-type">Stop Market</a></li>
            <li><a href="#stop-limit-type">Stop Limit</a></li>
            <li><a href="#cross-type">Cross</a></li>
            <li><a href="#block-type">Block</a></li>
            <li><a href="#boc-type">Book or Cancel (BOC)</a></li>
            <li><a href="#oco-type">One Cancels Other (OCO)</a></li>
            <li><a href="#minvol">Minimum Volume</a></li>
            <li><a href="#lit">Limit If Touched</a></li>
            <li><a href="#mit">Market If Touched</a></li>
        </ul>
        <p>Additionally, you can use <a href="tto-order-types-overview.html">TT Order Types</a> that provide synthetic order types to submit orders not supported natively at an exchange. For example, you could use a TT Timed algo to submit an order automatically at a specific time. </p>
    </div>
    <div>
        <h2 id="market-type">Market</h2>
        <p>A <b>Market</b> order is an order placed without a price with the intention of hitting the best Bid or taking the best Offer currently available in the market. The order fills at the current best price. </p>
        <p>Market orders may partially fill at multiple price levels. </p>
        <p>For example, if you submit a 100-lot bid at $15.25 but there are only 10 ask orders at the price, you will receive a partial fill at $15.25. The remaining quantity of your working order (90-lots) will attempt to fill at each of the next best prices (e.g., 15.50, 15.75, etc) until the total order fills.</p>
        <p>To place a market order, simply select Market in the order types drop-down, set the quantity in the MD Trader<sup><small>&reg;</small></sup> widget and select the direction you wish to trade.</p>
    </div>
    <div>
        <h2 id="limit-type">Limit</h2>
        <p>Limit orders allow you to submit an order at a specific limit price. Like market orders, limit orders allow for partial fills however, the remaining quantity continues to work in the market at the original limit price.</p>
        <p>To place a limit order, simply select Limit in the order types drop-down, set the quantity in the MD Trader<sup><small>&reg;</small></sup> widget and select the price level and direction you wish to trade.</p>
        <p>Note: Limits differ from Stop Limit which allow you to select a range of prices (e.g., number of ticks aways from) near the limit price.</p>
  <!--  ASX 16.4.4 </div>
       <div>
        <h2 id="mlm-type">Market Limit Market</h2>
        <p>Market Limit Market (MLM) orders allow you to submit a  
Buy order placed
 above the best offer to fill by the best offer, or a Sell order placed
 below the best bid to fill by the best bid. MLM is a single session order that allows order entry up to the allowed Market Depth of each contract.</p>
        <p>To place a MLM order, simply select Market Limit Market in the order types drop-down, set the quantity in 
        the <a href="order-entry-mdt.html">MD Trader<sup><small>&reg;</small></sup> widget</a> and select the price level and direction you wish to trade.</p>-->
       
    </div> 
    <div>
        <h2 id="iceberg-type">Iceberg</h2>
        <p>An Iceberg order executes a large quantity by breaking it into smaller disclosed orders or slices. When one disclosed portion fills, the next portion is sent to the market. This process continues until the order is filled.</p>
        <p>To place an iceberg order, simply select Iceberg in the order types drop-down. The quantity field now allows for two values:</p>
        <ul>
            <li>Qty: Sets the total order quantity for the iceberg order.</li>
            <li>Display: Sets the disclosed-quantity or the amount that displays in the market.</li>
        </ul>
        <p>You may also enter Iceberg orders via the Order Ticket window by selecting iceberg from the order types drop-down.</p>
        <p>When managing an Iceberg order, you may view the following information in the Order Book and the Audit Trail:</p>
        <ul>
            <li>Qty: the total quantity of the order.</li>
            <li>WrkQty: the working quantity of the current slice working in the market.</li>
            <li>ExeQty: the current total filled quantity.</li>
            <li>UndQty: the remaining undisclosed quantity not displayed to the market. The undisclosed quantity equals the order's total quantity minus the sum of the executed quantity and the working quantity (i.e., UndQty = Qty - (ExeQty + WrkQty).</li>
            <li>UndQty: Qty - (ExeQty + WrkQty)</li>
        </ul>
    </div>
    <div>
        <h2 id="stop-market-type">Stop Market</h2>
        <p>Stop Market orders allow you to select a trigger price which determines when the software submits a market order. When the market reaches or passes the trigger price, a market order enters the market and fills at the best market price.</p>
        <p>The order may fill at a worse level than the trigger price and also may partially fill at multiple price levels.</p>
    </div>
    <div>
        <h2 id="stop-limit-type">Stop Limit</h2>
        <p>Stop Limit orders allow you to select a trigger price which determines when the software submits a limit order. When the market reaches or passes the trigger price, a limit order enters
        the market and fills at the trigger price. </p>
        <p>When you select Stop Limit, a Configure button displays. This allows you to set
        a range of valid fill prices by selecting the number of ticks away from the trigger price.</p>
        <p>If partially filled, the remaining volume continues to work in the market at either the trigger
        price level or the configured number of ticks away.</p>
    </div>
    <div>
        <h2 id="cross-type">Cross</h2>
        <p class="">Cross orders are prearranged trades with either a party within the trading firm itself or with a specified party outside the firm. This order type is available in the Trade application if the exchange you are connected to supports cross trades. To submit a cross order, refer to <a href="ot-submitting-a-cross-trade.html">Submitting Cross Orders</a>.</p>
    </div>
    <div>
        <h2 id="block-type">Block</h2>
        <p class="">Block orders are high-volume, prearranged OTC (over-the-counter) trades with either a party within the trading firm itself or with a specified party outside the firm. This order type is available in the Trade application if the exchange you are connected to supports block trades. To submit a block order, refer to <a href="blk-submitting-block-trades-in-blocktrader.html">Submitting Block Orders</a>.</p>
    </div>
    <div>
        <h2 id="boc-type">Book or Cancel (BOC)</h2>
        <p>Book or Cancel (BOC) orders behave similar to limit orders except a Book or Cancel order deletes immediately if entered at a price level that results in either a partial or full fill.</p>
        <ul>
            <li>Deletes immediately if entered at a price level that results in either a partial or full fill.</li>
            <li>Rests in the order book.</li>
        </ul>
        <p>You must submit a Book or Cancel order with a limit price. You cannot submit a Book or Cancel market order.</p>
    </div>
    <div>
        <h2 id="oco-type">One Cancels Other (OCO)</h2>
        <p>An Order Cancels Order (OCO) order sets two orders of the same quantity for the same contract at different price levels. When one order executes the other order cancels.</p>
        <p>To enter an OCO, select OCO from the order types drop-down and enter the first bid or offer. The cursor now displays SL Trigger and requires you to enter a second order on the same side of the market. When either order fills, the other order is automatically cancelled.</p>


        <h2 id="minvol">Minimum Volume</h2>

{% include minimum-volume-orders.html %}

        <h2 id="lit">Limit If Touched</h2>

        <p>A Limit If Touched (LIT) order allows you to select a trigger price that determines when to submit a Limit order at a set price. When the market reaches or passes the trigger price, a Limit order is submitted at the set Limit price above or below the current market. Buy LIT orders are placed below
 the last traded price, and Sell LIT orders are placed above the last traded price.</p>

 <h2 id="mit">Market If Touched</h2>

        <p>A Market If Touched (MIT) order allows you to select a trigger price that determines when to submit a Market order. When the market reaches or passes the trigger price, a Market order is submitted above or below the current market. Buy MIT orders are placed below the last traded price, and Sell MIT orders are  placed above the last traded price.</p>







    </div>