
 <h2 id="mg-piq">Position in Queue in Market Grid</h2>
  <p>The Market Grid can show your actual or estimated position in queue (PIQ) after you submit an order in the optional <b>PIQ Buys</b> and <b>PIQ Sells</b> columns. To show these columns, right-click and select <b>Settings: Market Grid</b> and click <b>Set Market Grid columns</b>.</p>

<p>PIQ can be enabled either in <a href="prf-orders-preferences.html">Preferences</a> or by showing the <b>PIQ Buys</b> or <b>PIQ Sells</b> column <!-- by enabling <strong>Place in Queue (PIQ)</strong> --> in the <a href="mg-reference.html">Market Grid settings</a>.
    
  <p>When viewing position in queue, consider the following:</p>
  <ul>
    <li>Position in queue is only tracked and displayed when the order price is within the visibly displayed market depth.</li>
    <li>When your order is at the inside market, the PIQ number is white.</li>
    <li>When your order is the first in queue, the PIQ number is yellow.</li>
     <li>When multiple users share an account, PIQ is only displayed to the user who placed the order. Other users on that account will not see PIQ for that order.</li>

  </ul>



 <!--  from jira item Format the PIQ cell based on it's relative depth in the queue:
By default the PIQ number is black
If the order is the inside market, the color turns white
If the order is the first in the queue, the color turns yellow -->


  <p>
                <img class="img-responsive" src="Content/mg-position-in-queue.png"> </img>
            </p> 

