

<h2 id="fob-piq">Position in Queue in the Floating Order Book</h2>

<p>The <b>PIQ</b> column in the Floating Order Book allows you to view your position in queue (PIQ) for each of your orders at a given price level. </p>
<p>To view PIQ in the Floating Order Book:</p>

<ol>
  <li><p>Check the <b>Edit</b> | <b>Preferences</b> | <b>Orders</b> | <b>Enable Position in Queue (PIQ)</b> checkbox in your workspace preferences.</p></li>

  <li>Select the <b>PIQ</b> column in <b>Edit</b> | <b>Preferences</b> | <b>Orders</b> | <b>Set Floating Order Book columns</b>.

    <p><b>Tip</b>: You can move the column position using drag-and-drop in the column configuration dialog.
    </p>

  </li>

    <li><p>Launch the Floating Order Book from the <b>Work</b> column in MD Trader, or <b>WrkBuys</b> or <b>WrkSells</b> column in Market Grid.</p>

    <p>The position in queue for each order is displayed in the PIQ column.</p>

    <p><img class="img-responsive" src="Content/fob-piq.png"></p>


</li>
</ol>

