

<h2 id="piq">Position in Queue in MD Trader</h2>
<p>MD Trader can show your actual or estimated position in queue in the optional <b>PIQ</b> column. When multiple orders are submitted at a price level, PIQ is displayed for an order in MD Trader on a FIFO basis.</p>


<p>
<img class="img-responsive" src="Content/trade-mdt-show-epiq-piq.png"> </img>
</p>

<h3 id="enable-piq">Enabling PIQ</h3>
<p>PIQ can be enabled either in <a href="prf-orders-preferences.html">Preferences</a> or by showing the PIQ column <!-- by enabling <strong>Place in Queue (PIQ)</strong> --> in the <a href="mdt-reference.html#columns">MD Trader settings</a>. When this setting is enabled, the <b>PIQ</b> column displays the PIQ values
for visible orders.</p>


<h3 id="piq-display">PIQ display</h3>
<p>
Your PIQ is only displayed and tracked when an order price is within the visible displayed market depth. When viewing PIQ, the PIQ number displayed in the column is black by default. If your order is the first in the queue, the background color turns black and the PIQ number "0" is white. If your order is at the inside market, the background color turns yellow.</p>
<p>
<img class="img-responsive" src="Content/trade-mdt-epiq3-piq.png"> </img>
</p>
