<h2>Session Status indicator</h2>

<p>You can view your session status by checking the session status indicator on the workspace menu bar.</p>


	<p><img class="img-responsive" src="Content/trade-status-indicator.png"></img></p>

<!-- <p><b>Note</b>: If any session status indicator is Red or Yellow, call 1-877-424-8844 toll free (US only) for TT Support, or click <b>? Support</b> on the workspace menu bar for Global TT Support numbers.</p> -->

<p>The status indicator displays one of the following colors:</p>

<ul>
<li>Green &mdash; The session is connected.</li>

<li>Red &mdash; The session is disconnected.</li>

<li>Yellow &mdash; The session is connected, but there may be one or more connectivity issues.
</li>
</ul>

	<p><b>Note</b>: If the indicator is red or yellow, check the <a href="#screen">Session Status screen</a> for more details, or call 1-877-424-8844 toll free (US only) for TT Support. Click <b>? Support</b> on the workspace menu bar for Global TT Support numbers.</p>


<h2 id="screen">Session Status screen</h2>



<p>The <b>Session Status</b> screen provides additional session details and can be used for troubleshooting issues with your session. To display this screen, click the session status indicator on the workspace menu bar.
</p>

	<p><img class="img-responsive" src="Content/trade-session-status-screen.png"></img></p>



<p>Click each session component on this screen for more details. The following components are displayed:</p> 

 <ul>
 	<li><b>Authentication</b> &mdash; Shows your session login authentication status. The status is green if you are actively authenticated (logged in to TT), or red if you are not logged in.</li>
 	<li><b>Live Data Connection</b> &mdash; Provides additional <a href="#connect">data connection details</a> for your session.
 	</li>

 	<li><b>Market Data</b> &mdash; Displays the status of your market data subscriptions as "active" or "inactive".
 	</li>
 	<li><b>IP Address Restriction</b> &mdash; Displays your public IP address for connecting to the TT data center, and shows whether your IP address is restricted by your company administrator.</li>
 	<li><b>Display</b> &mdash; Indicates whether your device display settings are optimal for the TT platform.</li>
 	<li><b>Software Version</b> &mdash; Shows the latest and current version of TT Desktop and allows you download the latest version.</li>
 </ul>


	<p><b>Note</b>: If a session component status is red or yellow, call 1-877-424-8844 toll free (US only) for TT Support, or click <b>? Support</b> on the workspace menu bar for Global TT Support numbers.</p>



<h3 id="connect">Live Data Connection status</h3>


<p>Click <b>Live Data Connection</b> on the Session Status screen to view additional details regarding your connection.</p>


	<p><img class="img-responsive" src="Content/trade-live-data-connection.png"></img></p>


	<p>The following details are provided:</p>

 	<ul>
 		<li><b>Data Connection</b> &mdash; Displays the connection status as "Connected" or "Disconnected"</li>
 			<li><b>Internet Online</b> &mdash; Shows the status of your Internet connection to trade.tt for non-latency sensitive data.</li>
 			<li><b>Load Data</b> &mdash; Displays the time and date TT services were downloaded to your browser or TT Desktop.</li> 
 			<li><b>Window ID</b> &mdash; Shows the TT-generated ID for the workspace window.</li>
 			<li><b>Connected To</b> &mdash; Shows the URL used for connecting to a co-located TT data center.
 			</li>
 			<li><b>Session ID</b> &mdash; Displays the TT-generated session ID for your connection to TT.</li>
 	</ul>
 


<h2 id="url">TT Data Connection URL</h2>

	<p>To see the URL used for connecting to a co-located TT data center, click the status indicator in the workspace menu bar and click <b>Live Data Connection</b> on the Session Status screen. The URL is displayed in the <b>Connected To</b> field.</p>


	<!--	<p>The <b>Connected To</b> field shows the URL used for connecting to a co-located TT data center. To view this field and get the URL, click <b>Live Data Connection</b> on the Session Status screen.</p> -->


	<!-- <p><img class="img-responsive" src="Content/trade-live-data-connection-url.png"></img></p> -->
<p><img class="img-responsive" src="Content/trade-live-data-connection-url1.png"></img></p>


<h2 id="version">Software Version</h2>

<p>In TT Desktop, the Session Status screen shows the current and latest versions available. The screen will also indicate if your version is no longer supported and needs to be updated. Click the "Download" button to get the latest version.</p>

<p><img class="img-responsive" src="Content/ttd-software-version.png"></img></p>

<p>In Trade (browser access), the Session Status screen also shows the "Download" button to get TT Desktop.</p>


