<p>Refer to the following table for a description of each staged order status that may appear in the <b>Status</b> column.</p>

<table style="width:500px" class="table table-striped table-bordered" border="1">
<thead>
<tr>
<th colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Status</p>
</th>
<th  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Description</p>
</th>
</tr>
</thead>
<tbody>
<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Available</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">An unclaimed care order without a currently assigned execution 
	trader (owner).</p>

</td>
</tr>
<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Claimed</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
	<p id="" class="celltext">A care order claimed by an execution trader (owner), but with
 no child orders submitted.</p>

</td>
</tr>
<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Working</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Working care order and child order(s) without any fills</p>

</td>
</tr>
</tr>
<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Partially Filled</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Working care order that is partially filled</p>

</td>
</tr>

</tr>
<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Filled</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Filled care order</p>

</td>
</tr>

<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Pending Cancel Approval</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">The care order is pending approval or rejection of a cancellation request by the originator. No related child orders can be submitted.</p>

</td>
</tr>

<tr>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">Pending Change Approval</p>
</td>
<td  colspan="" rowspan="" align="" valign="">
<p id="" class="celltext">The care order is pending approval or rejection of a change request by the originator. No related child orders can be submitted.</p>

</td>
</tr>

</tbody>
</table>
	