



  <p><img class="img-responsive" src="Content/trade-stage-submit1.png"></p>


<p>To submit a care order:</p>
<ol>
  <li>
    <p>Open an Order Ticket for a contract.</p>
  </li>
  <li>
    <p>Enter the account, price, quantity, order type, and TIF order restriction.</p>



  </li>
  <li>
    <p>Check the <b>Stage</b> check box.</p>

        <p><b>Note</b>: If you submit staged orders on a regular basis, this box can be checked by default if the 
          <a href="https://library.tradingtechnologies.com/trade/op-reference.html">Staged</a> column is checked for the profile you are using.</p>


  </li>
  <li>
    <p>Optionally, click the drop down arrow next to the <b>Stage</b> check box to enter any additional instructions. You can also click <b>Remember Instructions</b> to save the instructions in the <b>Order Details</b> screen.</p>
  </li>
  <li>
    <p>Click <b>Buy</b> or <b>Sell</b> to submit the order.<p>The order appears in the Order Book with a <b>Status</b> of <b>Available</b>.</p>
  </li>
</ol>