  	<strong>Field</strong>: Price or combination of prices to use as the base for average calculations. Possible values include:
  	<ul>
  	  <li>Open</li>
  	  <li>High</li>
  	  <li>Low</li>
  	  <li>Close</li>
  	  <li>Adjusted Close</li>
  	  <li>HL/2 \( \left ( \frac{High + Low}{2} \right ) \)</li>
  	  <li>HLC/3 \( \left ( \frac{High + Low + Close}{3} \right ) \)</li>
  	  <li>HLCC/4 \( \left ( \frac{High + Low + Close + Close}{4} \right ) \)</li>
  	  <li>OHLC/4 \( \left ( \frac{Open + High + Low + Close}{4} \right ) \)</li>
  	</ul>