  	<strong>Moving Average Type</strong>: Type of moving average to use in the calculations:
  	<ul hidden>
  	  <li><strong>Simple</strong>: Mean (average) of the data.</li>
  	  <li><strong>Exponential</strong>: Newer data are weighted more heavily geometrically.</li>
  	  <li><strong>Time Series</strong>: Calculates a linear regression trendline using the “least squares fit” method.</li>
  	  <li><strong>Triangular</strong>: Weighted average where the middle data are given the most weight, decreasing linearly to the end points.</li>
  	  <li><strong>Variable</strong>: An exponential moving average with a volatility index factored into the smoothing formula.  The Variable Moving average uses the Chande Momentum Oscillator as the volatility index.</li>
  	  <li><strong>VIDYA</strong>: An exponential moving average with a volatility index factored into the smoothing formula.  The VIDYA moving average uses the Standard Deviation as the volatility index. (Volatility Index DYnamic Average).</li>
  	  <li><strong>Weighted</strong>: Newer data are weighted more heavily arithmetically.</li>
  	  <li><strong>Welles Winder</strong>:The standard exponential moving average formula converts the time period to a fraction using the formula EMA% = 2/(n + 1) where n is the number of days. For example, the EMA% for 14 days is 2/(14 days +1) = 13.3%. Wilder, however, uses an EMA% of 1/14 (1/n) which equals 7.1%. This equates to a 27-day exponential moving average using the standard formula.</li>
  	  <li><strong>Hull</strong>: The Hull Moving Average makes a moving average more responsive while maintaining a curve smoothness. The formula for calculating this average is as follows: HMA[i] = MA( (2*MA(input, period/2) – MA(input, period)), SQRT(period)) where MA is a moving average and SQRT is square root.</li>
  	  <li><strong>Double Exponential</strong>: The Double Exponential moving average attempts to remove the inherent lag associated to Moving Averages by placing more weight on recent values.</li>
  	  <li><strong>Triple Exponential</strong>: TBD</li>
  	</ul>

<ul>
  <li>Simple</li>
  <li>Exponential</li>
  <li>Time Series</li>
  <li>Triangular</li>
  <li>Variable</li>
  <li>VIDYA</li>
  <li>Weighted</li>
  <li>Welles Winder</li>
  <li>Hull</li>
  <li>Double Exponential</li>
  <li>Triple Exponential</li>
</ul>