{% assign topicSection = page.layout %}
  {% case topicSection %}
    {% when "desc-tab" %}
      {% assign objectSection = "DescAccordions" %}
    {% when "task-tab" %}
      {% assign objectSection = "TaskAccordions" %}
    {% when "usecase-tab" %}
      {% assign objectSection = "UseCaseTab" %}
    {% when "video-tab" %}
      {% assign objectSection = "VideoTab" %}
    {% when "reference-tab" %}
      {% assign objectSection = "ReferenceTab" %}
  {% endcase %}

        <div class="ttdoc-nav-and-maincontent-container"> <!-- closed in lower-nav file -->
          <ul class="navigation sidebar hidden-print" id="myTab">
            <div class="ttdoc-sidebar-logo">
            </div>
            <div class="ttdoc-sidebar-return-links-container ttdoc-breadcrumb">
              <span>return to:</span>
                <div class="ttdoc-sidebar-return-links">
                  <a href="../tthelp.html" id="ttdoc-help-library-link"> Help Library</a><span class="ttdoc-breadcrumb-hierarchy-separator"> > </span> 
                  <a href="index.html" id="ttdoc-platform-link">Trade Help</a>
                </div>
            </div>

                        {% if objectSection == "DescAccordions"  or page.list == "technicalindicators" %}
            <a href="#description" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Description</a>
            <div class="collapse in nav-indiv-article" id="description">
            {% else %}
            <a href="#description" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Description</a>
            <div class="collapse nav-indiv-article" id="description">
            {% endif %}

            {% if page.list == "technicalindicators" %}

              {% for acc in site.data.titles[page.widget].DescAccordions  %}

                {% assign check = acc.accordiontitle %}
                  {% case check %}
                      {% when "Technical Indicators" %} <!-- in source YML header, should also match the filename/url -->

                        <a href="chrt-technical-indicators.html" class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                  {% endcase %}
              {% endfor %}



            {% else %}

              {% for acc in site.data.titles[page.widget].DescAccordions  %}

                  {% assign check = page.AccordionID %}
                    {% case check %}
                      {% when acc.ID %} <!-- in source YML header, should also match the filename/url -->

                        <a href class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                      {% endcase %}

           
                {% endfor %}
            {% endif %}
            </div> <!-- /.nav-indiv-article description -->
         
          {% if site.data.titles[page.widget].TaskAccordions != false %}

            {% if objectSection == "TaskAccordions"%}
             <a href="#task" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Task</a>
            <div class="collapse in nav-indiv-article" id="task">
            {% else %}
             <a href="#task" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Task</a>
            <div class="collapse nav-indiv-article" id="task">
            {% endif %}
              {% for acc in site.data.titles[page.widget].TaskAccordions  %}

                  {% assign check = page.AccordionID %}
                    {% case check %}
                      {% when acc.ID %} <!-- in source YML header, should also match the filename/url -->

                        <a href class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                      {% endcase %}

            
                {% endfor %}
              </div> <!-- /.nav-indiv-article task -->

            {% endif %}

            {% if site.data.titles[page.widget].UseCaseTab != false %}
            
              
            {% if page.layout == "usecase-tab"  %}
            <a href="#use-cases" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Use Cases</a>
            <div class="collapse in nav-indiv-article" id="use-cases">
            {% else %}
            <a href="#use-cases" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Use Cases</a>
            <div class="collapse nav-indiv-article" id="use-cases">
            {% endif %}
            
            {% for acc in site.data.titles[page.widget].UseCaseTab  %}

                  {% assign check = page.AccordionID %}
                    {% case check %}
                      {% when acc.ID %} <!-- in source YML header, should also match the filename/url -->

                        <a href class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                      {% endcase %}

            
                {% endfor %} 
              </div> <!-- /.nav-indiv-article -->
            {% endif %}
          
          {% if site.data.titles[page.widget].VideoTab != false %}
             {% if page.layout == "video-tab" or page.widget == "aop" %}
             <a href="#videos" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Videos</a>
                <div class="collapse in nav-indiv-article" id="videos">
             {% else %}
              <a href="#videos" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Videos</a>
                <div class="collapse nav-indiv-article" id="videos">
             {% endif %}

               {% for acc in site.data.titles[page.widget].VideoTab  %}

                  {% assign check = page.AccordionID %}
                    {% case check %}
                      {% when acc.ID %} <!-- in source YML header, should also match the filename/url -->

                        <a href class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                      {% endcase %}

            
                {% endfor %}
                </div> <!-- /.nav-indiv-article videos -->
            {% endif %}    

            {% if site.data.titles[page.widget].ReferenceTab != false %}
            
             
            {% if objectSection == "ReferenceTab" %}
             <a href="#reference" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Reference</a>
            <div class="collapse in nav-indiv-article" id="reference">
            {% else %}
             <a href="#reference" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#ttdoc-maincontent-row"><div class="arrow-right"></div>Reference</a>
            <div class="collapse nav-indiv-article" id="reference">
            {% endif %}
              
              {% for acc in site.data.titles[page.widget].ReferenceTab  %}

                  {% assign check = page.AccordionID %}
                    {% case check %}
                      {% when acc.ID %} <!-- in source YML header, should also match the filename/url -->

                        <a href class="active list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                      
                      {% else %}

                        <a href="{{ acc.ID }}.html" class="list-group-item list-group-subitem">{{ acc.accordiontitle }}</a>
                          
                      {% endcase %}

            
                {% endfor %}
                </div> <!-- /.nav-indiv-article videos -->
            {% endif %}    

          </ul>

          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger"></label>

 

<div class="container-fluid ttdoc-maincontent-container site-wrap">
  <div class="row ttdoc-maincontent-row">

<!--Article Heading-->
<div class="ttdoc-article-wrapper" id="{{ page.AccordionID }}-fullarticle"> 

<div class="ttdoc-widget-title-mobile">
            <span>{{ site.data.titles[page.widget].pagetitle }}</span>
          </div>

          <h1>{{ page.title }}</h1>






