<p>The <b>Trade Sounds</b> section allows you to play sounds for trades that meet or exceed a 
    user-defined range of quantities. To enable this functionality, check the <b>Enable sounds</b> checkbox.</p>


    <p>When checked, the <b>Add Rule</b> button is displayed. Click this button to add one or more rules defining which sound to play for different ranges of trade quantities. Double-click a cell in the following columns to add or select a value for each rule:</p>

    <ul>
        <li><b>Min</b> &mdash; Enter the minimum trade quantity of the range.</li>
        <li><b>Max</b> &mdash; Enter the maximum trade quantity of the range. When a trade meets or exceeds this range, the selected sound is played.</li>
        <li><b>Side</b> &mdash; Select which side of the trade to apply the sound. The table row will be shaded blue for "Buy" and red for "Sell" based on which side is selected.</li>
        <li><b>Sound</b> &mdash; Select which sound to play when the trade quantity meets or exceeds your trade quantity range.</li>
    </ul>
    <p>The following controls are available for each rule:</p>

    <ul>
        <li><b>Use</b> &mdash; Check this checkbox in each row to activate a rule.</li>
        <li><b>Play</b> &mdash; Click to preview the selected sound.</li>
        <li><b>Del</b> &mdash; Click the "x" to remove a rule.</li>
    </ul>
