
<div class="container-fluid ttdoc-maincontent-container">
	<div class="row ttdoc-maincontent-row">
		<div class="ttdoc-article-wrapper" style="padding-left:0px;"> 


    <p>The TT platform offers three trade modes that can be configured by your company administrator: TT Pro, TT Standard, and TT Standard (View-only). While the TT Pro and TT Standard modes allow order routing in all environments, the TT Standard (View-only) mode does not.</p>



		<p>Both TT and TT Pro are feature-rich solutions for professional traders who need access to the global derivatives markets. Users that upgrade to TT Pro can access all of the high-performance features listed below.</p>

		<p>If you choose to "Go Pro," the following additional functionality will be available when you are configured in the "TT Pro" trade mode vs. the "TT Standard" or "TT Standard (View-only)" mode in your <b>LIVE</b> trading environment:</p>

		<table class="table table-striped table-hover table-condensed table-bordered" border=1>
		 	<thead>
		 		<th>Functionality</th>
		 		<th>Description</th>
		 	</thead>
		 	<tbody>
		 		<tr>
		 			<td>Automated spreading trading tools</td>
		 			<td><p>Access TT Pro's cutting edge automated spread trading tools including:</p>
		 				<ul>
		 					<li><a href="as-introduction-to-autospreader.html">Autospreader ®</a>: create and trade your own synthetic calendar, inter-product, or inter-exchange spreads. You can define the legs of the spread, then preview the implied market for the spread based on the outright legs.</li>
							<li><a href="aut-autotrader-overview.html">Autotrader ™</a>: offers an Excel-like interface to launch and manage algos.</li>
							<li><a href="asr-autospreader-rules-overview.html">Autospreader Rules</a>: design your own custom rules and features and add them to a spread.</li>
							<li><a href="agg-aggregator-overview.html">Aggregator</a>: combines similar contracts in multiple markets on one trading interface (MD Trader) to help users achieve the best price.</li>
							<li><a href="hm-hedge-manager-overview.html">Hedge Manager</a>: displays all of your Autospreader hedge orders in a single widget and gives you the ability to act on unfilled hedge orders in various ways.</li>
		 				</ul>
		 			</td>
		 		</tr>
		 		<tr>
		 			<td>Algorithmic trading tools</td>
		 			<td><p>Create, launch, and manage custom algos using the following tools:</p>
		 				<ul>
		 					<li><a href="alg-algo-dashboard-overview.html">Algo Dashboard</a>: deploy, launch, and manage algos built using various tools such as ADL and TTSDK. Using the Algo Dashboard, you can launch an algo, modify the algo's settings, and select a co-located data center nearest the exchange to execute your strategy.</li>
		 					<li><a href="../adl/index.html">ADL</a>: a visual programming platform that represents a major breakthrough in algorithmic trading. Using drag-and-drop building blocks, traders and programmers alike can rapidly design, test and deploy automated futures and options trading programs without writing a single line of code. </li>
		 			</td>
		 		</tr>
		 		<!-- <tr>
		 			<td>Software Development Kit</td>
		 			<td>Take full control with the TTAPI SDK, our high performance Application Programming Interface (API) that provides developers with the ability to create custom algorithms that can be run on co-located TT Algo Server for the best possible performance.</td>
		 		</tr> -->
		 		
		 	</tbody>
		</table>

		<p><b>Note</b>: When you "Go Pro" as an active user, you will be billed at a higher rate for the month in which you've been enabled for Pro features.</p>

	



		<h2 id="pro-v-standard">TT Pro vs. TT Standard</h2>

		<p>Use the table below as a quick reference for what TT functionality is available in TT Pro vs. TT Standard.</p>

			<p><strong>Note</strong>: Advanced options features can be enabled for both TT Pro and TT Standard users. Refer to <a href="https://library.tradingtechnologies.com/trade/aop-overview.html">Advanced Options Features</a> for more details.</p>


		<table class="table table-striped table-condensed table-bordered" border=1>
        <thead>
            <tr>
                <th style="width:300px"><strong>Widget</strong></th>
                <th style="width:100px"><strong>TT Pro</strong></th>
                 <th style="width:100px"><strong>TT Standard</strong></th>

            </tr>
        </thead>
         <tbody>
            <tr>
                <td>MD Trader&reg;</td>
                <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>

            </tr>
            <tr>
                <td>Market Grid</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Chart</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Time &amp; Sales</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Order Book</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Fills</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Positions</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Audit Trail</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Spread Matrix</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;*</td>
            </tr>
            <tr>
                <td>Trader Analytics</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Orders and Fills</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             
             <tr>
                <td>Autospreader&reg;</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
              <tr>
                <td>Autotrader&trade;</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
             <tr>
                <td>Algo Dashboard</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
             <tr>
                <td>Aggregator</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
             <tr>
                <td>Autospreader&reg; Rules</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>ADL</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
             <tr>
                <td>Hedge Manager</td>
                  <td style="text-align:center">&#10004;</td>
                <td></td>
            </tr>
             <tr>
                <td>Options Chain</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Strategy Creation</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>RFQ Viewer</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Account List</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Blocktrader</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
             <tr>
                <td>Alert Manager</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Alert Viewer</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr>
                <td>Position Manager</td>
                  <td style="text-align:center">&#10004;</td>
                <td style="text-align:center">&#10004;</td>
            </tr>
            <tr><td colspan="3">* <strong>Note</strong>: Spread Matrix does not include Autospreader or Custom spread building in TT Standard.
            </td></tr>
        </tbody>
        
    </table>





	</div> <!-- /ttdoc-article-wrapper-->
  </div> <!-- /.row -->
</div> <!-- /.container-fluid -->


