<section id="times">
  {% assign tto-name = page.tto-name %}

  <h2>Setting start and end times for a {{ tto-name }} parent order</h2>
  <p>By default, a {{ tto-name }} order begins working immediately after submission and continues to work until canceled. You can, however, customize when a {{ tto-name }} parent order begins working and when it stops.</p>

  {% if page.AccordionID == "tto-iceberg-order" or page.AccordionID == "tto-stop-order"%}
  <p><strong>Note</strong>: If you specify both a trigger and a future start time, the start time takes precedence. When the specified start time is reached, the {{ tto-name }} parent order will begin working and evaluate the trigger condition at that time.</p>
  {% endif %}

  <p>To set start and stop times for a {{ tto-name }} parent order:</p>
  <ol>
    <li>
      For the <strong>Start</strong> setting, click the dropdown arrow and select the desired <a href="#start-options">start time option</a>. 
      <p><img class="img-responsive" src="Content/tto-start-time-dropdown.png" alt=""/></p>
      In this example, you select <strong>Time</strong>.
    </li>
    <li>
      Set a start date and time in the calendar selector, and click <strong>Apply</strong>.
      {% if page.AccordionID == "tto-bracket-order" %}
      <p><img class="img-responsive" src="Content/tto-bracket-times-config.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-iceberg-order %}
      <p><img class="img-responsive" src="Content/tto-iceberg-times-config.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-if-touched-order" %}
      <p><img class="img-responsive" src="Content/tto-if-touched-times-config.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-oco-order" %}
      <p><img class="img-responsive" src="Content/tto-oco-times-config.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-stop-order" %}
      <p><img class="img-responsive" src="Content/tto-stop-times-config.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-time-duration-order" %}
      <p><img class="img-responsive" src="Content/tto-time-duration-times-config.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-time-sliced-order" %}
      <p><img class="img-responsive" src="Content/tto-time-sliced-times-config.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-timed-order" %}
      <p><img class="img-responsive" src="Content/tto-timed-times-config.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-trailing-limit-order" %}
      <p><img class="img-responsive" src="Content/tto-trailing-limit-times-config.png" alt="ADD PIC" /></p>
      {% endif %}
      <p></p>
      <strong>Note</strong>: If you specify a future start time, the Order Book will show the {{ tto-name }} parent order <strong>Status</strong> as <strong>Working</strong> and its <strong>SynthStatus</strong> as <strong>Waiting</strong>.
    <li>
      For the <strong>End</strong> setting, click the dropdown arrow and select one of the following:
      <ul>
        <li>
          <strong>GTC</strong>: Keeps the {{ tto-name }} parent order working until it is canceled.
        </li>
        <li>
          <strong>Time</strong>: Sets a time and date for when the {{ tto-name }} parent order ends.
        </li>
        <li>
          <strong>Day</strong>: Cancels the {{ tto-name }} parent order at the end of the trading session.
        </li>
      </ul>
      <p><img class="img-responsive" src="Content/tto-end-time-dropdown.png" alt="" /></p>
    </li>
    <li>
      Enter the order at the desired price level.
      <p></p>
      If you placed the order with a future start time, the {{ tto-name }} parent order would appear in MD Trader and the Order Book similar to the following.
      {% if page.AccordionID == "tto-bracket-order" %}
      <p><img class="img-responsive" src="Content/tto-bracket-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-iceberg-order" %}
      <p><img class="img-responsive" src="Content/tto-iceberg-times-mdt-ob.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-if-touched-order" %}
      <p><img class="img-responsive" src="Content/tto-if-touched-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-oco-order" %}
      <p><img class="img-responsive" src="Content/tto-oco-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-stop-order" %}
      <p><img class="img-responsive" src="Content/tto-stop-times-mdt-ob.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-time-duration-order" %}
      <p><img class="img-responsive" src="Content/tto-time-duration-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% elsif page.title == "TT Time Sliced order" %}
      <p><img class="img-responsive" src="Content/tto-time-sliced-times-mdt-ob.png" alt="" /></p>
      {% elsif page.AccordionID == "tto-timed-order" %}
      <p><img class="img-responsive" src="Content/tto-timed-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% elsif page.AccordionID == "tto-trailing-limit-order" %}
      <p><img class="img-responsive" src="Content/tto-trailing-limit-times-mdt-ob.png" alt="ADD PIC" /></p>
      {% endif %}
      The Order Book shows the status of the future order.
      <ul>
        <li>
          <strong>A</strong> - The <strong>Status</strong> is <strong>Working</strong>, which indicates the {{ tto-name }} parent order is working on the Algo Server.
        </li>
        <li>
          <strong>B</strong> - The <strong>SynthStatus</strong> is <strong>Waiting</strong>, which indicates the order has not yet started working in the market. When the start time is reached, the <strong>SynthStatus</strong> will also change to <strong>Working</strong>.
        </li>
        {% if page.title == "TT Trailing Limit order" %}
        <li>
          <strong>C</strong> - Because a {{ tto-name }} parent order cannot determine the initial price of a future order, it cannot be displayed in the ladder so displays the order as a callout. For more information, see <a href="mdt-trading-with-mdtrader.html#timed-order-display">.</a>
        </li>
        {% endif %}

      </ul>
      
    </li>
  </ol>

</section>