
<div>
   <!-- <h2>User Preferences</h2> -->
    <p>TT provides various customization options for your workspace. To customize a workspace, click <b>Edit</b> from the workspace window menu bar to access your <b>Preferences</b>. These preferences affect all of the workspaces associated with your TT login.</p>
    <p><img class="img-responsive" src="Content/wrk-edit-menu.png"></img></p>
    
    <p hidden><b>Note</b>: A widget's default settings apply to all subsequently opened widgets.</p>

    <p>In each Preferences screen, click <b>Save</b> after setting your options. Click <b>Cancel</b> to restore the default preferences.</p>

  <p><strong>Note</strong>: Any changes you make will affect the current workspace as well as all other workspaces you have created.</p>

    <p hidden>Click "Settings" in each of the following sections for more details.</p>

    <p>The <b>Preferences</b> screen includes the following tabs:

          <p><img class="img-responsive" src="Content/user-preferences-tabs.png" alt="General preferences"></p>
    <ul>
        <li>General &mdash; Contains basic display options, as well as settings for price averaging and displaying energy product quantities.</li>
        <li>Accounts &mdash; Displays your routable accounts and allows you to add account mapping rules.   </li>
        <li>Orders &mdash;  Provides general order entry preferences and allows you to set order defaults. </li>
        <li>Positions &mdash; Contains an option to display positions for parent spread and strategy orders.</li>
        <li>Fills &mdash; Contains an option to display a Fill Alerts widget when new fills are received. </li>
       <li>Algos &amp; Autospreader &mdash; Provides default algo and Autospreader launch settings.</li>
        <li>Sounds &mdash; Allows you to enable sounds and assign sound preferences to orders and fills. </li>
        <li>Hotkeys &mdash; Lets you assign actions to custom hotkeys.</li>
    </ul>

</div>