<!-- <h2>Workspace title bar</h2> -->
  <p>The workspace window menu bar appears at the top of each main window and provides access to general workspace
  functionality.</p>
  <p><img class="img-responsive" src="Content/wrk-title-bar1.png"></p>
  <p>The main window menu bar includes the following:</p>
  <ol>
    <li>TT logo &mdash; Provides a link to the Trading Technologies website.</li>
    <li>File menu &mdash; Includes options for creating, opening, and managing workspaces and creating templates. Also provides access to information about your connection and includes an option to refresh the workspace in your browser.
    </li>
    <li>Edit menu &mdash; Provides access to your global settings and allows you to change trading environments</a>.</li>
    <li>Widgets menu &mdash; Shows a list of all widgets currently available in your environment.  </li>
    <li>Search &mdash; Allows you to search for products and instruments. </li>
    <li>Market Explorer &mdash; Allows you to find products and instruments. </li>
    <li>Opened widgets &mdash; Provides quick access to all widgets currently opened but minimized in your workspace.  </li>
    <li>Windows selector &mdash; Allows you to add multiple windows and select existing windows within your workspace.  </li>
    <li>Title bar clock &mdash; Displays the time at your current location.</li>
    <li>Save workspace &mdash; Saves the current layout of your workspace.  </li>
    <li>Message center &mdash; Provides access to the Message Center.  </li>
    <li>Support screen &mdash; Provides access to online documentation and TT Support.  </li>
    <li>Connection status indicator &mdash; Shows your connection status.   </li>
    <li>Lock screen icon &mdash; Allows you to lock and unlock your workspace.</li>
  </ol>