<strong>Disconnect</strong>: Sets how TT handles an ADL algo order if your browser disconnects from the platform. <strong>Note</strong>: This functionality applies to ADL algos only. Parent and child TT algo orders continue working in the market if your browser disconnects from TT.
<ul>
  <li>Leave: The ADL parent and child orders remain working in the market after a disconnect.</li>
  <li>Pause: The parent ADL algo order is paused. The logic in the ADL parent algo determines how its working child orders are handled after a disconnect.</li>
  <li>Cancel: The parent ADL algo order is canceled. The logic in the ADL parent algo determines how its working child orders are handled after a disconnect.</li>
</ul>
