<strong>Display</strong>: Sets the displayed quantity, or the amount that is visible in the market.
<p></p>
The displayed value can represent:
<ul>
  <li><strong>Qty</strong> for an specific number of contracts</li>
  <li><strong>%</strong> for a percentage of the total order</li>
</ul>
<p></p>
When the displayed quantity is specified as a percentage:
<ul>
  <li>If the quantity is less than 1, the quantity rounds up to 1.</li>
  <li>If the fractional portion is less than .5 (e.g. 3.2), the quantity rounds down.</li>
  <li>If the fractional portion is greater than .5 (e.g. 3.7), the quantity rounds up. </li>
  <li>If the fractional portion is exactly .5, the quantity rounds up.</li>
</ul>
