<strong>Leftover action</strong> to specify how to handle any existing unfilled order quantities when it is time to send the next portion. Options include:
<ul>
  <li><strong>Leave</strong> to leave the resting child order portion in the market.</li>
  <li hidden><strong>Market</strong> to cancel the resting child order portion and submit a market order for the remaining quantity.</li>
  <li><strong>Payup</strong> to change the price based upon the buy/sell direction of the order and the <strong>Payup Ticks</strong> value.</li>
</ul>
