<strong>Payup</strong> - Sets the number of ticks from the specified price to submit the Limit order. Positive values indicate towards the market and negative values indicate away from the market.
<p></p>
The offset is based on the following prices:
<ul>
	<li>LTP: Last Traded Price</li>
	<li>Ask: Best Ask</li>
	<li>Bid: Best Bid</li>
	<li>Trigger: Trigger price</li>
	<li>Same Side: Evaluates the trigger using the inside market price in the Buy/Sell direction of the order:
		<ul>
			<li>Best Bid for Buys</li>
			<li>Best Ask for Sells</li>
		</ul>
	</li>
	<li>Opposite Side: Evaluates the trigger using the inside market price in the opposite Buy/Sell direction of the order:
		<ul>
			<li>Best Ask for Buys</li>
			<li>Best Bid for Sells</li>
		</ul>
	</li>
</ul>
<p></p>
<strong>Tip</strong>: An entry field for this value is added to the <a href="https://mdt-trading-with-mdtrader.html">MD Trader</a> Order Entry Panel to let you set the value without needing to reopen the flyout panel.
<p><img class="img-responsive" src="Content/tto-stop-mdt-order.png" alt=""/></p>

		<p><strong>Note</strong>: If you click a <a href="mdt-configuring-mdtrader.html#buttons">custom action button</a> (or use a <a href="prf-hotkey-preference.html">hotkey</a>) for this TT Order Type that also specifies an order template, these two fields will not be displayed, as the template already defines their desired values.Right-clicking on the button displays these parameters. You can also click the <strong>edit</strong> button to make changes if desired.</p>