<strong>Order type</strong>: Sets the order type for the parent TT Bracket entry order.
  <p></p>
  Possible values include:
 <ul>
  <li>
  	<a href="https://library.tradingtechnologies.com/trade/ot-order-types.html#limit-type">Limit</a>
  </li>
  <li>
  	<a href="https://library.tradingtechnologies.com/trade/ot-order-types.html#stop-limit-type">Stop Limit</a>
  	<br/>
  	<strong>Payup</strong>: Sets the number of ticks away from the Stop price to submit a Limit order.
  </li>
  <li>
  	<a href="https://library.tradingtechnologies.com/trade/ot-order-types.html#stop-market-type">Stop Market</a>
  </li>
</ul>
