<strong>Secondary Condition</strong>: Optional condition to require before triggering the order. The order is triggered only when the initial and secondary conditions are both TRUE.

<p></p>
<strong>Note</strong>: When specifying a second condition, exactly one of the conditions must use an LTP trigger.
<ul>
  <li>{% include Parameters/TriggerPrice_Details.html%}</li>
  <li>{% include Parameters/TriggerQuantity-Details.html%}</li>
  <!--
  <li>{% include Parameters/ResetOnRevert.html %}</li>
-->
  <li>{% include Parameters/TrailOffset.html%}</li>
</ul>