<div id="start-options">
<strong>Start</strong>: Sets the date and time to start executing the order
  <p></p>
  Possible values include:
  <ul>
    <li><strong>Now</strong> to start the order immediately</li>
    <li><strong>Time</strong> to display a date/time picker for you to indicate when to start the order</li>
    <li><strong>Pre-open</strong> to enter the order at the pre-open state defined by an exchange</li>
    <li><strong>Open</strong> to enter the order when the exchange opens its trading session</li>
  </ul>
</div>