        <strong>Start</strong>: Sets the date and time to start executing the synthetic order:
        <ul>
          <li><strong>Now</strong> to start the synthetic order immediately</li>
          <li><strong>Time</strong> to display a date/time picker so you can indicate when to start the synthetic order</li>
    <li><strong>Pre-open</strong> to enter the order at the pre-open state defined by an exchange</li>
    <li><strong>Open</strong> to enter the order when the exchange opens its trading session</li>
        </ul>
