<strong>Price Type</strong>: Sets the price at which to trigger the parent synthetic order.
<p></p>
Possible values include:
<ul>
	<li>LTP: Last Traded Price</li>
	<li>Ask: Best Ask</li>
	<li>Bid: Best Bid</li>
	<li>Same Side: Evaluates the trigger using the inside market price in the Buy/Sell direction of the order:
		<ul>
			<li>Best Bid for Buys</li>
			<li>Best Ask for Sells</li>
		</ul>
	</li>
	<li>Opposite Side: Evaluates the trigger using the inside market price in the opposite Buy/Sell direction of the order:
		<ul>
			<li>Best Ask for Buys</li>
			<li>Best Bid for Sells</li>
		</ul>
	</li>
</ul>
<strong>Note</strong>: Using Same and Opposite sides instead of Bid and Ask lets you create order a single order template that works when submitting either Buy or Sell orders instead of using one template for Buy orders and other template for Sell orders.