.ttdoc-footer {
	background: url(../images/footer.png) no-repeat right bottom $footer-gray;
	z-index: 0;
	position: relative;

	.footer-inner {
		padding-top:20px;
	}

	.footer-inner.constrain {
		width:100%;
    	max-width:1200px;
    	margin: 0 auto;
	}

	.row {
		margin: 0 auto;
		text-align:center;
		padding:6px 0px;
	}

	a:link, a:visited {
	    padding-bottom: 0px;
	    font: 15px/20px "Avenir Next Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    color:$footer-link-color;
	    text-decoration: none;
	    line-height: 1;
	    font-weight:700;
	    position:relative;
	}

	a:hover, a:active {
		color:#000;
		text-decoration:none;
		font-weight:700;
	}

	a:link::after {
		content: '';
	  	display: block;
	  	border-bottom: 1px solid black;
	  	width: 0;
	  	position: absolute;
	  	left: 0;
	  	bottom:0;
	  	-webkit-transition: 0.25s ease;
	  	transition: 0.25s ease;
	}

	a:hover::after {
		width: 100%;
	}

	p {
		margin: 0px 0px 5px 5px;
		color: $dark-gray;
		text-align:left;
	}

	.footer__copyright-wrap {
		padding-top:30px;

		a.link {
			color:$link-color;
		}

		a:link::after {
		  	border-bottom: 1px solid $link-color;
		}
	}

	.footer__copyright {
	    font: 14px/20px "Avenir Next Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
	    color: $dark-gray;
	    margin: 0px 0px 20px 0px;
	    text-align: left;
	    padding-left:5px;

	    a:link, a:visited {
	    	font: 14px "Avenir Next Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
	    	color: $dark-gray;
	    	text-transform:none;
	    	letter-spacing: 0px;
	    }

	    a:hover, a:active {
	    	text-decoration: underline;
	    	letter-spacing: 0px;
	    	color: $dark-gray;
	    }
	}

	@media (max-width: 900px) {
		.footer__copyright {
    		font-size: 12px;
    		line-height: 18px;
    		text-align:left;
    		color: $dark-gray;
    		padding-top:0;
    		margin-top:0;
    	}

    	.footer__copyright-wrap {
	    	a:link, a:hover, a:active, a:visited {
	    		font-size: 12px;
	    	}
	    }
	}

	@media (max-width: 767px) {
		.row {
			padding:0px;
		}
	}

	@media (min-width: 1px) and (max-width: 767px) {
		a {
			display:inline-block;
			padding:10px 0px;
			text-align:center;
		}

		.footer__copyright a {
			padding: 0px;
		}

		p {
			text-align: center !important;
			margin: 0px;
			padding-top:10px;
		}
	}
}
