.ttdoc-maincontent-container {
    margin: 0 auto;
    padding: 0;
    background: $white;

    .ttdoc-ti {	

    	.MapTitle {
    		padding:0px;
    		margin:0px;
    	}

		.list-group-item {
    	    font-family: "Avenir Next Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
			font-weight: 600;
			border: none;
    	    padding: 5px 15px 5px 40px;
    	    margin-right: 0px;

    	    h2 {
    	    	font-size: 1.2em;
    	    	margin: 10px 0px;
    	    }

    	    h3 {
    	    	font-size: 1.2em;
    	    	margin: 10px 0px;
    	    }
    	}

    	@media (max-width: 1000px) {
			.list-group-item {
				padding-top: 1px;
				padding-bottom: 1px;

	    	    h2 {
	    	    	font-size: 1.1em;
	    	    }

	    	    h3 {
	    	    	font-size: 1.1em;
	    	    }

	    	    p {
	    	    	font-size: 1.1em;
	    	    }
	    	}
    	}

    	a.list-group-item-success {
    		color: $white;
    		font-size:14px;
    		background: $medium-gray url(../images/dropdown-arrow-down.svg) no-repeat 12px 50%;
    		background-size: 15px;
    		letter-spacing: .5px;
    		text-transform: capitalize;
    		border-radius: 0px;
    		margin-bottom:-2px;
    		text-decoration:none;
		}

		.list-group-item-success.collapsed {
    		color: $link-color;
    		background: $white url(../images/dropdown-arrow-up.svg) no-repeat 12px 50%;
    		background-size: 15px;	
    		letter-spacing: .5px;	
    		margin-top: -1px;	
		}

		.list-group-item:last-child {
    		margin-bottom: 0;
    		border-bottom-right-radius: 0px;
    		border-bottom-left-radius: 0px;
		}

		.list-group-item:first-child {
   			border-top-left-radius: 0px;
    		border-top-right-radius: 0px;
    		padding-top:5px;
    		margin-top:1px;
		}

		.ttdoc-ti-item-content {
    		border-bottom:$medium-gray solid 1px;
    		border-right:$medium-gray solid 1px;
    		border-left:$medium-gray solid 1px;
    		padding: 10px 30px 40px 30px;
    		font-size:.85em;
    		margin-bottom:-1px;

    		.collapse-link span {
    			float:right;
    		}

    		.collapse-link span::after {
    			float:right;
    			content: url('../images/dropdown-arrow-up.svg');
    			width: 15px;
    			margin-left:5px;
    			margin-bottom:2px;
    		}
		}
	}
}

@media (max-width: 767px) {
	.ttdoc-maincontent-container {
		margin-left:-10px;
		margin-right:0px;
		padding-right: 0px;
	}
}

