<!-- Adds a 'Back to Top' button
<div class="text-center" style="padding:10px;">
	<div class="btn-group pagination-centered">
  		<button type="button" class="btn btn-default"><a class="back-to-top" href="#top">
              Back to top
        </a></button>
	</div>
</div>
-->

<div id="footer" style="padding:10px;">
	<div class="container-fluid">
		<div class="panel panel-info">
  			<div class="panel-body">

          <small><a href="../trade/index.html">Trade</a> | </small>
          <small><a href="../user-setup/index.html">Setup</a> | </small>
          <small><a href="../risk/index.html">Monitor</a> | </small>
          <small><a href="../mobile-ios/index.html">Mobile iOS</a> | </small>
          <small><a href="../tt-fix/index.html">TT FIX</a> | </small>
          <small><a href="https://www.tradingtechnologies.com/products/initiatives/products/nextgen/nextgen-faqs/" target="_blank"> FAQs</a> | </small>
          <small><a href="../release_notes/index.html">Release Notes</a> | </small>
          <small><a href="https://www.tradingtechnologies.com/legal/" target="_blank">Legal/Privacy</a> | </small>  

          <br/>
          <small class="text-center" style="font-weight:lighter;">© Copyright 2014-2016 Trading Technologies International, Inc. All trademarks are property of their respective owners.</small>
			</div>
		</div>	
	</div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b448cc13f573d8" async="async"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script> -->
    <script type="text/javascript">
(function() {
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
s.src = '//api.usersnap.com/load/'+
        '02ac1571-8eab-45b8-b6ff-534fa41917d8.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>
</body>
</html>