<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav nav-tabs" role="tablist">
          
          <li><a href="index.html"><img src="Content/logo.png"></img></a></li>
          <li class="top-nav active"><a href="../trade/index.html">Trading</a></li>
          <li class="top-nav inactive"><a href="../user-setup/index.html">Setup</a></li>
          <li class="top-nav inactive"><a href="../risk/index.html">Monitor</a></li>
          <li class="top-nav inactive"><a href="../mobile-ios/index.html">Mobile iOS</a></li>
          <li class="top-nav inactive"><a href="../tt-fix/index.html">TT FIX</a></li>
          <li class="top-nav inactive"><a href="../release_notes/index.html">Release Notes</a></li>
          <li>
            <div class="search" style="padding-top:8px; left:0px;">
              <form action="Search.html" class="form-search" method="get">
                <fieldset class="search">
                  <input type="text" id="Text1" name="q" class="search-input" size="20">
                  <input type="hidden" name="sk" value="Online Help">
                  <input type="hidden" name="sh" value="Online Help">
                  <input type="submit" id="Submit" value="Search" class="submit search-btn">
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="tt-overview.html">Overview</a>
                </li>
                <li>
                <a href="tt-requirements.html">TT Platform Requirements</a>
              </li>
              <li>
                <a href="tt-create-tt-acct.html">TT Accounts</a>
              </li>
              <li>
                <a href="tt-logging-in.html">Logging In</a>
              </li>
                <li>
                  <a href="gs-workspaces.html">Workspaces</a>
                </li>
                <li>
                  <a href="gs-widgets.html">Widgets</a>
                </li>
                <li>
                  <a href="gs-search.html">Search</a>
                </li>
                <li>
                  <a href="gs-global.html">Global Settings</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Viewing Market Data <b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li>
                  <a href="view-markets-market-grid.html">Market Grid</a>
                </li>
                <li>
                  <a href="view-markets-mdt.html">MD Trader®</a>
                </li>
              <!--  <li>
                  <a href="view-markets-options.html">Options Chain</a>
                </li> -->
               
                <li>
                  <a href="view-spread-matrix.html">Spread Matrix</a>
                </li>
              <!--  <li>
                  <a href="view-markets-strategies.html">Strategy Creation</a>
                </li> -->
        
                <li>
                  <a href="view-markets-ts.html">Time and Sales</a>
                </li>
              </ul>
            </li>
            <!--
            Basic Order Entry menu
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basic Order Entry <b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li>
                  <a href="order-entry-order-types.html">Order types</a>
                </li>
                <li>
                  <a href="order-entry-ot.html">Order ticket</a>
                </li>
                <li>
                  <a href="order-entry-mdt.html">MD Trader®</a>
                </li>
                <li>
                  <a href="order-entry-cross.html">Cross trades</a>
                </li>
                <li>
                  <a href="order-entry-block.html">Block trades</a>
                </li>
               <li>
                  <a href="order-entry-cross-prevent.html">Order cross prevention</a>
                </li> 
               
              </ul>
            </li>
            <!--
            Order Management menu
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Management <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="mgmt-order-book.html">Order Book</a>
                </li>
                <li>
                  <a href="mgmt-floating-order-book.html">Floating Order Book</a>
                </li>
                <li>
                  <a href="mgmt-fills.html">Fills</a>
                </li>
                <li>
                  <a href="mgmt-positions.html">Positions</a>
                </li>
                 <li>
                  <a href="mgmt-audit-trail.html">Audit Trail</a>
                </li>
                <li>
                  <a href="mgmt-staged-orders.html">Staged Orders</a>
                </li>
              </ul>
            </li>
            <!--
            Automated Trading menu
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Automated Trading <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
                <li>
                  <a href="auto-tt-algos.html">TT Algos</a>
                </li>
                <li>
                  <a href="auto-autospreader.html">Autospreader®</a>
                </li>
                <li>
                  <a href="auto-rules.html">Autospreader® Rules</a>
                </li>
                <!--
                <li>
                  <a href="auto-trading-spreads.html">Trading Spreads</a>
                </li>
              -->
                 <li>
                  <a href="auto-aggregator.html">Aggregator</a>
                </li>
                <!--
                <li>
                  <a href="">ADL (TBD)</a>
                </li>
                -->
                <li>
                  <a href="auto-algo-dashboard.html">Algo Dashboard</a>
                </li>
                <li>
                  <a href="Autotrader_Intro.html">Autotrader</a>
                </li>
              </ul>
            </li>
            <!--
            Charting menu
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Charting <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="charting-overview.html">Using charts</a>
                </li>

                <li>
                  <a href="charting-types.html">Chart types</a>
                </li>
                  <li>
                  <a href="charting-drawing-tools.html">Drawing tools</a>
                </li>
                <li>
                 <!--  <a href="charting-tech-indicators.html">Technical Indicators</a> -->
                  <a href="Technical_Indicators.html">Technical indicators</a> 
                </li>
              </ul>
            </li>
            <!--
            Risk Checking menu
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Risk Checking <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="">Overview (TBD)</a>
                </li>
                <li>
                  <a href="">Risk checks (TBD)</a>
                </li>
              </ul>
            </li>
            -->
          </ul>
          </div><!-- ./navbar-inner -->
          </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>