<p>
	The status of an order:
</p>
<ul>
	<li>Canceled &mdash; In the Order Book and Audit Trail, this status indicates that the remaining balance of a partially filled order was canceled. Unfilled orders that are canceled in the Order Book also appear in the Audit Trail with a status of "canceled".
	</li>
	<li>Done for Day &mdash; Indicates a GTD order was canceled because the session ended
	</li>
	<li>Expired &mdash; Indicates the order was canceled because its TIF passed
	</li>
	<li>Filled &mdash; Indicates the order is fully filled</li>
	<li>Hold &mdash; Indicates the order was placed on hold</li>
	<li>Partially Filled &mdash; Indicates the order is partially filled</li>
	<li>Pending Cancel &mdash; Indicates an order cancel request is waiting to be processed</li>
	<li>Pending New &mdash; Indicates a new order request is waiting to be processed
	</li>
	<li>Pending Replace &mdash; Indicates an order cancel/replace request is waiting to be processed
	</li>
	<li>Rejected &mdash; Indicates an order request was rejected
	</li>
	<li>Stopped &mdash; Indicates an algo has been stopped</li>
	<li>Working &mdash; Indicates the order is working in the market</li>
</ul>
<p><b>Note</b>: For care orders, refer to <a href="#staged">Care Order Status</a>.</p>