<p>
	Displays an optional, user-defined text value from the Setup app or entered in the <b>TextTT</b> free-form text field in the Order Ticket. The value displayed in this column remains on submitted orders for tracking purposes in the TT system, but is not routed to the exchange.
</p>
<p>You can show or hide the Text TT text box for a selected working order in the Order Toolbar. You can add or modify the text that displays in the <b>TextTT</b> column for the selected order.</p>
<p><b>Note</b>: For Autospreader orders submitted by an ADL algo, the value is populated with the order tag of the parent algo order.</p>