<p>
  The type of price used when calculating P/L for the contract row. One of the following values will be displayed based on which price was selected for calculating P/L:
      <ul>
      <li><b>Last</b> &mdash; Last Traded Price
         <li><b>Bid</b> &mdash; Bid is displayed for long positions</li>
         	   <li><b>Ask</b> &mdash; Ask is displayed for short positions</li>
         <li><b>Midpoint</b> &mdash; Midpoint of the Bid/Ask, i.e., (Bid + Ask) / 2</li>
          <li><b>Open</b> &mdash; The open price for the contract in the current trading session</li>
           <li><b>Close</b> &mdash; The closing price for the contract in the current trading session</li>
            <li><b>Settle</b> &mdash; The settlement price for the contract from the previous trading 
              session</li>
       </ul></p>
</p>
