<div>
    <h4>Default launch settings</h4>
        <table class="table table-striped table-bordered" border=1>
    

            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Disconnect action</td>
                    <td>
                        <p>Select the default action to take when the client that launched the algo loses its connection to TT:</p>
                        <ul>
                            <li><b>Leave</b>: Allow the algo to continue running</li>
                            <li><b>Pause</b>: Pause the algo until manually restarted</li>
                            <li><b>Cancel</b>: Stop the algo</li>
                        </ul>
                        <p>You can override this value for a specific algo when launching it.</p>
                    </td>
                </tr>

            </tbody>
            
        </table>
</div>