 <div>
  <ul>
    <li hidden>
      <p><b>Bold font</b>: Sets whether to use bold font for text.</p>
    </li>
    <li>
      <b>Ignore global Account List broadcasts</b> &mdash; {% include settings/ignore-acct-list.html %}
    </li>
    <li>
      <strong>Timestamp precision</strong>: Select whether to display timestamps with millisecond, microsecond or nanosecond precision.
    </li>
    <li>
      <b>Set Audit Trail columns</b>: Select the <a href="#audit-trail-col-desc">columns</a> you want to show.
    </li>
  </ul>

</div>
<div>
  <h4 id="audit-trail-col-desc">Audit Trail column descriptions</h3>
  <p></p>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Column</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Account</td>
        <td>{% include columns/col-account.html %}</td>
      </tr>
      <tr>
        <td>AcctType</td>
        <td>{% include columns/col-acct-type.html %}</td>
      </tr>
      <tr>
        <td>AlgoName</td>
        <td>{% include columns/col-algo-name.html %}</td>
      </tr>
      <tr>
      <td>AltExchAcct</td>
      <td>{% include columns/col-alt-exch-acct.html %}</td>
       </tr>

      <tr>
          <td>Broker</td>
          <td>{% include columns/col-broker.html %}</td>
        </tr>
      <tr>
        <td>B/S</td>
        <td>{% include columns/col-bs.html %}</td>
      </tr>
      <tr>
      <td>C.D.I.</td>
      <td>{% include columns/col-mifid-cdi.html %}</td>
    </tr>
    <tr>
      <td>Client</td>
      <td>{% include columns/col-mifid-client.html %}</td>
    </tr>
     <tr>
      <td>ClOrderID</td>
      <td>{% include columns/col-clorderid.html %}</td>

    </tr>


      <tr>
        <td>ConnectionID</td>
        <td>{% include columns/col-connection-id.html %}</td>
      </tr>
      <tr>
        <td>Contract</td>
        <td>{% include columns/col-contract.html %}</td>
      </tr>
       <tr>
        <td>Confirmed</td>
        <td>Indicates whether a Fill is confirmed (true) or unconfirmed (false).</td>
      </tr>
       <tr>
        <td>Counterparty</td>
        <td>{% include columns/col-counterparty.html %}</td>
      </tr>
      <tr>
        <td>Current User</td>
        <td>{% include columns/col-current-user.html %}</td>
      </tr>
      <tr>
        <td>CustOrderHandlingInstr</td>
        <td>{% include columns/col-custorderhandlinginstr.html %}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{% include columns/col-date.html %}</td>
      </tr>
      <tr>
      <td>D.E.A.</td>
      <td>{% include columns/col-mifid-dea.html %}</td>
    </tr>
     <tr>
      <td>DealDate</td>
      <td>{% include columns/col-dealdate.html %}</td>
    </tr>
    <tr>
      <td>DealTime</td>
      <td>{% include columns/col-dealtime.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_1</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_2</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_3</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_4</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_5</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_6</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_7</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_8</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_9</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_10</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>End</td>
      <td>{% include columns/col-end.html %}</td>
    </tr>

      <tr>
        <td>Exch</td>
        <td>{% include columns/col-exchange.html %}</td>
      </tr>
      <tr>
        <td>ClearingAcct</td>
        <td>{% include columns/col-clearing-acct.html %}</td>
      </tr>
        <tr>
        <td>ExchDate</td>
        <td>{% include columns/col-exch-date.html %}</td>
      </tr>
      <tr>
        <td>ExchTime</td>
        <td>{% include columns/col-exch-time.html %}</td>
      </tr>
      <tr>
        <td id="exlatency">ExchLatency</td>
        <td>{% include columns/col-exch-latency.html %}</td>
      </tr>
      <tr>
        <td>ExchOrderID</td>
        <td>{% include columns/col-exch-order-id.html %}</td>
      </tr>
       <tr>
        <td>ExchTransId</td>
        <td>{% include columns/col-exch-trans-id.html %}</td>
      </tr>

<tr>
      <td>ExecDec</td>
      <td>{% include columns/col-mifid-ExecDec.html %}</td>
    </tr>
      <tr>
        <td>ExeQty</td>
        <td>{% include columns/col-exe-qty.html %}</td>
      </tr>
      <tr>
        <td>ExecType</td>
        <td>{% include columns/col-exec-type.html %}</td>
      </tr>
      <tr>
        <td>Fill Qty</td>
        <td>{% include columns/col-fill-qty.html %}</td>
      </tr>
      <tr>
        <td>Give Up</td>
        <td>{% include columns/col-give-up.html %}</td>
      </tr>
      <tr>
      <td>InvestDec</td>
      <td>{% include columns/col-mifid-InvestDec.html %}</td>
    </tr>
      <tr>
      <td>LiqProv</td>
      <td>{% include columns/col-mifid-LiqProv.html %}</td>
    </tr>
      <tr>
        <td>Manual Fill</td>
        <td>{% include columns/col-manual-fill.html %}</td>
      </tr>
      <tr>
        <td>Message</td>
        <td>{% include columns/col-message.html %}</td>
      </tr>
      <tr>
        <td>Message Type</td>
        <td>{% include columns/col-message-type.html %}</td>
      </tr>
      <tr>
        <td>Modifier</td>
        <td>{% include columns/col-modifier.html %}</td>
      </tr>
      <tr>
        <td>O/C</td>
        <td>{% include columns/col-oc.html %}</td>
      </tr>
       <tr>
        <td>OMAOrderID</td>
        <td>{% include columns/col-oma-order-id.html %}</td>
      </tr>
      <tr>
        <td>OrdQty</td>
        <td>{% include columns/col-ord-qty.html %}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{% include columns/col-organization.html %}</td>
      </tr>
      <tr>
        <td>OrigDate</td>
        <td>{% include columns/col-origdate.html %}</td>
      </tr>
      <tr>
        <td>Originator</td>
        <td>{% include columns/col-originator.html %}</td>
      </tr>
      <tr>
        <td>OrigTime</td>
        <td>{% include columns/col-origtime.html %}</td>
      </tr>
      <tr>
        <td>P/A</td>
        <td>{% include columns/col-pa.html %}</td>
      </tr>
      <tr>
        <td>Parent ID</td>
        <td>{% include columns/col-parent-id.html %}</td>
      </tr>
        <tr>
      <td>P/C</td>
      <td>{% include columns/col-pc.html %}</td>
    </tr>
      <tr>
        <td>Price</td>
        <td>{% include columns/col-price.html %}</td>
      </tr>
        <tr>
        <td>Product</td>
        <td>{% include columns/col-product.html %}</td>
      </tr>
        <tr>
        <td>ProductType</td>
        <td>{% include columns/col-prod-type.html %}</td>
      </tr>
     <!--  <tr>
        <td>QtyType</td>
        <td>Displays the unit of measure for a Block trade (e.g., contracts, bushels, etc.), but is only populated by trade capture reports (TCRs) on CME Clearport.
</td>
      </tr> -->
      <tr>
        <td>Route</td>
        <td>{% include columns/col-route.html %}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{% include columns/col-status.html %}</td>
      </tr>

       <tr>
        <td>Strike</td>
        <td>{% include columns/col-strike-om.html %}</td>
      </tr>


      <tr>
        <td>SynthStatus</td>
        <td>{% include columns/col-synth-status.html %}</td>
      </tr><!-- 16.1.2 -->
         <tr>
          <td>TextA</td>
          <td>{% include columns/col-texta.html %}</td>
        </tr>
           <!-- 16.1.2 -->
         <tr>
          <td>TextB</td>
          <td>{% include columns/col-textb.html %}</td>
        </tr>
           <tr>
          <td>TextC</td>
          <td>{% include columns/col-textc.html %}</td>
        </tr>
           <!-- 16.1.2 -->
         <tr>
          <td>TextTT</td>
          <td>{% include columns/col-texttt.html %}</td>
        </tr>
      <tr>
        <td>TIF</td>
        <td>{% include columns/col-tif.html %}</td>
      </tr>
      <tr>
        <td id="ttlatency">TTLatency</td>
        <td>{% include columns/col-tt-latency.html %}</td>
      </tr>
      <tr>
        <td>TTOrderID</td>
        <td>{% include columns/col-tt-order-id.html %}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{% include columns/col-time.html %}</td>
      </tr>
      <tr>
      <td>TrdgCap</td>
      <td>{% include columns/col-mifid-trdgcap.html %}</td>
    </tr>
      <tr>
        <td>TrigPrice</td>
        <td>{% include columns/col-trig-prc.html %}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{% include columns/col-type.html %}</td>
      </tr>
      <tr>
        <td>UndQty</td>
        <td>{% include columns/col-und-qty.html %}</td>
      </tr>
      <tr>
        <td>WorkQty</td>
        <td>{% include columns/col-wrk-qty.html %}</td>
      </tr>

















    </tbody>
  </table>
</div>