 <p>In the <b>Display</b> section, the following settings are available:</p>
    <ul>
       
        <li><strong>Colors</strong>: {% include settings/colors.html %}

        	<p>Includes <b>Depth Bids</b> and <b>Depth Asks</b> color options.</p>


        </li>
        
        
        <li>
            <strong>Depth row colors</strong> &mdash; Options to set colors for the following in the Depth widget:
            <ul>
            	<li>Only Bids/Asks columns
            		<li>Entire row
            		</ul>
        </li>
        <li>
            <strong>Bold font</strong>: Enable this setting to use bold text in the widget.
        </li>
    </ul>
<ul>

<li><b>Show Summary Rows</b> &mdash;  Displays rows with the total Bid and Ask quantity at each price level of detailed depth.</li>

<li><b>Show prices for all rows</b> &mdash;  Displays prices for all rows of detailed depth shown in the widget.</li>

</ul>