<div>
  <h4>General</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Include trade capture reports</td>
        <td>Displays trade capture report messages (e.g., NFX block trade reports) in addition to fills in the Fills widget screen. When this option is checked (enabled), trade capture report messages are also displayed in the Fills widget. This option is unchecked (disabled) by default and trade capture reports are not displayed. This setting must be enabled to receive OTC trades executed through Blocktrader to see their fills in the Fills widget and in the Fills panel of the Orders and Fills widget.</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h4>Display</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Colors</td>
        <td>{% include settings/colors.html %} There are separate settings for text and background colors.</td>
      </tr>

       <tr>
        <td>Ignore global Account List broadcasts</td>
        <td>{% include settings/ignore-acct-list.html %}</td>
      </tr>
      <tr>
        <td>Bold font</td>
        <td>Sets the use of bold font for text.</td>
      </tr>
       <tr>
        <td>Italic font for fills</td>
        <td>Sets italic font on all fill rows.</td>
      </tr>
      <tr>
        <td>Show tabs</td>
        <td>Displays the tab bar at the bottom of the widget.</td>
      </tr>
      <tr>
        <td>Highlight new fills (seconds)</td>
        <td>Highlights new fill rows. The highlight color displays for the set number of seconds. Setting the value to zero (0) seconds retains the highlight color until you select the right-click menu option <b>Mark all as seen</b>.</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h4 id="fills-col-desc">Fills column descriptions</h3>
  <p></p>
  <table class="table table-striped table-bordered" border=1>
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Account</td>
        <td>{% include columns/col-account.html %}</td>
      </tr>
      <tr>
        <td>AcctType</td>
        <td>{% include columns/col-acct-type.html %}</td>
      </tr>
      <tr>
      <td>AltExchAcct</td>
      <td>{% include columns/col-alt-exch-acct.html %}</td>
       </tr>
      <tr>
          <td>Broker</td>
          <td>{% include columns/col-broker.html %}</td>
        </tr>
      <tr>
        <td>B/S</td>
        <td>{% include columns/col-bs.html %}</td>
      </tr>
      <tr>
      <td>C.D.I.</td>
      <td>{% include columns/col-mifid-cdi.html %}</td>
    </tr>
    
<tr>
      <td>Client</td>
      <td>{% include columns/col-mifid-client.html %}</td>
    </tr>
      <tr>
      <td>ClOrderID</td>
      <td>{% include columns/col-clorderid.html %}</td>
    </tr>

        <tr>
        <td>Confirmed</td>
        <td>{% include columns/col-confirmed.html %}</td>
      </tr>
      <tr>
        <td>ConnectionID</td>
        <td>{% include columns/col-connection-id.html %}</td>
      </tr>
      <tr>
        <td>Contract</td>
        <td>{% include columns/col-contract.html %}</td>
      </tr>
      <tr>
        <td>CurrentUser</td>
        <td>{% include columns/col-current-user.html %}</td>
      </tr>
       <tr>
        <td>CustOrderHandlingInstr</td>
        <td>{% include columns/col-custorderhandlinginstr.html %}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{% include columns/col-date.html %}</td>
      </tr>
      <tr>
      <td>D.E.A.</td>
      <td>{% include columns/col-mifid-dea.html %}</td>
    </tr>
<tr>
      <td>EchoDC_1</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_2</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_3</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_4</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_5</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_6</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_7</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_8</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_9</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_10</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>End</td>
      <td>{% include columns/col-end.html %}</td>
    </tr>

      <tr>
        <td>Exchange</td>
        <td>{% include columns/col-exchange.html %}</td>
      </tr>
      <tr>
        <td>ExchOrderID</td>
        <td>{% include columns/col-exch-order-id.html %}</td>
      </tr>
      <tr>
        <td>ExchTransID</td>
        <td>{% include columns/col-exch-trans-id.html %}</td>
      </tr>
      <tr>
        <td>ClearingAcct</td>
        <td>{% include columns/col-clearing-acct.html %}</td>
      </tr>
      <tr>
        <td>ExchDate</td>
        <td>{% include columns/col-exch-date.html %}</td>
      </tr>
      <tr>
        <td>ExchTime</td>
        <td>{% include columns/col-exch-time.html %}</td>
      </tr>
      <tr>
      <td>ExecDec</td>
      <td>{% include columns/col-mifid-ExecDec.html %}</td>
    </tr>

      <tr>
        <td>FillQty</td>
        <td>{% include columns/col-fill-qty.html %}</td>
      </tr>
      <tr>
        <td>FillType</td>
        <td>{% include columns/col-fill-type.html %}</td>
      </tr>
      <tr>
        <td>GiveUp</td>
        <td>{% include columns/col-give-up.html %}</td>
      </tr>
      <tr>
      <td>InvestDec</td>
      <td>{% include columns/col-mifid-InvestDec.html %}</td>
    </tr>
    <tr>
      <td>I&Delta;</td>
      <td>{% include columns/col-idelta.html %}</td>
    </tr>
      <tr>
      <td>IV</td>
      <td>{% include columns/col-iv.html %}</td>
    </tr>
      <tr>
      <td>LiqProv</td>
      <td>{% include columns/col-mifid-LiqProv.html %}</td>
    </tr>
      <tr>
        <td>ManualFill</td>
        <td>
          Whether the fill is a result of a:
          <ul>
            <li>(blank): Normal fill</li>
            <li><strong>Manual</strong>: Manual fill</li>
            <li><strong>Transfer</strong>: AOTC position transfer fill</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Modifier</td>
        <td>{% include columns/col-modifier.html %}</td>
      </tr>
      <tr>

        <td>O/C</td>
        <td>{% include columns/col-oc.html %}</td>
      </tr>
       <tr>
        <td>OrderQty</td>
        <td>{% include columns/col-order-qty.html %}</td>
      </tr>
      <tr>
          <tr>
 <td>OrderQty</td>
<td>{% include columns/col-order-qty.html %}</td>
</tr>
<tr>
        <td>Organization</td>
        <td>{% include columns/col-organization.html %}</td>
      </tr>
        <td>Originator</td>
        <td>{% include columns/col-originator.html %}</td>
      </tr>
      <tr>
        <td>P/A</td>
        <td>{% include columns/col-pa.html %}</td>
      </tr>
      <tr>
        <td>P/F</td>
        <td>{% include columns/col-pf.html %}</td>
      </tr>
      <tr>
        <td>ParentID</td>
        <td>{% include columns/col-parent-id.html %}</td>
      </tr>
        <tr>
      <td>P/C</td>
      <td>{% include columns/col-pc.html %}</td>
    </tr>
      <tr>
        <td>Price</td>
        <td>{% include columns/col-price.html %}</td>
      </tr>
      <tr>
        <td>ProdType</td>
        <td>{% include columns/col-prod-type.html %}</td>
      </tr>
      <tr>
        <td>Product</td>
        <td>{% include columns/col-product.html %}</td>
      </tr>
       <tr>
          <td>RiskGroup</td>
          <td>{% include columns/col-riskgroup.html %}</td>
        </tr> 

      <tr>
        <td>Route</td>
        <td>{% include columns/col-fills-route.html %}</td>
     </tr> 
       <tr>
        <td>Strike</td>
        <td>{% include columns/col-strike-om.html %}</td>
      </tr>
         <tr>
          <td>TextA</td>
          <td>{% include columns/col-texta.html %}</td>
        </tr>
           <!-- 16.1.2 -->
         <tr>
          <td>TextB</td>
          <td>{% include columns/col-textb.html %}</td>
        </tr>

          <tr>
          <td>TextC</td>
          <td>{% include columns/col-textc.html %}</td>
        </tr>
           <!-- 16.1.2 -->
         <tr>
          <td>TextTT</td>
          <td>{% include columns/col-texttt.html %}</td>
        </tr>
      
      <tr>
        <td>Time</td>
        <td>{% include columns/col-time.html %}</td>
      </tr>
       <tr>
        <td>Total Vega</td>
        <td>{% include columns/col-total-vega.html %}</td>
      </tr>
      <tr>
      <td>TrdgCap</td>
      <td>{% include columns/col-mifid-trdgcap.html %}</td>
    </tr>

      <tr>
        <td>TTOrderID</td>
        <td>{% include columns/col-tt-order-id.html %}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{% include columns/col-type.html %}</td>
      </tr>
        <tr>
        <td>Und Px</td>
        <td>{% include columns/col-und-px.html %}</td>
      </tr>

















    </tbody>
  </table>
</div>