<div>
  <h4>Confirm settings</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cancel All</td>
        <td>Set whether to require a confirmation when canceling all orders, including all buy orders or all sell orders.</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h4>Display settings</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr hidden>
        <td>Grid font size</td>
        <td>Adjust the font size to suit your preferences and use bold text, if desired.</td>
      </tr>
      <tr>
        <td>Show tabs</td>
        <td>Set whether to display the tab bar at the bottom of the widget</td>
      </tr>
      <tr>
        <td>Set Hedge Manager columns</td>
        <td>Select the <a href="#ob-col-desc">columns</a> you want shown in the Hedge Manager.</td>
      </tr>
      <tr>
        <td>Set Toolbar buttons</td>
        <td>Select the <a href="#ob-buttons-desc">columns</a> you want shown in the Hedge Manager.</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- -->
<div>
  <h4 id="ob-buttons-desc">Order Book toolbar buttons</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Button</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>% Filled</td>
        <td>{% include columns/col-pct-filled.html %}</td>
      </tr>
      <tr>
        <td>Account</td>
        <td>{% include columns/col-account.html %}</td>
      </tr>
      <tr>
        <td>AcctType</td>
        <td>{% include columns/col-acct-type.html %}</td>
      </tr>
      <tr>
        <td>Algo</td>
        <td>{% include columns/col-algo.html %}</td>
      </tr>
      <tr>
        <td>AlgoName</td>
        <td>{% include columns/col-algo-name.html %}</td>
      </tr>
      <tr>
        <td>Avg Price</td>
        <td>{% include columns/col-avg-px.html %}</td>
      </tr>
      <tr>
        <td>B/S</td>
        <td>{% include columns/col-bs.html %}</td>
      </tr>
      <tr>
        <td>Child Orders</td>
        <td>{% include columns/col-child-orders.html %}</td>
      </tr>
      <tr>
        <td>ConnectionID</td>
        <td>{% include columns/col-connection-id.html %}</td>
      </tr>
      <tr>
        <td>Contract</td>
        <td>{% include columns/col-contract.html %}</td>
      </tr>
      <tr>
        <td>Cross</td>
        <td>{% include columns/col-cross.html %}</td>
      </tr>
      <tr>
        <td>Current User</td>
        <td>{% include columns/col-current-user.html %}</td>
      </tr>
      <tr>
        <td>CXL</td>
        <td>{% include columns/col-cxl.html %}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{% include columns/col-date.html %}</td>
      </tr>
      <tr>
        <td>Exch</td>
        <td>{% include columns/col-exchange.html %}</td>
      </tr>
      <tr>
        <td>ClearingAcct</td>
        <td>{% include columns/col-clearing-acct.html %}</td>
      </tr>
      <tr>
        <td>ExchDate</td>
        <td>{% include columns/col-exch-date.html %}</td>
      </tr>
      <tr>
        <td>ExchOrderID</td>
        <td>{% include columns/col-exch-order-id.html %}</td>
      </tr>
      <tr>
        <td>ExchTime</td>
        <td>{% include columns/col-exch-time.html %}</td>
      </tr>
      <tr>
        <td>ExeQty</td>
        <td>{% include columns/col-exe-qty.html %}</td>
      </tr>
      <tr>
        <td>Expander</td>
        <td>{% include columns/col-expander.html %}</td>
      </tr>
      <tr>
        <td>Fill w/ Limit</td>
        <td>{% include columns/col-fill-w-limit.html %}</td>
      </tr>
      <tr>
        <td>Give Up</td>
        <td>{% include columns/col-give-up.html %}</td>
      </tr>
      <tr>
        <td>MDT</td>
        <td>{% include columns/col-mdt.html %}</td>
      </tr>
      <tr>
        <td>Modifier</td>
        <td>{% include columns/col-modifier.html %}</td>
      </tr>
      <tr>
        <td>O/C</td>
        <td>{% include columns/col-oc.html %}</td>
      </tr>
      <tr>
        <td>OMAOrderID</td>
        <td>{% include columns/col-oma-order-id.html %}</td>
      </tr>
      <tr>
        <td>OrdQty</td>
        <td>{% include columns/col-ord-qty.html %}</td>
      </tr>
      <tr>
        <td>Originator</td>
        <td>{% include columns/col-originator.html %}</td>
      </tr>
      <tr>
        <td>Parent ID</td>
        <td>{% include columns/col-parent-id.html %}</td>
      </tr>
      <tr>
        <td>Payup</td>
        <td>{% include columns/col-payup.html %}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{% include columns/col-price.html %}</td>
      </tr>
      <tr>
        <td>Product</td>
        <td>{% include columns/col-product.html %}</td>
      </tr>
      <tr>
        <td>ProductType</td>
        <td>{% include columns/col-prod-type.html %}</td>
      </tr>
      <tr>
        <td>Route</td>
        <td>{% include columns/col-route.html %}</td>
      </tr>
      <tr>
        <td>Select</td>
        <td></td>
        <tr>
          <td>StageMsg</td>
          <td>{% include columns/col-stage-msg.html %}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{% include columns/col-status.html %}</td>
        </tr>
        <tr>
          <td>SynthStatus</td>
          <td>{% include columns/col-synth-status.html %}</td>
        </tr>
      </tr>
      <tr>
        <td>TextA</td>
        <td>{% include columns/col-texta.html %}</td>
      </tr>
      <tr>
        <td>TextB</td>
        <td>{% include columns/col-textb.html %}</td>
      </tr>
      <tr>
        <td>TextTT</td>
        <td>{% include columns/col-texttt.html %}</td>
      </tr>
      <tr>
        <td>TicksAway</td>
        <td>{% include columns/col-ticks-away.html %}</td>
      </tr>
      <tr>
        <td>TIF</td>
        <td>{% include columns/col-tif.html %}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{% include columns/col-time.html %}</td>
      </tr>
      <tr>
        <td>TrigPrice</td>
        <td>{% include columns/col-trig-prc.html %}</td>
      </tr>
      <tr>
        <td>TTOrderID</td>
        <td>{% include columns/col-tt-order-id.html %}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{% include columns/col-type.html %}</td>
      </tr>
      <tr>
        <td>UndQty</td>
        <td>{% include columns/col-und-qty.html %}</td>
      </tr>
      <tr>
        <td>WorkQty</td>
        <td>{% include columns/col-wrk-qty.html %}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- -->
  <div>
    <h4 id="ob-buttons-desc">Order Book toolbar buttons</h4>
    <table class="table table-striped table-bordered" border="1">
      <thead>
        <tr>
          <th>Button</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&lt;space&gt;</td>
          <td>Provides optional visual spacing between two buttons</td>
        </tr>
        <tr>
          <td><img src="Content/btn-cancel.png"></td>
          <td>Deletes the selected orders, or all visible Buys, Sells, or orders. Orders hidden due to filters are not deleted. </td>
        </tr>
        <tr>
          <td><img src="Content/btn-cross-inside.png" alt=""></td>
          <td>Reprices the selected order to cross the inside market.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-fill-w-limit.png" alt=""></td>
          <td>Repriced the selected order to a price level with sufficient liquidity to fill the entire order quantity.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-launch-oma-algo.png" alt=""></td>
          <td>Selects an OMA algo to launch for the selected order.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-add-oma.png" alt=""></td>
          <td>Adds a button to launch an available OMA algo.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-accept.png" alt=""></td>
          <td>Completes a <a href="order-entry-block.html">block order</a> transaction.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-tick-down.png"></td>
          <td>Reprices the selected order downward one tick.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-hold-order.png" alt=""></td>
          <td>Removes an order (native or synthetic) from the market but stores it on the TT order server for later execution. Held orders are stored in short-term memory. If the order server process goes down, the held order information is lost. Until you click the <b>Submit</b> button the order remains held and out of the market.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-inquire.png" alt=""></td>
          <td>Sends an inquiry to the exchange for a <a href="order-entry-block.html">block order</a>.</td>
        </tr>
        <tr hidden>
          <td><img src="Content/btn-launch-algo.png"></td>
          <td>Launches a custom algo for the selected order</td>
        </tr>
        <tr>
          <td><img src="Content/btn-oc.png"></td>
          <td>Indicates the type of position you are establishing with the selected order.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-pause-algo.png"></td>
          <td>Pauses a working algo.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-repeat-order.png"></td>
          <td>Opens an Order Ticket with a replica of the selected order. You can send the same order or alter it as desired.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-resume-algo.png"></td>
          <td>Resumes a paused algo.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-submit-held-order.png" alt=""></td>
          <td>Submits held orders to the exchange. When you submit a held order, it receives a new order number. The Audit Trail indicates if a submit fails.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-tick-up.png"></td>
          <td>Reprices the selected order upward one tick.</td>
        </tr>
        <tr>
          <td><img src="Content/btn-order-history.png"></td>
          <td>Displays the history of activity for the selected order.</td>
        </tr>

         <tr>
          <td><img src="Content/btn-claim1.png"></td>
          <td>Claims a staged order. The user who claims the staged order is the owner.</td>
        </tr>

         <tr>
          <td><img src="Content/btn-unclaim.png"></td>
          <td>Unclaims a staged order. The user who unclaims the staged owner gives up ownership and the order is available to be claimed by another user.</td>
        </tr>


      </tbody>
    </table>
  </div>
