<div>
    
    <p>In the <b>Display</b> section, the following settings are available:</p>
    <ul>
        <li hidden>
            <p><strong>Grid font size</strong>: Adjust the font size to suit your preferences and use bold text, if desired.</p>
        </li>
        <li><strong>Colors</strong>: {% include settings/colors.html %}</li>
        
        
        <li>
            <strong>Depth increment</strong>: Set the number of additional depth levels to show or hide when displaying market depth for an instrument.
        </li>
        <li>
            <strong>Bold font</strong>: Enable this setting to use bold text in the widget.
        </li>
        <li>
            <strong>Color rows by years</strong>: Enable this setting to highlight the contracts that expire within a year.
        </li>
        <li>
            <strong>Price update highlight type</strong>: Sets whether to change the text or background color of a price cell when the price increases or decreases.
            <ul>
              <li><strong>None</strong>: Do not change the colors when a price changes.</li>
              <li><strong>Highlight Text</strong>: Change the price text color when the price changes.</li>
              <li><strong>Highlight Background</strong>: Change the price cell background color when the price changes.</li>
            </ul>
        </li>
        <li>
            <strong>Only show direct prices</strong>: {% include settings/only-show-direct-prices.html %}
        </li>
         <li>
            <strong>View my orders only</strong>: Sets whether or not to hide orders from other traders sharing an account. 
            <b>Note</b>: This setting impacts working orders only and does not affect the net position value.
        </li>
          <li>
            <strong>Include Undisclosed Qty in Working Qty</strong> &mdash; {% include settings/include-undisclosed-qty.html %}

        </li>

        <li>
            <strong>Show tabs</strong>: Sets whether to show tabs at the bottom of the widget.
        </li>
        <li>
            <strong>Set Market Grid columns</strong>: Select the <a href="#mg-col-desc">columns</a> you want shown in the Market Grid.
        </li>
    </ul>
    
        <p>In the <b>Detailed Depth</b> section, the following settings are available:</p>

            {% include settings/detailed-depth-settings.html %}



</div>
<div>
    <h4 id="mg-col-desc">Market Grid column descriptions</h4>
    <p></p>
    <table class="table table-striped table-bordered" border=1>
        <thead>
            <tr>
                <th>Column</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>% Chg</td>
                <td>{% include columns/col-pct-change.html %}</td>
            </tr>
            <tr>
                <td>ADelta</td>
                <td>{% include columns/col-adelta.html %}</td>
            </tr>
            <tr>
                <td>AGamma</td>
                <td>{% include columns/col-agamma.html %}</td>
            </tr>
            <tr>
                <td>AIV</td>
                <td>{% include columns/col-aiv.html %}</td>
            </tr>
            <tr>
                <td>ARho</td>
                <td>{% include columns/col-arho.html %}</td>
            </tr>
            <tr>
                <td>ATheta</td>
                <td>{% include columns/col-atheta.html %}</td>
            </tr>
            <tr>
                <td>AVega</td>
                <td>{% include columns/col-avega.html %}</td>
            </tr>
            <tr>
                <td>Ask</td>
                <td>{% include columns/col-ask.html %}</td>
            </tr>
            <tr>
                <td>AskCnt</td>
                <td>{% include columns/col-askcnt.html %}</td>
            </tr>
             <tr>
                <td>AskMktQty</td>
                <td>{% include columns/col-askmktqty.html %}</td>
            </tr>
            <tr>
                <td>AskQty</td>
                <td>{% include columns/col-ask-qty.html %}</td>
            </tr>
            <tr>
                <td>BDelta</td>
                <td>{% include columns/col-bdelta.html %}</td>
            </tr>
            <tr>
                <td>BGamma</td>
                <td>{% include columns/col-bgamma.html %}</td>
            </tr>
            <tr>
                <td>BIV</td>
                <td>{% include columns/col-biv.html %}</td>
            </tr>
            <tr>
                <td>BRho</td>
                <td>{% include columns/col-brho.html %}</td>
            </tr>
            <tr>
                <td>BTheta</td>
                <td>{% include columns/col-btheta.html %}</td>
            </tr>
            <tr>
                <td>BVega</td>
                <td>{% include columns/col-bvega.html %}</td>
            </tr>
            <tr>
                <td>Bid</td>
                <td>{% include columns/col-bid.html %}</td>
            </tr>
            <tr>
                <td>BidCnt</td>
                <td>{% include columns/col-bidcnt.html %}</td>
            </tr>
              <tr>
                <td>BidMktQty</td>
                <td>{% include columns/col-bidmktqty.html %}</td>
            </tr>
            <tr>
                <td>BidQty</td>
                <td>{% include columns/col-bid-qty.html %}</td>
            </tr>
            <tr>
                <td>CXL All</td>
                <td>{% include columns/col-cancel.html %}</td>
            </tr><tr>
                <td>CXL B</td>
                <td>{% include columns/col-cxl-b.html %}</td>
            </tr><tr>
                <td>CXL S</td>
                <td>{% include columns/col-cxl-s.html %}</td>
            </tr>
            <tr>
                <td>Close</td>
                <td>{% include columns/col-close.html %}</td>
            </tr>
            <tr>
                <td>Contract</td>
                <td>{% include columns/col-contract.html %}</td>
            </tr>
               <tr>
                <td>CumQty</td>
                <td>{% include columns/col-cumqty.html %}</td>
            </tr>
            <tr>
                <td>Delta</td>
                <td>{% include columns/col-delta.html %}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{% include columns/col-description.html %}</td>
            </tr>
            <tr>
                <td>Exch</td>
                <td>{% include columns/col-exchange.html %}</td>
            </tr>
            <tr>
                <td>ExpDate</td>
                <td>{% include columns/col-exp-date.html %}</td>
            </tr>
            <tr>
                <td>Gamma</td>
                <td>{% include columns/col-gamma.html %}</td>
            </tr>
            <tr>
                <td>IV</td>
                <td>{% include columns/col-iv.html %}</td>
            </tr>
            <tr>
                <td>ImpAskQty</td>
                <td>{% include columns/col-imp-ask-qty.html %}</td>
            </tr>
            <tr>
                <td>ImpBidQty</td>
                <td>{% include columns/col-imp-bid-qty.html %}</td>
            </tr>
            <tr>
                <td>IndPrc</td>
                <td>{% include columns/col-ind-prc.html %}</td>
            </tr>
            <tr>
                <td>IndQty</td>
                <td>{% include columns/col-ind-qty.html %}</td>
            </tr>
            <tr>
                <td>IndSettle</td>
                <td>{% include columns/col-ind-settle.html %}</td>
            </tr>
            <tr>
                <td>InstrumentId</td>
                <td>{% include columns/col-instrumentid.html %}</td>
            </tr>
            <tr>
                <td>Last</td>
                <td>{% include columns/col-last.html %}</td>
            </tr>
            <tr>
                <td>LastQty</td>
                <td>{% include columns/col-last-qty.html %}</td>
            </tr>
            <tr>
                <td>Low</td>
                <td>{% include columns/col-low.html %}</td>
            </tr>
            <tr>
                <td>NetChg</td>
                <td>{% include columns/col-net-chng.html %}</td>
            </tr>
            <tr>
                <td>Open</td>
                <td>{% include columns/col-open.html %}</td>
            </tr>
            <tr>
                <td>Pos</td>
                <td>{% include columns/col-pos.html %}</td>
            </tr>
            <tr>
                <td>Settle</td>
                <td>{% include columns/col-settle.html %}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{% include columns/col-status.html %}</td>
            </tr>
            <tr>
                <td>Theta</td>
                <td>{% include columns/col-theta.html %}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{% include columns/col-time-market-grid.html %}</td>
            </tr>

             <tr>
                <td>UndBuys</td>
                <td>{% include columns/col-undbuys.html %}</td>
            </tr>

             <tr>
                <td>UndSells</td>
                <td>{% include columns/col-undsells.html %}</td>
            </tr>
            
            <tr>
                <td>Vega</td>
                <td>{% include columns/col-vega.html %}</td>
            </tr>
            <tr>
                <td>Vol</td>
                <td>{% include columns/col-vol.html %}</td>
            </tr>
            <tr>
                <td>WrkBuys</td>
                <td>{% include columns/col-wrk-buys.html %}</td>
            </tr>
            <tr>
                <td>WrkSells</td>
                <td>{% include columns/col-wrk-sells.html %}</td>
            </tr>
        </tbody>
    </table>
</div>

