<div>
 <h4>Order Entry (local only) settings</h4>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                 <tr>
                    <td>Maximum order quantity</td>
                    <td>Sets the maximum quantity allowed per
                        order.
                    </td>
                </tr>
                <tr>
                    <td>2nd default order quantity</td>
                    <td>Provides the ability to right-click in the <b>Bids</b> and <b>Asks</b> column at a price level to submit an order with a different default order quantity. To enable this feature, you must check the checkbox and type a quantity in the box to the right of this option.
                    </td>
                </tr>
 <tr>
                    <td>Iceberg display quantity</td>
                    <td>Sets the disclosed quantity to display when entering natively supported or TT Iceberg orders.
                    </td>
                </tr>

 <tr>
                    <td>Stop Limit payup ticks from trigger</td>
                    <td>Sets the maximum number of  ticks away from the Stop trigger price to enter the Limit order.
                    </td>
                </tr>
                  <tr>
                  <td>Ignore global Account List broadcasts</td>
                  <td>{% include settings/ignore-acct-list.html %}</td>
                </tr>
 <tr>
                    <td>Save as default</td>
                    <td>
                      <p>The settings in this section apply only to the current widget. To change the default settings for all MD Trader widgets, click <b>Save as default</b>.</p>
                    </td>
                </tr>




                  </tbody>
        </table>
</div>