 <div>
      
 
        <ul>
            <li hidden>
                <p><b>Grid font size</b>: Adjust the font size to suit your preferences and use bold text, if desired.</p>
            </li>
             <li>
                <p><b>Colors</b>: {% include settings/colors.html %}</p>
            </li>
            <li>
                <p><b>Show tabs</b>: Check to show tabs at the bottom of the widget. 
                    Uncheck to hide tabs.</p>
            </li>
             <li>
            <strong>Include Undisclosed Qty in Working Qty</strong> &mdash; {% include settings/include-undisclosed-qty.html %}

        </li>
            <li>
                <p><b>Highlight control point strikes</b>: Enable this setting to highlight the strike prices that reflect the control points on the volatility curve for the Options 
                    month.  </p>
            </li>
            <li>
                <p><b>Highlight trading range of underlying</b>: Check (enable) this setting to highlight the prices the comprise the midpoint of the underlying futures contract. When enabled, the prices are shaded and a green bar is displayed to show the best bid price, and a red bar is displayed to show the best ask for the underlying.</p>
            </li>
            <li>
                <p><b>Round deltas to the nearest whole number</b>: Set whether to round the call and put delta values.</p>
            </li>
            <li>
                <p><b>Highlight at the money strike</b>: Set whether to display a black line at the strike closest to the at-the-money price (underlying price).</p>
            </li>
            <li>
                <p><strong>Display volatility as</strong>: Select whether to display volatility as:</p>
                <ul>
                  <li><strong>Absolute Value</strong>: Show the absolute volatility.</li>
                  <li><strong>Diff From User Curve</strong>: Show volatility using the formula, <em>X - User Curve</em>, where X is the implied, fit, or settle value.</li>
                  <li><strong>Diff From Settle</strong>: Show volatility using the formula, <em>X - Settlement</em>, where X is the implied or fit value.</li>
                </ul>
            </li>
            <li>
                <p><strong>Send spreads to</strong>: Set whether to send spreads to the <a href="sc-strategy-creation-overview.html">Strategy Creation</a> or <a href="blk-blocktrader-overview.html">Blocktrader</a> widget.</p>
            </li>
            <li>
                <p><strong>Highlight LTP for option trades (seconds)</strong>: Set whether, and how long, to highlight the <strong>CLast</strong> or <strong>PLast</strong> price when a trade occurs.</p>
            </li>
            <li>
                <p><strong>Highlight Bid/Ask as TV Approaches (in ticks)</strong>: Set whether to change the background color of the Bid/Ask price to <a href="opc-options-chain-display.html#highlight">white</a> when the theoretical value approaches the market by the selected number of ticks (0, 0.125, 0.25, 0.5, 1, 2, 3, 4, 5). To turn highlighting off, set this value to zero.</p>
            </li>
            <li>
                <p><strong>Highlight Bid/Ask when TV is through (color adjustment interval in ticks)</strong>: Set whether to shade Bid/Ask prices with <a href="opc-options-chain-display.html#highlight">yellow gradients</a> based on how far the theortical value has gone through the market by the selected number of ticks (0, 0.125, 0.25, 0.5, 1, 2, 3, 4, 5). Darker shades indicate more edge. To turn highlighting off, set this value to zero.</p>
            </li>
            <li>
                <p><b>Set Options Chain columns</b>: Select the <a href="#oc-col-desc">columns</a> you want shown in the Market Grid.</p>
            </li>
            <li>
                <p><strong>Set Strategy buttons</strong>: Select which <a href="opc-strategy-creation-in-the-options-chain.html">strategy templates</a> you want to add as quick-access buttons.</p>
            </li>
        </ul>
        
    </div>
    <div>
        <h4 id="oc-col-desc">Options Chain column descriptions</h4>
        <p></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Active</td>
                    <td>{% include columns/col-uv.html %}</td>
                </tr>
               <!-- <tr>
                    <td>TTV</td>
                    <td>{% include columns/col-fv.html %}</td>
                </tr> -->
               
                <tr>
                    <td>IV</td>
                     <td>{% include columns/col-iv.html %}</td>
                </tr>

                  <tr>
                    <td>SV</td>
                    <td>{% include columns/col-sv.html %}</td>
                </tr>
              

           <tr>
                    <td>&Gamma;/&Theta;</td>
                    <td>{% include columns/col-gammatheta.html %}</td>
                </tr>

               
                <tr>
                    <td>Rho</td>
                    <td>{% include columns/col-rho.html %}</td>
                </tr>


                 <tr>
                    <td>Vega</td>
                    <td>{% include columns/col-vega.html %}</td>
                </tr>
                 <tr>
                    <td>Theta</td>
                    <td>{% include columns/col-theta.html %}</td>
                </tr> <tr>
                    <td>Gamma</td>
                    <td>{% include columns/col-gamma.html %}</td>
                </tr> 




                <tr>
                    <td>C&Delta; </td>
                    <td>{% include columns/col-delta.html %}</td>
                </tr>

                <tr>
                    <td>CBidQ</td>
                    <td>{% include columns/col-cbidq.html %}</td>
                </tr>
              


                <tr>
                    <td>CBid</td>
                    <td>{% include columns/col-option-bid.html %}</td>
                </tr>
                 


                <tr>
                    <td>CTV</td>
                    <td>{% include columns/col-ctv.html %}</td>
                </tr>

                <tr>
                    <td>CAsk</td>
                    <td>{% include columns/col-option-ask.html %}</td>
                </tr>
                 


                <tr>
                    <td>CAskQ</td>
                    <td>{% include columns/col-caskq.html %}</td>
                </tr>

                

                  <tr>
                    <td>CVol</td>
                    <td>{% include columns/col-options-vol.html %}</td>
                </tr>


 <tr>
                    <td>CStl</td>
                    <td>{% include columns/col-options-settle.html %}</td>
                </tr>
 
                
  <tr>
                    <td>CLast</td>
                    <td>{% include columns/col-options-last.html %}</td>
                </tr>

                

  <tr>
                    <td>CPos</td>
                    <td>{% include columns/col-cpos.html %}</td>
                </tr>

 <tr>
                    <td>Strike</td>
                    <td>{% include columns/col-strike.html %}</td>
                </tr>
    

                 <tr>
                    <td>PVol</td>
                    <td>{% include columns/col-pvol.html %}</td>
                </tr>


 <tr>
                    <td>PStl</td>
                    <td>{% include columns/col-pstl.html %}</td>
                </tr>
 
                
  <tr>
                    <td>PLast</td>
                    <td>{% include columns/col-plast.html %}</td>
                </tr>

                

  <tr>
                    <td>PPos</td>
                    <td>{% include columns/col-ppos.html %}</td>
                </tr>




                <tr>
                    <td>PBidQ</td>
                    <td>{% include columns/col-pbidq.html %}</td>
                </tr>
              


                <tr>
                    <td>PBid</td>
                    <td>{% include columns/col-pbid.html %}</td>
                </tr>
                 



                
                <tr>
                    <td>PTV</td>
                    <td>{% include columns/col-ptv.html %}</td>
                </tr>

                <tr>
                    <td>PAsk</td>
                    <td>{% include columns/col-pask.html %}</td>
                </tr>


 <tr>
                    <td>PAskQ</td>
                    <td>{% include columns/col-paskq.html %}</td>
                </tr>



<tr>
                    <td>P&Delta; </td>
                    <td>{% include columns/col-pdelta.html %}</td>
                </tr>

                <tr>
                    <td>WrkCBuys</td>
                    <td>{% include columns/col-wrkcbuys.html %}</td>
                </tr><tr>
                    <td>WrkCSells</td>
                    <td>{% include columns/col-wrkcsells.html %}</td>
                </tr><tr>
                    <td>WrkPBuys</td>
                    <td>{% include columns/col-wrkpbuys.html %}</td>
                </tr><tr>
                    <td>WrkPSells</td>
                    <td>{% include columns/col-wrkpsells.html %}</td>
                </tr>

                 <tr>
                    <td>PctGamma</td>
                    <td>{% include columns/col-pctgamma.html %}</td>
                </tr>
                <tr>
                    <td>&Delta; Decay</td>
                    <td>{% include columns/col-delta-decay.html %}</td>
                </tr>
                 <tr>
                    <td>Vanna</td>
                    <td>{% include columns/col-vanna.html %}</td>
                </tr>
                  <tr>
                    <td>Vonna</td>
                    <td>{% include columns/col-vomma.html %}</td>
                </tr>
                 <tr>
                    <td>Zomma</td>
                    <td>{% include columns/col-zomma.html %}</td>
                </tr>
               
                   <tr>
                    <td>OEV</td>
                    <td>{% include columns/col-oev.html %}</td>
                </tr>
                   <tr>
                    <td>Color</td>
                    <td>{% include columns/col-color.html %}</td>
                </tr>
                 


            </tbody>
        </table>
    </div>
