 <p></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>ADelta</td>
                    <td>{% include columns/col-adelta.html %}</td>
                </tr>
                <tr>
                    <td>AGamma</td>
                    <td>{% include columns/col-agamma.html %}</td>
                </tr>
                <tr>
                    <td>AIV</td>
                    <td>{% include columns/col-aiv.html %}</td>
                </tr>
                <tr>
                    <td>ARho</td>
                    <td>{% include columns/col-arho.html %}</td>
                </tr>
                <tr>
                    <td>ATheta</td>
                    <td>{% include columns/col-atheta.html %}</td>
                </tr>
                <tr>
                    <td>AVega</td>
                    <td>{% include columns/col-avega.html %}</td>
                </tr>

                <tr>
                    <td>C AskPrc</td>
                    <td>{% include columns/col-c-askprc.html %}</td>
                </tr>
                  <tr>
                    <td>P AskPrc</td>
                    <td>{% include columns/col-p-askprc.html %}</td>
                </tr>


                <tr>
                    <td>C AskQty</td>
                    <td>{% include columns/col-c-askqty.html %}</td>
                </tr>
                 <tr>
                    <td>P AskQty</td>
                    <td>{% include columns/col-p-askqty.html %}</td>
                </tr>


                <tr>
                    <td>BDelta</td>
                    <td>{% include columns/col-bdelta.html %}</td>
                </tr>
                <tr>
                    <td>BGamma</td>
                    <td>{% include columns/col-bgamma.html %}</td>
                </tr>
                <tr>
                    <td>BIV</td>
                    <td>{% include columns/col-biv.html %}</td>
                </tr>
                <tr>
                    <td>BRho</td>
                    <td>{% include columns/col-brho.html %}</td>
                </tr>
                <tr>
                    <td>BTheta</td>
                    <td>{% include columns/col-btheta.html %}</td>
                </tr>
                <tr>
                    <td>BVega</td>
                    <td>{% include columns/col-bvega.html %}</td>
                </tr>


                <tr>
                    <td>C BidPrc</td>
                    <td>{% include columns/col-c-bidprc.html %}</td>
                </tr>
                  <tr>
                    <td>P BidPrc</td>
                    <td>{% include columns/col-p-bidprc.html %}</td>
                </tr>


                <tr>
                    <td>C BidQty</td>
                    <td>{% include columns/col-c-bidqty.html %}</td>
                </tr>
                <tr>
                    <td>P BidQty</td>
                  <td>{% include columns/col-p-bidqty.html %}</td>
                </tr>


                <tr>
                    <td>C Close</td>
                  <td>{% include columns/col-c-close.html %}</td>
                </tr>
                 <tr>
                    <td>P Close</td>
                          <td>{% include columns/col-p-close.html %}</td>
                </tr>

            

                <tr>
                    <td>Delta</td>
                    <td>{% include columns/col-delta.html %}</td>
                </tr>

              
  <tr>
                    <td>ExpDate</td>
                    <td>{% include columns/col-exp-date.html %}</td>
                </tr>
              
                <tr>
                    <td>Gamma</td>
                    <td>{% include columns/col-gamma.html %}</td>
                </tr>

                 <tr>
                    <td>C High</td>
                    <td>{% include columns/col-c-high.html %}</td>
                </tr>
                <tr>
                    <td>P High</td>
                    <td>{% include columns/col-p-high.html %}</td>
                </tr>
             
             
                <tr>
                    <td>C ImpAskQty</td>
                    <td>{% include columns/col-c-impaskqty.html %}</td>
                </tr>
<tr>
                    <td>P ImpAskQty</td>
                    <td>{% include columns/col-p-impaskqty.html %}</td>
                </tr>


                <tr>
                    <td>C ImpBidQty</td>
                    <td>{% include columns/col-c-impbidqty.html %}</td>
                </tr>
  <tr>
                    <td>P ImpBidQty</td>
                    <td>{% include columns/col-p-impbidqty.html %}</td>
                </tr>


   <tr>
                    <td>IV</td>
                    <td>{% include columns/col-iv.html %}</td>
                </tr>


                <tr>
                    <td>C Last</td>
                    <td>{% include columns/col-c-last.html %}</td>
                </tr>

                <tr>
                    <td>P Last</td>
                    <td>{% include columns/col-p-last.html %}</td>
                </tr>


                <tr>
                    <td>C LastQty</td>
                    <td>{% include columns/col-c-lastqty.html %}</td>
                </tr>
<tr>
                    <td>P LastQty</td>
                    <td>{% include columns/col-p-lastqty.html %}</td>
                </tr>


                <tr>
                    <td>C Low</td>
                    <td>{% include columns/col-c-low.html %}</td>
                </tr>
<tr>
                    <td>P Low</td>
                    <td>{% include columns/col-p-low.html %}</td>
                </tr>


                <tr>
                    <td>C NetChg</td>
                    <td>{% include columns/col-c-netchg.html %}</td>
                </tr>
 <tr>
                    <td>P NetChg</td>
                    <td>{% include columns/col-p-netchg.html %}</td>
                </tr>



                <tr>
                    <td>C Open</td>
                    <td>{% include columns/col-c-open.html %}</td>
                </tr>
 <tr>
                    <td>P Open</td>
                    <td>{% include columns/col-p-open.html %}</td>
                </tr>

                <tr>
                    <td>Pos</td>
                    <td>{% include columns/col-pos.html %}</td>
                </tr>

                <tr>
                    <td>C Settle</td>
                    <td>{% include columns/col-c-settle.html %}</td>
                </tr>
   <tr>
                    <td>P Settle</td>
                    <td>{% include columns/col-p-settle.html %}</td>
                </tr>


                <tr>
                    <td>C Status</td>
                    <td>{% include columns/col-c-status.html %}</td>
                </tr>
                <tr>
                    <td>P Status</td>
                    <td>{% include columns/col-p-status.html %}</td>
                </tr>
 <tr>
                    <td>Strike</td>
                    <td>{% include columns/col-strike.html %}</td>
                </tr>
                <tr>
                    <td>Theta</td>
                    <td>{% include columns/col-theta.html %}</td>
                </tr>

                <tr>
                    <td>Time</td>
                    <td>{% include columns/col-time.html %}</td>
                </tr>

                <tr>
                    <td>Vega</td>
                    <td>{% include columns/col-vega.html %}</td>
                </tr>

                <tr>
                    <td>C Vol</td>
                    <td>{% include columns/col-c-vol.html %}</td>
                </tr>
   <tr>
                    <td>P Vol</td>
                    <td>{% include columns/col-p-vol.html %}</td>
                </tr>

                <tr>
                    <td>C WrkBuys</td>
                    <td>{% include columns/col-c-wrkbuys.html %}</td>
                </tr>
   <tr>
                    <td>P WrkBuys</td>
                    <td>{% include columns/col-p-wrkbuys.html %}</td>
                </tr>

                <tr>
                    <td>C WrkSells</td>
                    <td>{% include columns/col-c-wrksells.html %}</td>
                </tr>
                   <tr>
                    <td>P WrkSells</td>
                    <td>{% include columns/col-p-wrksells.html %}</td>
                </tr>
            </tbody>
        </table>