 <div>
      
 
        <ul>
             <li>
                <p><b>Colors</b>: {% include settings/colors.html %}</p>
            </li>
           
            <li>
                <p><b>Show tabs</b> &mdash; Check to show tabs at the bottom of the widget. 
                    Uncheck to hide tabs.</p>
            </li>

             <li>
                <p><b>Show Total P/L and Mark to Theo</b> &mdash; Shows total P/L in the entire account for all product families with open positions.</p>
            </li>


            <li> <p><b>Ignore global Account List broadcasts</b> &mdash; {% include settings/ignore-acct-list.html %}</p>
            </li>
              <li>
                <p><b>Display underlying adjustments as</b> &mdash; Select an absolute value or percentage adjustment to the price of the underlying. Used for estimating options risk.</p>
            </li>
        
            <li>
                <p><b>Display volatility adjustments as</b> &mdash; Select an absolute value or percentage adjustment to global volatility. Used for estimating options risk.</p>
            </li>

            <li>
                <p><b>Round P/L to nearest whole number</b> &mdash; Rounds P/L and Mark to Theo to the nearest whole number.</p>
            </li>



            <li><p><b>Refresh risk on interval</b> &mdash; Sets an interval to automatically refresh options risk. When checked, the refresh button will be highlighted and flash three times before risk values are refreshed.</li>

            <li><p><b>Refresh on fill</b> &mdash; Sets the widget to refresh options risk when a fill is received.
            </li>

             <li><p><b>Refresh on change to user volatility curve</b> &mdash; Sets the widget to refresh options risk when user volatility is changed.</li>
            </li>
           
        </ul>
        
    </div>
    <div>
        <h4 id="oc-col-desc">Options Risk column descriptions</h4>
        <p></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                 <tr>
                    <td>Expander</td>
                    <td>{% include columns/col-expander1.html %}</td>
                </tr>

                <tr>
                    <td>Bucket</td>
                    <td><p>{% include columns/col-bucket.html %}</p></td>
                </tr>
                  <tr>
                    <td>Position</td>
                    <td><p>{% include columns/col-position.html %}</p></td>
                </tr>
                 <tr>
                    <td>P/L</td>
                    <td><p>{% include columns/col-pnl-or.html %}</p></td>
                </tr>

                 <tr>
                    <td>Mark to Theo</td>
                    <td>{% include columns/col-mark-theo.html %}</td>
                </tr>
                  <tr>
                    <td>Delta</td>
                    <td>{% include columns/col-or-delta.html %}</td>
                </tr>
                 <tr>
                    <td>Delta Decay</td>
                    <td>{% include columns/col-delta-decay.html %}</td>
                </tr>
                 </tr> <tr>
                    <td>Gamma</td>
                    <td>{% include columns/col-gamma.html %}</td>
                </tr> 
                <tr>
                    <td>Vega</td>
                    <td>{% include columns/col-vega.html %}</td>
                </tr>

                 <tr>
                    <td>Theta</td>
                    <td>{% include columns/col-theta.html %}</td>
                 <tr>
                 <tr>
                    <td>Rho</td>
                    <td>{% include columns/col-rho.html %}</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>{% include columns/col-color.html %}</td>
                </tr>
                   
                  <tr>
                    <td>PctGamma</td>
                    <td>{% include columns/col-pctgamma.html %}</td>
                </tr>
                <tr>
                    <td>OEV</td>
                    <td>{% include columns/col-oev.html %}</td>
                </tr>
                


            </tbody>
        </table>
    </div>
