 <div>
      
 
        <ul>
            <li hidden>
                <p><b>Grid font size</b>: Adjust the font size to suit your preferences and use bold text, if desired.</p>
            </li>
             <li>
                <p><b>Colors</b>: {% include settings/colors.html %}</p>
            </li>
            <li>
                <p><b>Show tabs</b>: Check to show tabs at the bottom of the widget. 
                    Uncheck to hide tabs.</p>
            </li>
            <li>
                <p><b>Set Options Trade Monitor columns</b>: Select the <a href="#oc-col-desc">columns</a> you want shown in the widget.</p>
            </li>
        </ul>
        
    </div>
    <div>
        <h4 id="oc-col-desc">Options Trade Monitor column descriptions</h4>
        <p></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Date the trade occurred</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>Time the trade occurred</td>
                </tr>
                <tr>
                    <td>Instrument</td>
                    <td>{% include columns/col-contract.html %}</td>
                </tr>
                <tr>
                    <td>C/P</td>
                    <td>{% include columns/col-cp.html %}</td>
                </tr>
                <tr>
                    <td>Strike</td>
                    <td>{% include columns/col-strike.html %}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{% include columns/col-type.html %}</td>
                </tr>
                <tr>
                    <td>Qty</td>
                    <td>{% include columns/col-qty.html %}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{% include columns/col-price.html %}</td>
                </tr>
                <tr>
                    <td>U TV</td>
                    <td>{% include columns/col-tv.html %}</td>
                </tr>
                <tr>
                    <td>Edge</td>
                    <td>{% include columns/col-edge.html %}</td>
                </tr>
                <tr>
                    <td>UndPx</td>
                    <td>{% include columns/col-undpx.html %}</td>
                </tr>
                <tr>
                    <td>BidQty</td>
                    <td>{% include columns/col-bid-qty.html %}</td>
                </tr>
                <tr>
                    <td>Bid</td>
                    <td>{% include columns/col-bid.html %}</td>
                </tr>
                <tr>
                    <td>Ask</td>
                    <td>{% include columns/col-ask.html %}</td>
                </tr>
                <tr>
                    <td>AskQty</td>
                    <td>{% include columns/col-ask-qty.html %}</td>
                </tr>
                <tr>
                    <td>UV</td>
                    <td>{% include columns/col-uv.html %}</td>
                </tr>
                <tr>
                    <td>IV</td>
                     <td>{% include columns/col-iv.html %}</td>
                </tr>
                <tr>
                    <td>U&Delta;</td>
                    <td>{% include columns/col-udelta.html %}</td>
                </tr>
                <tr>
                    <td>I&Delta;</td>
                    <td>{% include columns/col-idelta.html %}</td>
                </tr>
                <tr>
                    <td>IGamma</td>
                    <td>{% include columns/col-igamma.html %}</td>
                </tr> 
                 <tr>
                    <td>ITheta</td>
                    <td>{% include columns/col-itheta.html %}</td>
                </tr>
                 <tr>
                    <td>IVega</td>
                    <td>{% include columns/col-ivega.html %}</td>
                </tr>
                <tr>
                    <td>IRho</td>
                    <td>{% include columns/col-irho.html %}</td>
                </tr>


            </tbody>
        </table>
    </div>
