<!--
<h4>Confirm settings</h4>
<table class="table table-striped table-bordered" border="1">
  <thead>
    <tr>
      <th>Setting</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cancel All</td>
      <td>Set whether to require a confirmation when canceling all orders, including all buy orders or all sell orders.</td>
    </tr>
  </tbody>
</table>



  <h4>Display settings</h4>
  <table class="table table-striped table-bordered" border="1">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Grid font size</td>
        <td>Adjust the font size to suit your preferences and use bold text, if desired.</td>
      </tr>
      <tr>
        <td>Automatically expand parent orders</td>
        <td>Set whether to display child orders for a parent order automatically.</td>
      </tr>
      <tr>
        <td>Only show working orders</td>
        <td>Set whether to show only actively-working orders, hiding canceled and deleted orders.</td>
      </tr>
      <tr>
        <td>Show tabs</td>
        <td>Set whether to display the tab bar at the bottom of the widget</td>
      </tr>
      <tr>
        <td>Set Order Book columns</td>
        <td>Select the <a href="#ob-col-desc">columns</a> you want shown in the Order Book.</td>
      </tr>
      <tr>
        <td>Set Order Toolbar buttons</td>
        <td>Select the <a href="#ob-buttons-desc">columns</a> you want shown in the Order Book.</td>
      </tr>
    </tbody>
  </table>


<h4 id="ob-buttons-desc">Order Book toolbar buttons</h4>
<table class="table table-striped table-bordered" border="1">
  <thead>
    <tr>
      <th>Button</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&lt;space&gt;</td>
      <td>Provides optional visual spacing between two buttons</td>
    </tr>
    <tr>
      <td>Accept block order</td>
      <td>Completes a block order transaction.</td>
    </tr>
    <tr>
      <td>Cancel</td>
      <td>Deletes the selected orders, or all visible Buys, Sells, or orders. Orders hidden due to filters are not deleted. </td>
    </tr>
    <tr>
      <td>Down Tick Price</td>
      <td>Reprices the selected order downward one tick.</td>
    </tr>
    <tr>
      <td>Hold</td>
      <td>Removes an order (native or synthetic) from the market but stores it on the TT Gateway for later execution. Held orders are stored in short-term memory. If the Gateway Order Server process goes down, the held order information is lost. Until you click the Submit button the order remains held and out of the market.</td>
    </tr>
    <tr>
      <td>Inquire</td>
      <td>Sends an inquiry to the exchange for a block order.</td>
    </tr>
    <tr>
      <td>Launch OMA Algo</td>
      <td>Launches a custom algo for the selected order</td>
    </tr>
    <tr>
      <td>Open/Close</td>
      <td>Indicates the type of position you are establishing with the selected order.</td>
    </tr>
    <tr>
      <td>Pause</td>
      <td>Pauses a working algo.</td>
    </tr>
    <tr>
      <td>Repeat order</td>
      <td>Opens the Floating Order Pane with a replica of the selected order. You can send the same order or alter it as desired.</td>
    </tr>
    <tr>
      <td>Resume</td>
      <td>Resumes a paused algo.</td>
    </tr>
    <tr>
      <td>Submit held order</td>
      <td>Submits held orders to the exchange. When you submit a held order, it receives a new order number. The Audit Trail indicates if a submit fails.</td>
    </tr>
    <tr>
      <td>Up Tick Price</td>
      <td>Reprices the selected order upward one tick.</td>
    </tr>
    <tr>
      <td>View Order Details (?)</td>
      <td>Displays the details and history of activity for the selected order.</td>
    </tr>
  </tbody>
</table>
-->

<h4 id="ob-col-desc">Order Book column descriptions</h4>
<p></p>
<table class="table table-striped table-bordered" border=1>
  <thead>
    <tr>
      <th>Column</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
       <tr>
      <td><img src="Content/of-view-button.png" alt=""></td>
      <td>{% include columns/col-watch.html %}</td>
    </tr>
    <tr>
      <td>%</td>
      <td>{% include columns/col-pct-filled.html %}</td>
    </tr>
    <tr>
      <td>Account</td>
      <td>{% include columns/col-account.html %}</td>
    </tr>
    <tr>
      <td>AcctType</td>
      <td>{% include columns/col-acct-type.html %}</td>
    </tr>
    <tr>
      <td>Algo</td>
      <td>{% include columns/col-algo.html %}</td>
    </tr>
    <tr>
      <td>AlgoName</td>
      <td>{% include columns/col-algo-name.html %}</td>
    </tr>
    <tr>
      <td>AltExchAcct</td>
      <td>{% include columns/col-alt-exch-acct.html %}</td>
       </tr>
    <tr>
      <td>AskPrc</td>
      <td>{% include columns/col-ask.html %}</td>
    </tr>
    <tr>
      <td>Avg Price</td>
      <td>{% include columns/col-avg-px.html %}</td>
    </tr>
     <tr>
      <td>BidPrc</td>
      <td>{% include columns/col-bid.html %}</td>
    </tr>
    <tr>
      <td>B/S</td>
      <td>{% include columns/col-bs.html %}</td>
    </tr>
    <tr>
      <td>Broker</td>
      <td>{% include columns/col-broker.html %}</td>
    </tr>

    <tr>
      <td>Caretaker</td>
      <td>{% include columns/col-caretaker.html %}</td>
    </tr>

    <tr>
      <td>C.D.I.</td>
      <td>{% include columns/col-mifid-cdi.html %}</td>
    </tr>

    <tr>
      <td>CXL</td>
      <td>{% include columns/col-cxl.html %}</td>
    </tr>
    <tr>
      <td>Child Orders</td>
      <td>{% include columns/col-child-orders.html %}</td>
    </tr>
    <tr>
      <td>ClearingAcct</td>
      <td>{% include columns/col-clearing-acct.html %}</td>
    </tr>
    <tr>
      <td>Client</td>
      <td>{% include columns/col-mifid-client.html %}</td>
    </tr>
      <tr>
      <td>ClOrderID</td>
      <td>{% include columns/col-clorderid.html %}</td>
    </tr>


      <tr>
        <td>ConnectionID</td>
        <td>{% include columns/col-connection-id.html %}</td>
      </tr>
    <tr>
      <td>Contract</td>
      <td>{% include columns/col-contract.html %}</td>
    </tr>
    <tr>
      <td>Current User</td>
      <td>{% include columns/col-current-user.html %}</td>
    </tr>
    <tr>
        <td>CustOrderHandlingInstr</td>
        <td>{% include columns/col-custorderhandlinginstr.html %}</td>
      </tr>
    <tr>
      <td>Date</td>
      <td>{% include columns/col-date.html %}</td>
    </tr>

    <tr>
      <td>D.E.A.</td>
      <td>{% include columns/col-mifid-dea.html %}</td>
    </tr>
<tr>
      <td>Description</td>
      <td>{% include columns/col-description.html %}</td>
    </tr>
  

    <tr>
      <td>Dest Group</td>
      <td>{% include columns/col-dest-group.html %}</td>
    </tr>
<tr>
      <td>EchoDC_1</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_2</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_3</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_4</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_5</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_6</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_7</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_8</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_9</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>EchoDC_10</td>
      <td>{% include columns/col-echo-dc.html %}</td>
    </tr>
    <tr>
      <td>End</td>
      <td>{% include columns/col-end.html %}</td>
    </tr>

    <tr>
      <td>Exch</td>
      <td>{% include columns/col-exchange.html %}</td>
    </tr>
    
     <tr>
      <td>ExchDate</td>
      <td>{% include columns/col-exch-date.html %}</td>
    </tr>
    <tr>
      <td>ExchOrderID</td>
      <td>{% include columns/col-exch-order-id.html %}</td>
    </tr>
    <tr>
      <td>ExchTime</td>
      <td>{% include columns/col-exch-time.html %}</td>
    </tr>
    <tr>
      <td>ExecDec</td>
      <td>{% include columns/col-mifid-ExecDec.html %}</td>
    </tr>

    <tr>
      <td>ExeQty</td>
      <td>{% include columns/col-exe-qty.html %}</td>
    </tr>
    <tr>
      <td>Expander</td>
      <td>{% include columns/col-expander.html %}</td>
    </tr>
    <tr>
      <td>Give Up</td>
      <td>{% include columns/col-give-up.html %}</td>
    </tr>
    <tr>
      <td>InvestDec</td>
      <td>{% include columns/col-mifid-InvestDec.html %}</td>
    </tr>
    <tr>
      <td>LiqProv</td>
      <td>{% include columns/col-mifid-LiqProv.html %}</td>
    </tr>
     <tr>
      <td>LTP</td>
      <td>{% include columns/col-last.html %}</td>
    </tr>
    <tr>
      <td>Modifier</td>
      <td>{% include columns/col-modifier.html %}</td>
    </tr>
    <tr>
      <td>O/C</td>
      <td>{% include columns/col-oc.html %}</td>
    </tr>
    <tr>
      <td>OrdQty</td>
      <td>{% include columns/col-ord-qty.html %}</td>
    </tr>
    <tr>
        <td>Organization</td>
        <td>{% include columns/col-organization.html %}</td>
      </tr>
      <tr>
        <td>OrigDate</td>
        <td>{% include columns/col-origdate.html %}</td>
      </tr>

    <tr>
      <td>Original Group</td>
      <td>{% include columns/col-original-group.html %}</td>
    </tr>

      <tr>
        <td>Originator</td>
        <td>{% include columns/col-originator.html %}</td>
      </tr>
      <tr>
        <td>OrigTime</td>
        <td>{% include columns/col-origtime.html %}</td>
      </tr>
    <tr>
      <td>Parent ID</td>
      <td>{% include columns/col-parent-id.html %}</td>
    </tr>

     <tr>
      <td>Pass State</td>
      <td>{% include columns/col-pass-state.html %}</td>
    </tr>

     <tr>
      <td>P/C</td>
      <td>{% include columns/col-pc.html %}</td>
    </tr>

     <tr>
      <td>PIQ</td>
      <td>{% include columns/col-piq.html %}</td>
    </tr>

    <tr>
      <td>Price</td>
      <td>{% include columns/col-price.html %}</td>
    </tr>
    
    <tr>
      <td>Previous Group</td>
      <td><p>{% include columns/col-previous-group.html %}</p></td>
    </tr>
      <tr>
      <td>RemQty</td>
      <td>{% include columns/col-remqty.html %}</td>
    </tr>
    <tr>
      <td>Route</td>
      <td>{% include columns/col-route.html %}</td>
    </tr>
     <td>Start</td>
      <td>{% include columns/col-start.html %}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{% include columns/col-status.html %}</td>
    </tr>
    <tr>
      <td>SynthStatus</td>
      <td>{% include columns/col-synth-status.html %}</td>
    </tr>

       <tr>
        <td>Strike</td>
        <td>{% include columns/col-strike-om.html %}</td>
      </tr>

         <tr>
          <td>TextA</td>
          <td>{% include columns/col-texta.html %}</td>
        </tr>
          

         <tr>
          <td>TextB</td>
          <td>{% include columns/col-textb.html %}</td>
        </tr>


         <tr>
          <td>TextC</td>
          <td>{% include columns/col-textc.html %}</td>
        </tr>

         <tr>
          <td>TextTT</td>
          <td>{% include columns/col-texttt.html %}</td>
        </tr>
          <tr>
      <td>Ticks From Inside</td>
      <td>{% include columns/col-ticks-from-inside.html %}</td>
    </tr>
    <tr>
      <td>TIF</td>
      <td>{% include columns/col-tif.html %}</td>
    </tr>
    <tr>
      <td>TTOrderID</td>
      <td>{% include columns/col-tt-order-id.html %}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{% include columns/col-time.html %}</td>
    </tr>

    <tr>
      <td>TrdgCap</td>
      <td>{% include columns/col-mifid-trdgcap.html %}</td>
    </tr>

    <tr>
      <td>TrigPrice</td>
      <td>{% include columns/col-trig-prc.html %}</td>
    </tr>
     <tr>
                    <td>TriggerQty</td>
                    <td>{% include columns/col-trigger-qty.html %}</td>
                </tr>
                <tr>
                    <td>TriggerPrcType</td>
                    <td>{% include columns/col-trigger-price-type.html %}</td>
                </tr>
    <tr>
      <td>Type</td>
      <td>{% include columns/col-type.html %}</td>
    </tr>
    <tr>
      <td>UndQty</td>
      <td>{% include columns/col-und-qty.html %}</td>
    </tr>
    <tr>
      <td>WorkQty</td>
      <td>{% include columns/col-wrk-qty.html %}</td>
    </tr>




  </tbody>
</table>