

<h3>Order Entry</h3>

<p>
    <b>Enable single click order entry</b> &mdash; Displays the order entry panel in Spread Matrix and allows single click order entry.</p>


<h3>Layout</h3>
<ul>

  <li>
    <b>Show outright LTP</b> &mdash; Toggles the display of the <strong>Last</strong> column in vertical mode to show the last traded price (LTP). Display as either "Price" or "Net Change", which is the difference between the last traded price and the settlement price for the instrument.
  </li>

  <li>
    <b>Show outright prices across the top</b> &mdash; Displays outright cells at the top of matrix as either "Price" or "Net Change", which is the difference between the last traded price and the settlement price for the instrument. 
  </li>
  <li>
    <b>Show outright prices across the diagonal</b> &mdash; Displays outright cells diagonally below the spread prices. Outrights can be displayed as "Price" or "Net Change", which is the difference between the last traded price and the settlement price for the instrument. 
  </li>

 <li>
    <b>Show prices above quantities</b> &mdash; Displays the bid and ask prices above the bid and ask quantities for each spread and outright.
  </li>
    <li>
    <b>Show positions</b> &mdash; Displays a long or short net position in an outright instrument
  </li>
   <li>
    <b>Show direct and implied quantities on hover</b> &mdash; Displays implied and direct quantities on mouse hover over a particular price in an Outright or Spread cell. Cells showing implied and direct quantities are shaded based on the <b>Colors</b> settings.
  </li>
 </ul>

<h3>Market Data</h3>

<ul>
 <li>
    <b>Show spread prices as net change</b> &mdash; Displays spread prices as the difference between the last traded price and the settlement price for the instrument.
  </li>
   <li>
    <b>Only show direct prices</b> &mdash; {% include settings/only-show-direct-prices.html %}
  </li>

 <li>
    <b>Show implieds with asterisk (*)</b> &mdash; Display an asterisk next to quantities that are partially or completely implied. Valid only when the <strong>Only show direct prices</strong> setting is disabled.</b>
  </li>
</li>
</ul>

<h3>Display</h3>

<ul>
  <li><b>Colors</b>: {% include settings/colors.html %}</li>

  <li>
      <b>Bold font</b>: Enable this setting to use bold text in the widget.
  </li>
  <li>
    <b>Cell highlight type</b> &mdash; Sets whether to highlight <b>Net change</b> or <b>Implied prices/quantities</b> with colors selected in the <b>Colors</b> palette. The default setting is <b>None</b>.
  </li>
 

 
  <li>
    <b>Show tabs</b> &mdash; Check this option to enable tabs in the Spread Matrix or uncheck to hide the tabs
  </li>
</ul>