<div>
	<ul>
			<li hidden>
				<p><b>Grid font size</b>: Adjust the font size to suit your preferences and use bold text, if desired.</p>
			</li>
			<li><b>Colors</b>: {% include settings/colors.html %}</li> 
			<li><b>Highlight quantities &gt;=</b>: Highlight the row when a transaction quantity equals or exceeds this value.</li>
			<li><b>Show milliseconds</b>: Check to show millisecond accuracy in the Time column. When checked, you have the option to set <b>Show microseconds</b> to display microseconds in the Time column.</li>
			<li><b>Launch floating order entry on left click on price or quantity.</b>: Check to open the <a href="prf-orders-preferences.html">default floating order entry widget</a> when a user clicks on a price or quantity.</li>
			<li><b>Accumulate trades by time (1 sec)</b>: Check to accumulate individual traded quantities at the same price level and buy/sell direction into an total traded quantity within the past 1 second interval. Uncheck to display all individual trades as they occur.</li>
			<li><b>Historical Data</b>: Check to include or exclude historical data.</li>
			<li>
				<p><b>SetTime and Sales columns</b>: Select the <a href="#ts-col-desc">columns</a> you want shown in Time &amp; Sales.</p>
			</li>
		</ul>
	</div>
	<div>
		<h3 id="ts-col-desc">Time &amp; Sales column descriptions</h3>
		<table class="table table-striped table-bordered" border=1>
			<tr>
				<th>Column</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>Date</td>
				<td>Date the event took place, based on the current date set on the local workstation.</td>
			</tr>
			<tr>
				<td>Time</td>
				<td>Time the event took place, based on the current time set on the local workstation.</td>
			</tr>
			<tr>
				<td>Contract</td>
				<td>Name of the contract.</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>Buy/Sell price of the product.</td>
			</tr>
			<tr>
				<td>Product</td>
                <td>{% include columns/col-product.html %}</td>
			</tr>
			<tr>
				<td>Quantity</td>
				<td>Quantity of the product that was bought/sold.</td>
			</tr>
			<tr>
				<td>Term</td>
                <td>{% include columns/col-term.html %}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>Order type (i.e., Vole, Block, Basis). A unique identifier for OTC trade types is displayed to help differentiate between the different OTC order types.</td>
			</tr>
		</table>
	</div>