     <h2 id="settings">Display settings</h2>
    
    <ul>
        <li hidden>
            <b>Grid font size</b>: Adjust the font size to suit your preferences and use bold text, if desired.
        </li>
     <li><b>Colors</b>: {% include settings/colors.html %}</li> 
      <li>
                <b>Bold font</b>: Sets whether to use bold font for text. 
            </li>


            <li>
                <b>Depth increment</b>: Set the number of additional depth levels to show or hide when displaying market depth for an instrument.
            </li>
          
            <li>
                <b>Highlight price cells in update</b>: Enable this setting to highlight a price cell every time it updates.
            </li>
            <li>
             <b>Only show direct prices</b> &mdash; {% include settings/only-show-direct-prices.html %}
            </li>
           
            <li>
                <b>Set Watchlist columns</b>: Select the <a href="#wl-columns">columns</a> you want shown in the Market Grid.
            </li>
        </ul>


   <h3 id="wl-columns">Watchlist column descriptions</h3>
        <p></p>
        <table class="table table-striped table-bordered" border=1>
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Instrument</td>
                    <td>Options instrument</td>
                </tr>
                 <tr>
                    <td>% Chg</td>
                    <td>{% include columns/col-pct-change.html %}</td>
                </tr>
                <tr>
                    <td>ADelta</td>
                    <td>{% include columns/col-adelta.html %}</td>
                </tr>
                  <tr>
                    <td>AGamma</td>
                    <td>{% include columns/col-agamma.html %}</td>
                </tr>

                 <tr>
                    <td>AIV</td>
                    <td>{% include columns/col-aiv.html %}</td>
                </tr>
                 <tr>
                    <td>ARho</td>
                    <td>{% include columns/col-arho.html %}</td>
                </tr>
                 <tr>
                    <td>ATheta</td>
                    <td>{% include columns/col-atheta.html %}</td>
                </tr>
                 <tr>
                    <td>AVega</td>
                    <td>{% include columns/col-avega.html %}</td>
                </tr>
                 <tr>
                    <td>Ask</td>
                    <td>{% include columns/col-ask.html %}</td>
                </tr>
                  <tr>
                    <td>AskCnt</td>
                    <td>{% include columns/col-askcnt.html %}</td>
                </tr>

                 <tr>
                    <td>AskQty</td>
                    <td>{% include columns/col-ask-qty.html %}</td>
                </tr>


                <tr>
                    <td>BDelta</td>
                    <td>{% include columns/col-bdelta.html %}</td>
                </tr>
                  <tr>
                    <td>BGamma</td>
                    <td>{% include columns/col-bgamma.html %}</td>
                </tr>

                 <tr>
                    <td>BIV</td>
                    <td>{% include columns/col-biv.html %}</td>
                </tr>
                 <tr>
                    <td>BRho</td>
                    <td>{% include columns/col-brho.html %}</td>
                </tr>
                 <tr>
                    <td>BTheta</td>
                    <td>{% include columns/col-btheta.html %}</td>
                </tr>
                 <tr>
                    <td>BVega</td>
                    <td>{% include columns/col-bvega.html %}</td>
                </tr>

                 <tr>
                    <td>Bid</td>
                    <td>{% include columns/col-ask.html %}</td>
                </tr>
                  <tr>
                    <td>BidCnt</td>
                    <td>{% include columns/col-askcnt.html %}</td>
                </tr>

                 <tr>
                    <td>BidQty</td>
                    <td>{% include columns/col-ask-qty.html %}</td>
                </tr>
                   <tr>
                    <td>Buy Edge</td>
                    <td>{% include columns/col-buy-edge.html %}</td>
                </tr>

                <tr>
                    <td>Close</td>
                    <td>{% include columns/col-close.html %}</td>
                </tr>

                 <tr>
                    <td>Contract</td>
                    <td>{% include columns/col-contract.html %}</td>
                </tr>
                  <tr>
                    <td>Depth Toggle</td>
                    <td>{% include columns/col-depth-toggle.html %}</td>
                </tr>
                 <tr>
                    <td>Description</td>
                    <td>{% include columns/col-description.html %}</td>
                </tr>
                  <tr>
                    <td>Exch</td>
                    <td>{% include columns/col-exchange.html %}</td>
                </tr>
                 <tr>
                    <td>ExpDate</td>
                    <td>{% include columns/col-exp-date.html %}</td>
                </tr>
                   <tr>
                    <td>High</td>
                    <td>{% include columns/col-high.html %}</td>
                </tr>
                 <tr>
                    <td>High</td>
                    <td>{% include columns/col-high.html %}</td>
                </tr>
                 <tr>
                    <td>IDelta</td>
                    <td>{% include columns/col-idelta.html %}</td>
                </tr>
                <tr>
                    <td>IGamma</td>
                    <td>{% include columns/col-igamma.html %}</td>
                </tr>
                  <tr>
                    <td>IRho</td>
                    <td>{% include columns/col-irho.html %}</td>
                </tr>
                  <tr>
                    <td>ITheta</td>
                    <td>{% include columns/col-itheta.html %}</td>
                </tr>
                  <tr>
                    <td>IV</td>
                    <td>{% include columns/col-iv.html %}</td>
                </tr>
                <tr>
                    <td>IVega</td>
                    <td>{% include columns/col-ivega.html %}</td>
                </tr>
                 <tr>
                    <td>ImpAskQty</td>
                    <td>{% include columns/col-imp-ask-qty.html %}</td>
                </tr>
                  <tr>
                    <td>ImpBidQty</td>
                    <td>{% include columns/col-imp-bid-qty.html %}</td>
                </tr>
                   <tr>
                    <td>ImpBidQty</td>
                    <td>{% include columns/col-imp-bid-qty.html %}</td>
                </tr>
                 <tr>
                    <td>IndPrc</td>
                    <td>{% include columns/col-ind-prc.html %}</td>
                </tr>
                <tr>
                    <td>IndSettle</td>
                    <td>{% include columns/col-ind-settle.html %}</td>
                </tr>
                 <tr>
                    <td>Last</td>
                    <td>{% include columns/col-last.html %}</td>
                </tr>
                 <tr>
                    <td>LastQty</td>
                    <td>{% include columns/col-last-qty.html %}</td>
                </tr>
                  <tr>
                    <td>Low</td>
                    <td>{% include columns/col-low.html %}</td>
                </tr>
                 <tr>
                    <td>NetChg</td>
                    <td>{% include columns/col-net-chng.html %}</td>
                </tr>
                 <tr>
                    <td>Open</td>
                    <td>{% include columns/col-open.html %}</td>
                </tr>
                 <tr>
                    <td>Pos</td>
                    <td>{% include columns/col-pos.html %}</td>
                </tr>
                 <tr>
                    <td>SDelta</td>
                    <td>{% include columns/col-sdelta.html %}</td>
                </tr>
                <tr>
                    <td>SGamma</td>
                    <td>{% include columns/col-sgamma.html %}</td>
                </tr>
                  <tr>
                    <td>SRho</td>
                    <td>{% include columns/col-srho.html %}</td>
                </tr>
                  <tr>
                    <td>STheta</td>
                    <td>{% include columns/col-stheta.html %}</td>
                </tr>
                  <tr>
                    <td>SV</td>
                    <td>{% include columns/col-sv.html %}</td>
                </tr>
                <tr>
                    <td>SVega</td>
                    <td>{% include columns/col-svega.html %}</td>
                </tr>
                  <tr>
                    <td>Sell Edge</td>
                    <td>{% include columns/col-sell-edge.html %}</td>
                </tr>
                   <tr>
                    <td>Settle</td>
                    <td>{% include columns/col-settle.html %}</td>
                </tr>
                   <tr>
                    <td>Status</td>
                    <td>{% include columns/col-status.html %}</td>
                </tr>
                  <tr>
                    <td>TT Delta</td>
                    <td>{% include columns/col-ttdelta.html %}</td>
                </tr>
                <tr>
                    <td>TT Gamma</td>
                    <td>{% include columns/col-ttgamma.html %}</td>
                </tr>
                  <tr>
                    <td>TT Rho</td>
                    <td>{% include columns/col-ttrho.html %}</td>
                </tr>
                  <tr>
                    <td>TT Theta</td>
                    <td>{% include columns/col-tttheta.html %}</td>
                </tr>
                  <tr>
                    <td>TT V</td>
                    <td>{% include columns/col-ttv.html %}</td>
                </tr>
                <tr>
                    <td>TTVega</td>
                    <td>{% include columns/col-ttvega.html %}</td>
                </tr>
                   <tr>
                    <td>Time</td>
                    <td>{% include columns/col-time.html %}</td>
                </tr>
                <tr>
                    <td>UDelta</td>
                    <td>{% include columns/col-udelta.html %}</td>
                </tr>
                <tr>
                    <td>UGamma</td>
                    <td>{% include columns/col-ugamma.html %}</td>
                </tr>
                  <tr>
                    <td>URho</td>
                    <td>{% include columns/col-urho.html %}</td>
                </tr>
                  <tr>
                    <td>UTheta</td>
                    <td>{% include columns/col-utheta.html %}</td>
                </tr>
                  <tr>
                    <td>UV</td>
                    <td>{% include columns/col-uv.html %}</td>
                </tr>
                <tr>
                    <td>UVega</td>
                    <td>{% include columns/col-uvega.html %}</td>
                </tr>
                  <tr>
                    <td>Vol</td>
                    <td>{% include columns/col-vol.html %}</td>
                </tr>
                  <tr>
                    <td>WrkBuys</td>
                    <td>{% include columns/col-wrk-buys.html %}</td>
                </tr>
                  <tr>
                    <td>WrkSells</td>
                    <td>{% include columns/col-wrk-sells.html %}</td>
                </tr>
                  <tr>
                    <td>&Gamma;/&Theta;</td>
                    <td>{% include columns/col-gammatheta.html %}</td>
                </tr>
            </tbody>
        </table>